  <table class="table table-bordered table-striped table-condensed">
    <tr>
      <th>Revision</th><th>Timestamp</th><th>Author</th><th>Entity</th><th>Log Message</th>
    </tr>
    {% for revision in revisions %}
    <tr
      class="state-{{revision['state']}}"
      >
      <td>
        {{
          h.link_to(revision['id'],
            h.url_for(
              controller='revision',
              action='read',
              id=revision['id'])
            )
        }}
        {% if revision_change_state_allowed %}
        <div class="trash-actions">
          <form
            method="POST"
            action="{{ h.url_for(controller='revision',
                action='edit',
                id=revision['id']) }}"
		    id="undelete-{{revision.id}}"
            >
            {% if revision['state']!='deleted' %}
            <button type="submit" name="action" value="delete" class="btn btn-small">Delete</button>
            {% else %}
            <button type="submit" name="action" value="undelete" class="btn btn-small">Undelete</button>
            {% endif %}
          </form>
        </div>
        {% endif %}
      </td>
      <td>{{h.render_datetime(revision['timestamp'], with_hours=True)}}</td>
      <td>{{h.linked_user(revision['author'])}}</td>
      <td>
      {% for pkg in revision['packages'] %}
          <a href="{{h.url_for(controller='package', action='read', id=pkg)}}">{{pkg}}</a>
       {% endfor %}
       {% for grp in revision['groups'] %}
          <a href="{{h.url_for(controller='group', action='read', id=grp)}}">{{grp}}</a>
        {% endfor %}
      </td>
      <td>{{revision['message']}}</td>
    </tr>
    {% endfor %}
  </table>
</html>
