
{% import "macros/form.html" as form %}
{# {% set organizations = h.edc_orgs() %} #}
{% set (organizations,user_suborgs)  = h.get_user_toporgs(user.id) %}

{# set user_suborgs = h.get_user_suborgs(user.id) #}

{% set current_org = data.org or data.group_id %}
{% set org_error = errors.org %}
{% set sub_org_error = errors.sub_org or errors.owner_org %}

<div>

<script type="text/javascript">
	var org_branches = [];
	var i = 0;
	{% for org in organizations %}
		org_branches.push({ id : "{{ org.id }}",
							branches : []});

		{% for branch in h.edc_org_branches(org.id) %}
			{% if branch in user_suborgs %}
				org_branches[i].branches.push({id : "{{ branch.id }}", title : "{{ branch.title }}"});
			{% endif %}
		{% endfor%}
		i++;
	{% endfor %}
</script>

<div class="required control-group control-full {{ " error" if org_error }}">
	<label for="field-org" class="control-label"><span class="control-required">*</span> Organization</label>
	<div class="controls ">
	<select id="field-org" name="org" data-module="autocomplete" onchange="javascript:select_branch(org_branches)">
		<option value='' {% if not selected_org %} selected="selected" {% endif %} disabled>Select an organization</option>
		{% for org in organizations %}
			{% set selected_org = (current_org and current_org == org.id) %}
		<option value="{{ org.id }}" {% if selected_org %} selected="selected" {% endif %}>{{ org.title }} </option>
		{% endfor %}
	</select>
	{% if org_error and org_error is iterable %}
		<span class="group-error error-block">Organization: {{ org_error|join(', ') }}</span>
	{% endif %}
	</div>
</div>

<div id="branch-container" class="control-group control-full {{ " error" if sub_org_error }}">
	<label for="field-sub_org" class="control-label"><span class="control-required">*</span> Sub-Organization</label>
	<div class="controls">
	<select id="field-sub_org" name="sub_org" data-module="autocomplete">
		<option value='' {% if not selected_branch %} selected="selected" {% endif %} disabled>Select a sub-organization</option>
		{% if current_org %}
			{% set branches = h.edc_org_branches(current_org) %}
			{% set current_branch = data.sub_org %}
			{% for branch in branches %}
				{% set selected_branch = (current_branch and current_branch == branch.id) %}
				<option value="{{ branch.id }}" {% if selected_branch %} selected="selected" {% endif %}> {{ branch.title }} </option>
			{% endfor %}
		{% endif %}
	</select>
	{% if sub_org_error and sub_org_error is iterable %}
		<span class="group-error error-block">Organization: {{ sub_org_error|join(', ') }}</span>
	{% endif %}
	</div>
</div>

</div>
