{#
Inserts a stepped progress indicator for the new package form. Each stage can
have one of three states, "uncomplete", "complete" and "active".

stages - A list of states for each of the three stages. Missing stages default
         to "uncomplete".

Example:

    {% snippet 'package/snippets/stages.html', stages=['active'] %}
    {% snippet 'package/snippets/stages.html', stages=['complete', 'active'] %}
    {% snippet 'package/snippets/stages.html', stages=['active', 'complete', 'complete'] %}

#}
{% set s1 = stages[0] or 'active' %}
{% set s2 = stages[1] or 'uncomplete' %}
{% set s3 = stages[2] or 'uncomplete' %}
{% set s4 = stages[3] or 'uncomplete' %}

{% if s1 != 'uncomplete' %}{% set class = 'stage-1' %}{% endif %}
{% if s2 != 'uncomplete' %}{% set class = 'stage-2' %}{% endif %}
{% if s3 != 'uncomplete' %}{% set class = 'stage-3' %}{% endif %}
{% if s4 != 'uncomplete' %}{% set class = 'stage-4' %}{% endif %}

<ol class="stages {{ class }}">
    <li class="first {{ s1 }}" width="28%">
        {% if s1 != 'complete' %}
        <span class="highlight">{{ _('Choose Dataset Type') }}</span>
        {% else %}
        <button class="highlight" name="save" value="go-newtype" type="submit">{{ _('Choose Dataset Type') }}</button>
        {% endif %}
    </li>
  <li class="middle {{ s2 }}" width="26%">
    {% if s2 != 'complete' %}
      <span class="highlight">{{ _('Create dataset') }}</span>
    {% else %}
        {% if s1 == 'active' or s3 == 'active' or s4 == 'active' %}
            <button class="highlight" name="save" value="go-dataset" type="submit">{{ _('Create dataset') }}</button>
        {% else %}
            {% link_for _('Create dataset'), controller='package', action='new', class_="highlight" %}
        {% endif %}
    {% endif %}
  </li>
  <li class="middle {{ s3 }}" width="26%>
    {% if s3 != 'complete' %}
      <span class="highlight">{{ _('Add data') }}</span>
    {% else %}
      {% if s1 == 'active' or s2 == 'active' or s4 == 'active' %}
        {# stage 1 #}
        <button class="highlight" name="save" value="go-resources" type="submit">{{ _('Add data') }}</button>
      {% else %}
        {% link_for _('Add data'), controller='package', action='new', class_="highlight" %}
      {% endif %}
    {% endif %}
  </li>
  <li class="last {{ s4 }}" width="26%>
    {% if s3 != 'complete' %}
      <span class="highlight">{{ _('Additional data') }}</span>
    {% else %}
      {% if s1 == 'active' or s2 == 'active' or s3 == 'active' %}
        {# stage 1 #}
        <button class="highlight" name="save" value="go-metadata" type="submit">{{ _('Additional data') }}</button>
      {% else %}
        {% link_for _('Additional data'), controller='package', action='new', class_="highlight" %}{{ s2 }}
      {% endif %}
    {% endif %}
  </li>
</ol>
