
<li class="resource-item" data-id="{{ res.id }}">
  {% block resource_item_title %}
  <a class="heading" href="{{ h.url_for(controller='package', action='resource_edit', id=pkg.name, resource_id=res.id) }}" title="{{ res.name or res.description }}">
    {{ h.resource_display_name(res) | truncate(50) }}<span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">{{ res.format }}</span>
  </a>
  {% endblock %}

  {% block resource_item_description %}
    <p class="description">
      {% if res.description %}
        {{ h.markdown_extract(res.description, extract_length=80) }}
      {% endif %}
    </p>
  {% endblock %}
</li>
