{% if res.format %}
    <tr>
   		<th scope="row">{{ _('Format') }}</th>
        <td>{{ res.format.lower() }} </td>
    </tr>
{% endif %}

{% if res.edc_resource_type %}
	<tr class="toggle-more">
    	<th scope="row">{{ _('Resource Type') }}</th>
        <td>{{ res.edc_resource_type }}</td>
	</tr>
{% endif %}

{% if res.resource_storage_access_method %}
	<tr class="toggle-more">
    	<th scope="row">{{ _('Resource Storage Access Method') }}</th>
        <td>{{ res.resource_storage_access_method }}</td>
    </tr>
{% endif %}


{% if res.resource_storage_location %}
	<tr class="toggle-more">
    	<th scope="row">{{ _('Resource Storage Location') }}</th>
        <td>{{ res.resource_storage_location }}</td>
    </tr>
{% endif %}


{% if object_name and res_storage_location == 'BCGW Data Store' %}
    <tr>
        <th>Database Object Name</th>
        <td>{{ object_name }}</td>
    </tr>
{% endif %}

{% if record_type == 'Geographic' and res.projection_name %}
    <tr>
        <th>Spatial Reference System</th>
        <td><a href="http://epsg.io/{{ h.get_espg_id(res.projection_name) }}">{{ res.projection_name }}</a></td>
    </tr>
{% endif %}

{% if res.data_collection_start_date %}
    <tr>
        <th>Data Collection Start Date</th>
        <td>{{ h.render_datetime(res.data_collection_start_date) }}</td>
    </tr>
{% endif %}

{% if res.data_collection_end_date %}
    <tr>
        <th>Data Collection End Date</th>
        <td>{{ h.render_datetime(res.data_collection_end_date) }}</td>
    </tr>
{% endif %}