{% ckan_extends %}

{% block wrapper_class %}{{ super() }} dataset-view{% endblock %}


{% block content_primary_nav %}
  {{ super() }}
  <li class="dropdown share-this-record">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-share-alt"></i> Share this Record</a>
    {% snippet "snippets/social.html" %}
  </li>
  <li><a href="#"><i class="icon-rss"></i> RSS</a></li>
{% endblock %}


{% block content_action %}
	{% set record_visibility = pkg.metadata_visibility %}

  	{% if h.check_access('package_update', {'id':pkg.id }) %}
    	{% if record_visibility == '002' %}
    		{% link_for _(''), controller='ckanext.edc_schema.controllers.package:EDCPackageController',
    									action='duplicate', id=pkg.name, class_='btn hidden-sm hidden-xs', icon='copy' %}
    	{% endif %}
    	{% link_for _(''), controller='package', action='edit', id=pkg.name, class_='btn hidden-sm hidden-xs', icon='wrench' %}
  	{% endif %}
{% endblock %}

{% block content %}
  {% block search_input %}
    <form class="search-form search-main">
    <div class="search-input control-group search-giant">
      <input type="text" class="search" name="q" autocomplete="off" placeholder="Search datasets...">
      <button type="submit" value="search">
        <i class="icon-search"></i>
        <span>{{ _('Submit') }}</span>
      </button>
    </div>
  </form>
  {% endblock %}
  {{ super() }}
  {% resource 'edc_resource/edc_dataset_view.js' %}
{% endblock %}


{% block primary_content_inner %}
  {% block package_description %}
    {% if pkg.private %}
      <span class="dataset-private label label-inverse pull-right">
        <i class="icon-lock"></i>
        {{ _('Private') }}
      </span>
    {% endif %}

    {# Displaying Dataset information in colorful markers #}

    {% block package_markers %}
      {% snippet 'package/snippets/markers.html', type=pkg.type, iso_topic_cat=pkg.iso_topic_cat, org=pkg.org, branch=pkg.sub_org %}
    {% endblock %}

    <h1>
      {% block page_heading %}
        {{ pkg.title or pkg.name }}
        {% if pkg.state.startswith('draft') %}
          [{{ _('Draft') }}]
        {% endif %}
      {% endblock %}
    </h1>

    {# Displaying Organization and Branch names #}
    {% block package_org %}
        {% snippet 'package/snippets/org_view.html', org=pkg.org, branch=pkg.sub_org %}
    {% endblock %}

    {% block package_license %}
      <br/>
      Licensed by
      {% snippet "snippets/license.html", pkg_dict=pkg %}
    {% endblock %}

    {% block package_notes %}
      {% if c.pkg_notes_formatted %}
        <div class="notes embedded-content">
          {{ c.pkg_notes_formatted }}
        </div>
      {% endif %}
    {% endblock %}
    {# FIXME why is this here? seems wrong #}
    <span class="insert-comment-thread"></span>
  {% endblock %}

  {% block more_info_links %}
    {% if pkg.more_info %}
      {% snippet "package/snippets/more_info_links.html", links=pkg.more_info %}
    {% endif %}
  {% endblock %}

  {% block package_tags %}
    {% snippet "package/snippets/tags.html", tags=pkg.tags %}
  {% endblock %}

  {% block package_resources %}
    {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}
  {% endblock %}

  {% block package_thumbnail %}
    {% snippet "package/snippets/thumbnail.html", pkg=pkg %}
  {% endblock %}

  {% block map_view %}
  	{% snippet "package/snippets/map_view.html", pkg=pkg %}
  {% endblock %}

  {% block package_additional_info %}
    <h3>Additional Information</h3>
    <div id="additional-information">
      {% block pakage_purpose %}
        {% if pkg.purpose %}
        <h2>Purpose</h2>
        <div id="purpose">
          {{ pkg.purpose }}
        </div>
        {% endif %}
      {% endblock %}

      {# Displaying contact info #}
      {% block package_contacts %}
        {% snippet 'package/snippets/contacts_view.html', contacts=pkg.contacts %}
      {% endblock %}

      {% block security_classification %}
        {% snippet 'package/snippets/security_classification.html', security_class=pkg.security_class, bc_ocio=pkg.bc_ocio, view_audience=pkg.view_audience, download_audience=pkg.download_audience, metadata_visibility=pkg.metadata_visibility, privacy_impact_assessment=pkg.privacy_impact_assessment %}
      {% endblock %}
    <h2>Metadata Information</h2>
    <table class="table dataset_view">
    {% block package_type %}
            <tr>
                <td><strong>Record type</strong></td><td> {{ pkg.type }} </td>
            </tr>
    {% endblock %}

	{% block record_state %}
		<tr>
			<td><strong>Record state</strong></td><td> {{ pkg.edc_state }} </td>
		</tr>
	{% endblock %}

    {# Add our custom country_code field to the dataset read page. #}
    {#
        {% if pkg.get('security_class') %}
        <section id="dataset-security_code" class="resources module-content">
            {% set security_class = h.edc_tag_name('scurity_class', pkg.security_class[0]) %}
            <p><strong>Security class</strong>: {{ security_class }}</p>
        </section>
        {% endif %}
    #}

    {# Showing dates #}
    {% block package_dates %}
        {% snippet 'package/snippets/dates_view.html', pkg=pkg, last_modified = c.pkg_last_modified_date %}
    {% endblock %}

    {% block package_resource_status %}
        {% set resource_status = h.edc_tag_name('resource_status', pkg.resource_status) %}
            <tr>
                <td><strong>Resource Status</strong></td><td> {{ resource_status }} </td>
            </tr>
        {% if pkg.replacement_record %}
            <tr>
                <td><strong>Replacement Record</strong></td><td><a href="{{ pkg.replacement_record }}">{{ pkg.replacement_record }}</a></td>
            </tr>
        {% endif %}
    {% endblock %}

    </table>

  </div>

  {% endblock %}

{% endblock %}


{% block secondary_content %}{% endblock %}
