{% ckan_extends %}

{% block content_action %}
  {% if h.check_access('package_update', {'id':pkg.id }) %}
    {% link_for _('Manage'), controller='package', action='edit', id=pkg.name, class_='btn', icon='wrench' %}
  {% endif %}
{% endblock %}


{% block primary_content_inner %}
  {% block package_description %}
    {% if pkg.private %}
      <span class="dataset-private label label-inverse pull-right">
        <i class="icon-lock"></i>
        {{ _('Private') }}
      </span>
    {% endif %}

    {# Displaying Dataset information in colorful markers #}
    {% block package_markers %}
      {% snippet 'package/snippets/markers.html', type=pkg.type, iso_topic_cat=pkg.iso_topic_cat, org=pkg.org, branch=pkg.sub_org %}
    {% endblock %}

    <h1>
      {% block page_heading %}
        {{ pkg.title or pkg.name }}
        {% if pkg.state.startswith('draft') %}
          [{{ _('Draft') }}]
        {% endif %}
      {% endblock %}
    </h1>

    {# Displaying Organization and Branch names #}
    {% block package_org %}
        {% snippet 'package/snippets/org_view.html', org=pkg.org, branch=pkg.sub_org %}
    {% endblock %}

    {% block package_notes %}
      {% if c.pkg_notes_formatted %}
        <div class="notes embedded-content">
          {{ c.pkg_notes_formatted }}
        </div>
      {% endif %}
    {% endblock %}
    {# FIXME why is this here? seems wrong #}
    <span class="insert-comment-thread"></span>
  {% endblock %}

  {% block more_info_links %}
    {% if pkg.more_info %}
      {% snippet "package/snippets/more_info_links.html", links=pkg.more_info %}
    {% endif %}
  {% endblock %}

  {% block pakage_purpose %}
      {% if pkg.purpose %}
      <div id="purpose">
        <a href="#" class="wb-toggle" data-toggle='{"selector": ".purpose"}'>Purpose <i class="icon-chevron-down"></i></a>
        <div class="purpose off">
          {{ pkg.purpose }}
        </div>
      </div>
      {% endif %}
  {% endblock %}

  {% block package_tags %}
    <div class="clearfix"></div>
    {% snippet "package/snippets/tags.html", tags=pkg.tags %}
  {% endblock %}

  {% block package_license %}
    {% snippet "snippets/license.html", pkg_dict=pkg %}
  {% endblock %}

  {% block package_resources %}
    {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}
  {% endblock %}

  {% block package_thumbnail %}
    {% snippet "package/snippets/thumbnail.html", pkg=pkg %}
  {% endblock %}

  {# block map_view %}
  	{% snippet "package/snippets/map_view.html", pkg=pkg %}
  {% endblock #}

  {% block package_additional_info %}
    <a href="#" class="wb-toggle additional-information-toggle" data-toggle='{"selector": "#additional-information"}'>Additional Information <i class="icon-chevron-down"></i></a>
    <div id="additional-information" class="off">
    <h2>Dataset Information</h2>
    <table class="table dataset_view">
    {% block package_type %}
            <tr>
                <td><strong>Record type</strong></td><td> {{ pkg.type }} </td>
            </tr>
    {% endblock %}
	
	{% block record_state %}
		<tr>
			<td><strong>Record state</strong></td><td> {{ pkg.edc_state }} </td>
		</tr>
	{% endblock %}

    {# Add our custom country_code field to the dataset read page. #}
    {#
        {% if pkg.get('security_class') %}
        <section id="dataset-security_code" class="resources module-content">
            {% set security_class = h.edc_tag_name('scurity_class', pkg.security_class[0]) %}
            <p><strong>Security class</strong>: {{ security_class }}</p>
        </section>
        {% endif %}
    #}

    {# Showing dates #}
    {% block package_dates %}
        {% snippet 'package/snippets/dates_view.html', dates=pkg.dates, last_modified = c.pkg_last_modified_date %}
    {% endblock %}

    {% block package_resource_status %}
        {% set resource_status = h.edc_tag_name('resource_status', pkg.resource_status) %}
            <tr>
                <td><strong>Resource Status</strong></td><td> {{ resource_status }} </td>
            </tr>
        {% if pkg.replacement_record %}
            <tr>
                <td><strong>Replacement Record</strong></td><td> {{ pkg.replacement_record }} </td>
            </tr>
        {% endif %}
    {% endblock %}

    {% block package_update_cycle %}
        {% set update_cycle = h.edc_tag_name('resource_update_cycle', pkg.resource_update_cycle) %}
            <tr>
                <td><strong>Update Cycle</strong></td><td> {{ update_cycle }} </td>
            </tr>
    {% endblock %}

    </table>

    {# Displaying contact info #}
    {% block package_contacts %}
        {% snippet 'package/snippets/contacts_view.html', contacts=pkg.contacts %}
    {% endblock %}

  </div>

  {% endblock %}


{% endblock %}

{% block secondary_content %}
  {% block secondary_help_content %}{% endblock %}

  {% block package_organization %}
    {% if pkg.organization %}
      {% snippet "snippets/organization.html", organization=pkg.organization, has_context_title=true %}
    {% endif %}
  {% endblock %}

  {% block package_social %}
    {% snippet "snippets/social.html" %}
  {% endblock %}

{% endblock %}