{% ckan_extends %}

{% block page_primary_action %}
	{% set user_orgs = h.get_user_orgs(c.userobj.id) or null %}
	{% if h.check_access('package_create') and user_orgs %}
		<div class="page_primary_action">
			{% link_for _('Add Dataset'), controller='ckanext.edc_schema.controllers.package:EDCPackageController', action='typeSelect', class_='btn btn-primary', icon='plus-sign-alt' %}
		</div>
	{% endif %}
{% endblock %}

{% block secondary_content %}
{# snippet "spatial/snippets/spatial_query.html" , default_extent="[[47.55, -139.9], [59.8, -119.6]]" #}

  {% for facet in c.facet_titles %}
	{#
  	{% if facet == 'res_format' %}
  		{{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], label_function=h.edc_format_label, name=facet) }}
  	{% else %}
  	#}
    	{{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet) }}
    {# {% endif %} #}
  {% endfor %}
{% endblock %}
