#solr binary from apache
#version: 4.10.3
#http://archive.apache.org/dist/lucene/solr/4.10.3/solr-4.10.3-src.tgz

##ckanext-spatial
#version 2.0
#instructions => http://ckanext-spatial.readthedocs.org/en/release-v2.0/install.html
#wget url: https://github.com/ckan/ckanext-spatial/archive/release-v2.0.zip
#git url: https://github.com/ckan/ckanext-spatial.git

##datapusher
#version stable
#instructions => http://datapusher.readthedocs.org/en/latest/
#wget url: https://github.com/ckan/datapusher/archive/stable.zip
#git url: https://github.com/ckan/datapusher.git

##ckanext-googleanalytics
#version stable
#instruction => https://github.com/ckan/ckanext-googleanalytics/blob/stable/README.rst
#git url:  https://github.com/bcgov/ckanext-googleanalytics.git

##ckanext-ga-report
#version stable
#instruction => https://github.com/bcgov/ckanext-ga-report/README.rst
#git url:  https://github.com/bcgov/ckanext-ga-report.git

##ckanext-hierarchy
#version stable
#instruction => https://github.com/bcgov/ckanext-hierarchy/README.rst
#git url:  https://github.com/bcgov/ckanext-hierarchy.git

