Babel==2.3.4
Beaker==1.8.1
beakeredis==0.1.0
bleach==1.5.0
cachetools==3.1.1
-e git+https://github.com/ckan/ckan.git@ckan-2.7.5#egg=ckan
-e git+https://github.com/okfn/ckanext-envvars.git@8602376a92a77b4f2d41763b6823d041469fa08e#egg=ckanext_envvars
-e git+https://github.com/bcgov/ckanext-edc-rss.git@v2.0.0#egg=ckanext-edc-rss
-e git+https://github.com/bcgov/ckanext-ga-report@1ddfcdcee5e7a21fe0f756f0942a1cf1b9ad4692#egg=ckanext_ga_report
-e git+https://github.com/bcgov/ckanext-googleanalytics@33356b9dec1ce33374b1004479d2b1c255028120#egg=ckanext_googleanalytics
-e git+https://github.com/bcgov/ckanext-hierarchy@2e80d6790e7bbd95fea3fd1966adbb0f56af1104#egg=ckanext_hierarchy
ckantoolkit
ckanapi
-e git+https://github.com/bcgov/ckanext-sso@d2d0bbe1c3ded9ec0893ce8fb7e848a6ed996f4d#egg=ckanext_sso
-e git+https://github.com/bcgov/ckanext-bcgov-schema@51defa9aec6e3bcfb89ff71805b9fe1800e4a061#egg=ckanext_bcgov_schema
-e git+https://github.com/ckan/ckanext-scheming@1a096dd963424884bbaf70fa28da5c1de058d27d#egg=ckanext_scheming
-e git+https://github.com/open-data/ckanext-repeating@291295557ff74b26784f6271c1a1b4ffdb990f43#egg=ckanext_repeating
-e git+https://github.com/EnviDat/ckanext-composite@23a060b03d2432a58cc66968d93a15f5f1654055#egg=ckanext_composite
click==6.7
decorator==4.0.6
ecdsa==0.13.2
fanstatic==0.12
flask==0.12.4
FormEncode==1.3.0
funcsigs==1.0.2
future==0.17.1
gdata==2.0.18
Genshi==0.7.3
gevent==1.4.0
google-api-python-client==1.7.9
google-auth==1.6.3
google-auth-httplib2==0.0.3
greenlet==0.4.15
gunicorn==19.9.0
html5lib==0.9999999
httplib2==0.12.3
itsdangerous==0.24
Jinja2==2.10.1
Mako==1.0.4
Markdown==2.6.7
MarkupSafe==0.23
nose==1.3.7
oauth2client==4.1.3
ofs==0.4.2
ordereddict==1.1
Pairtree===0.7.1-T
passlib==1.6.5
Paste==1.7.5.1
PasteDeploy==1.5.2
PasteScript==2.0.2
pbr==1.10.0
polib==1.0.7
psycopg2==2.7.3.2
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycurl==7.43.0.1
Pygments==2.1.3
PyJWT==2.4.0
Pylons==0.9.7
pysolr==3.6.0
python-dateutil==1.5
python-jose==3.0.1
python-keycloak==0.16.0
python-keycloak-client==0.1.3
python-magic==0.4.12
pytz==2016.7
pyutilib.component.core==4.6.4
redis==2.10.5
repoze.lru==0.6
repoze.who==2.3
repoze.who-friendlyform==1.0.8
requests==2.22.0
Routes==1.13
rq==0.6.0
rsa==4.0
simplejson==3.10.0
six==1.10.0
SQLAlchemy==0.9.6
sqlalchemy-migrate==0.10.0
sqlparse==0.2.2
Tempita==0.5.2
tzlocal==1.3
unicodecsv==0.14.1
uritemplate==3.0.0
validate-email==1.2
vdm==0.13
WebError==0.13.1
WebHelpers==1.3
WebOb==1.0.8
WebTest==1.4.3
Werkzeug==0.11.10
zope.interface==4.3.2
