{% ckan_extends %}

{%- block scripts %}
  {% resource 'edc_theme/navigation_global.js' %}
{% endblock -%}

{% block styles %}
  {{ super() }}
  {% resource 'edc_theme/edc_theme.css' %}
  {% resource 'edc_theme/cmf_header.css' %}
  {% resource 'edc_theme/cmf_footer.css' %}
  {% resource 'edc_theme/cmf_top_site_navigation.css' %}
  {% resource 'edc_theme/cmf_topic_navigation.css' %}
  {% resource 'edc_theme/cmf_theme_navigation.css' %}
  {% resource 'edc_theme/cmf_oldsites.css' %}
  {% resource 'edc_theme/layout.css' %}
  {% resource 'edc_theme/main.css' %}
  {% resource 'edc_theme/main_dbc.css' %}
{% endblock %}
