    {% if pkg.type == 'Geographic' %}

      {% set object_name = pkg.object_name or '' %}
      {% set object_short_name = pkg.object_short_name or '' %}
      {% set object_table_comments = pkg.object_table_comments or '' %}
      {% set object_details = pkg.details or '' %}

      {% if object_name or object_short_name or object_table_comments or object_details %}
        <h3>Object Description</h3>
        <div id="object-description">
          {% if object_name %}
          <p><strong>Object Name: {{ object_name }}</strong></p>
          {% endif %}
          <p>
            {% if object_short_name %}
            <strong>Short Name</strong>: {{ object_short_name }}<br/>
            {% endif %}

            {% if object_table_comments %}
            <strong>Comments</strong>: {{ object_table_comments }}
            {% endif %}
          </p>
          {% if object_details %}
          <table class="table details">
            <thead>
              <tr>
                <th class="column-name">Column Name</th>
                <th class="short-name">Short Name</th>
                <th class="data-type">Data Type</th>
                <th class="data-precision">Data Precision</th>
                <th class="data-comments">Comments</th>
              </tr>
            </thead>
            <tbody>
              {% for detail in object_details %}
              <tr>
                <td class="column-name">{{ detail['column_name'] }}</td>
                <td class="short-name">{{ detail['short_name'] }}</td>
                <td class="data-type">{{ detail['data_type'] }}</td>
                <td class="data-precision">{{ detail['data_precision'] }}</td>
                <td class="data-comments">{{ detail['column_comments'] }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endif %}
        </div>
      {% endif %}
    {% endif %}

  {% if 'edc_disqus' in g.plugins %}
      {% if (pkg.edc_state.upper() == 'PUBLISHED' or pkg.edc_state.upper() == 'PENDING ARCHIVE') %}
          {% block edc_disqus_comments %}
              {{ h.comments_block() }}
          {% endblock %}
      {% endif %}
  {% endif %}
