{% set marker_strlen = 12 %}
{% set dataset_title = h.record_type_label(type) %}

{% if branch %}
    {% set sector = h.get_suborg_sector(branch) %}
{% endif %}

{% if iso_topic_cat and iso_topic_cat != [] %}
	{% set iso_topic_title = iso_topic_cat[0] %}
{% else %}
	{% set iso_topic_title = None %}
{% endif %}

<ul class="dataset-markers">
    <li class="marker dataset-type {{ type|lower }}"><a href="{{ h.url_for(controller='package', action='search', type=type) }}">{{ dataset_title }}</a></li>
    {% if sector %}
    	{% set sector_length = sector|truncate(marker_strlen+1, False, '')|length %}
    	<li class="marker dataset-sector {{ sector|lower|replace(' ', '-')|replace('.', '-') }}{% if sector_length >= marker_strlen or sector_length == 0 %} small{% endif %}"><a href="{{ h.url_for(controller='package', action='search', sector=sector) }}">{{ sector }}</a></li>
    {% endif %}
    {% if iso_topic_cat and type == 'Geographic' %}
    <li class="marker dataset-iso{% if iso_topic_title|length >= marker_strlen %} small{% endif %}"><a href="{{ h.url_for(controller='package', action='search', q='iso_topic_string:*' + iso_topic_title + '*')}}">{{ iso_topic_title }}</a></li>
    {% endif %}
</ul>