{% set object_name = pkg_dict.object_name %}

{# button for modal is in snippets/resource_form.html #}
{#<a href="#ofi-results" role="button" class="btn btn-primary" data-toggle="modal">View OFI Results</a>#}

<div id="ofi-results" class="modal hide fade" tabindex="-1" role="dialog"
  data-module="ofi_lookup"
  data-module-config=""
  data-module-object-name="{{ object_name }}">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>OFI Testing</h3>
    <h4>Prototype</h4>
  </div>

  <div class="modal-body">
    <form id="ofi-lookup-form" class="form-horizontal">
      <div class="control-group">
        <label for="object-name" class="control-label">{{ _('Object Name') }}</label>
        <div class="controls">
          <input id="object-name" type="text" name="object_name" value="{{ object_name }}" required />
        </div>
        <div class="controls">
          <label class="checkbox inline">
            <input id="secure" type="checkbox" name="secure" checked />
            {{ _('Secure')}}
          </label>
          <label class="checkbox inline">
            <input id="include-creds" type="checkbox" name="include_creds" checked />
            {{ _('Credentials')}}
          </label>
        </div>
      </div>

      <div class="form-actions">
        <button id="search-object" type="submit" for="ofi-lookup-form" class="btn btn-primary" data-loading-text="Searching...">Search</button>
      </div>
    </form>

    <div id="resources">

    </div>

    {# TODO: stop animation when not visible #}
    <div id="loading" class="overlay-wrap">
      <div class="add-data-loader">Loading...</div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button id="add-resource" class="btn btn-primary">Add</button>
  </div>
</div>

{% resource 'edc_resource/ofi/ofi_lookup.js' %}
{% resource 'edc_resource/ofi/ofi_style.css' %}
