{% import 'macros/form.html' as form %}

{% block package_metadata_fields %}

{% resource 'edc_resource/edc_schema.css' %}
{% resource 'edc_resource/edc-image-upload.js' %}

{% if record_type=='Geographic' %}
<h3 class="module-sub-heading">Preview Information</h3>
<div class="control-list">
{% if userobj %}
	{% set user_orgs =  userobj.get_group_ids('organization', 'admin') %}
    {% set is_admin = (data.owner_org in user_orgs) or userobj.sysadmin %}
{% else %}
    {% set is_admin = False %}
{% endif %}

{# set is_admin = (current_org in user_orgs) or (current_suborg in user_orgs) #}

{% if is_admin %}
	{{ form.input('layer_name',
					label=_('Layer name'),
					id='field-layer_name',
					value=data.layer_name,
					error=errors.layer_name,
					classes=['control-medium']) }}

    {{ form.input('preview_latitude',
    				label=_('Preview latitude'),
    				id='field-preview_latitude',
    				placeholder=_('Map preview centriod latitude'),
    				value=data.preview_latitude,
    				error=errors.preview_latitude,
    				classes=['control-medium']) }}

    {{ form.input('preview_longitude',
    				label=_('Preview longitude'),
    				id='field-preview_longitude',
    				placeholder=_('Map preview centriod longitude'),
    				value=data.preview_longitude,
    				error=errors.preview_longitude,
    				classes=['control-medium']) }}

    {{ form.input('preview_map_service_url',
    				label=_("Preview map service URL"),
    				id='field-preview_map_service_url',
    				placeholder=_('Layer alias name for wms service'),
    				value=data.preview_map_service_url,
    				error=errors.preview_map_service_url,
    				classes=['control-medium']) }}

    {{ form.input('preview_zoom_level',
    				label=_("Preview zoom level"),
    				id='field-preview_zoom_level',
    				placeholder=_('Map preview zoom level'),
    				value=data.preview_zoom_level,
    				error=errors.preview_zoom_level,
    				classes=['control-medium']) }}
{% endif %}

    {{ form.input('preview_image_url',
    				label=_("Image URL"),
    				id='field-preview_image_url',
    				placeholder=_('URL for non map service image'),
    				value=data.preview_image_url,
    				error=errors.preview_image_url,
    				classes=['control-medium']) }}

    {{ form.input('link_to_imap',
    				label=_("Link to iMap"),
    				id='field-link_to_imap',
    				placeholder=_(''),
    				value=data.link_to_imap,
    				error=errors.link_to_imap,
    				classes=['control-medium']) }}


</div>
{% endif %}

{% block geographic_extent %}

	{% if record_type=='Geographic' %}
		<h3 class="module-sub-heading">Geographic extent</h3>
		<div class="control-list form-horizontal">
			<div class="row-fluid">
				<div class="span5">
					{% if errors.north_bound_latitude %}
						{% set north_latitude = data.north_bound_latitude %}
						{% set north_latitude_error = errors.north_bound_latitude %}
					{% else %}
						{% set north_latitude =  data.north_bound_latitude or '60.0' %}
						{% set north_latitude = '%0.1f' % north_latitude|float %}
					{% endif %}
					<div class="control-group control-medium">
						<label class="control-label" for="field-north_bound_latitude">North</label>
						<div class="controls">
							<input id="field-north_bound_latitude"
									type="text"
									name="north_bound_latitude"
									value= "{{ north_latitude }}" />
								{% if north_latitude_error and north_latitude_error is iterable %}
								   	 <span class="group-error error-block">{{ north_latitude_error|join(', ') }}</span>
								{% endif %}
						</div>
					</div>
				</div>
				<div class="span5">
					{% if errors.south_bound_latitude %}
						{% set south_latitude = data.south_bound_latitude %}
						{% set south_latitude_error = errors.south_bound_latitude %}
					{% else %}
						{% set south_latitude =  data.south_bound_latitude or '48.0' %}
						{% set south_latitude = '%0.1f' % south_latitude|float %}
					{% endif %}
					<div class="control-group control-medium">
						<label class="control-label" for="field-south_bound_latitude">South</label>
						<div class="controls">
							<input id="field-south_bound_latitude"
									type="text"
									name="south_bound_latitude"
									value= "{{ south_latitude }}" />
								{% if south_latitude_error and south_latitude_error is iterable %}
								   	 <span class="group-error error-block">{{ south_latitude_error|join(', ') }}</span>
								{% endif %}
						</div>
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span5">
					{% if errors.east_bound_longitude %}
						{% set east_longitude = data.east_bound_longitude %}
						{% set east_longitude_error = errors.east_bound_longitude %}
					{% else %}
						{% set east_longitude =  data.east_bound_longitude or '-113.5' %}
						{% set east_longitude = '%0.1f' % east_longitude|float %}
					{% endif %}
					<div class="control-group control-medium">
						<label class="control-label" for="field-east_bound_longitude">East</label>
						<div class="controls">
							<input id="field-east_bound_longitude"
									type="text"
									name="east_bound_longitude"
									value= "{{ east_longitude }}" />
								{% if east_longitude_error and east_longitude_error is iterable %}
								   	 <span class="group-error error-block">{{ east_longitude_error|join(', ') }}</span>
								{% endif %}
						</div>
					</div>
				</div>
				<div class="span5">
					{% if errors.west_bound_longitude %}
						{% set west_longitude = data.west_bound_longitude %}
						{% set west_longitude_error = errors.west_bound_longitude %}
					{% else %}
						{% set west_longitude =  data.west_bound_longitude or '-139.5' %}
						{% set west_longitude = '%0.1f' % west_longitude|float %}
					{% endif %}
					<div class="control-group control-medium">
						<label class="control-label" for="field-west_bound_longitude">West</label>
						<div class="controls">
							<input id="field-west_bound_longitude"
									type="text"
									name="west_bound_longitude"
									value= "{{ west_longitude }}" />
								{% if west_longitude_error and west_longitude_error is iterable %}
								   	 <span class="group-error error-block">{{ west_longitude_error|join(', ') }}</span>
								{% endif %}
						</div>
					</div>
				</div>
			</div>
		<input id="field-spatial" name="spatial" type="hidden" value='{"type": "Polygon", "coordinates": [[[{{west_longitude}}, {{south_latitude}}], [{{west_longitude}}, {{north_latitude}}], [{{east_longitude}}, {{north_latitude}}], [{{east_longitude}}, {{south_latitude}}], [{{west_longitude}}, {{south_latitude}}]]]}'/>
		</div>
		<div id="object_name_container" class="control-full">
				{{ form.input('object_name',
								label=_("Object Name"),
								id='field-object_name',
								placeholder=_(''),
								value=data.object_name,
								error=errors.object_name,
								classes=['control-full']) }}

		</div>
	{% endif %}

{% endblock %}

{% block image_uploader %}
    {# snippet 'package/snippets/file_upload.html', record_type = record_type, data=data, errors=errors #}
    {#{% snippet 'package/snippets/image_upload.html', record_type = record_type, data=data, errors=errors %}#}
{% endblock %}



{% endblock %}
