{% if h.check_access('package_update', {'id':pkg.id }) %}
    {% if pkg.metadata_language %}
        <tr>
            <td><strong>Metadata Language</strong></td><td>{{ pkg.metadata_language }}</td>
        </tr>
    {% endif %}
    {% if pkg.metadata_character_set %}
        <tr>
            <td><strong>Metadata Character Set</strong></td><td>{{ pkg.metadata_character_set }}</td>
        </tr>
    {% endif %}
    {% if pkg.metadata_standard_name %}
        <tr>
            <td><strong>Metadata Standard Name</strong></td><td>{{ pkg.metadata_standard_name }}</td>
        </tr>
    {% endif %}
    {% if pkg.metadata_standard_version %}
        <tr>
            <td><strong>Metadata Standard Version</strong></td><td>{{ pkg.metadata_standard_version }}</td>
        </tr>
    {% endif %}
{% endif %}
