{# 
Renders a list of resources with icons and view links.

resources - A list of resources to render
pkg - A package object that the resources belong to.

Example:

  {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}

#}
<section id="dataset-resources" class="resources">
  <h3>{{ _('Data and Resources') }}</h3>
  {% block resource_list %}
    {% if resources %}
      <ul class="{% block resource_list_class %}resource-list{% endblock %}">
        {% block resource_list_inner %}
          {% for resource in resources %}
            {% snippet 'package/snippets/resource_item.html', pkg=pkg, res=resource %}
          {% endfor %}
        {% endblock %}
      </ul>

      {%- if 'object_name' in pkg and pkg.object_name %}
        {%- set pow_config = h.get_pow_config() -%}

        {# POW is on by default #}
        {% if h.asbool(pow_config.get('enable_mow', true)) == false %}
          <div class="hide"
            data-module="edc_pow"
            data-module-env="{{ pow_config['env'] }}"
            data-module-pkg="{{ h.dump_json(pkg) }}"
            data-module-secure_site="{{ pow_config['secure_site'] }}"
            data-module-past_orders_nbr="{{ pow_config['past_orders_nbr'] }}"
            data-module-custom_aoi_url="{{ pow_config['custom_aoi_url'] }}"
            data-module-persist_config="{{ pow_config['persist_config'] }}"
            data-module-use_pow_ui="{{ pow_config['use_pow_ui'] }}"></div>

          {% resource 'edc_resource/edc_pow.js' %}
        {% endif %}
      {% endif -%}
    {% else %}
    	{% if h.check_access('package_update', {'id':pkg.id }) %}
      		<p>
        	{# Comment out "add some" as action doesn't exist yet #}
        	{% trans url=h.url_for(controller='package', action='new_resource', id=pkg.name) %}
          		<p class="empty">This dataset has no data, <a href="{{ url }}">why not add some?</a>
        	{% endtrans %}
      		</p>
    	{% else %}
    		<p class="empty">This dataset has no data.</p>
    	{% endif %}
    {% endif %}
  {% endblock %}
</section>
