
{% import 'macros/form.html' as form %}

{% block basic_fields_format %}
    {% if record_type == 'Geographic' or record_type == 'Dataset' or record_type == 'WebService' %}
      {% set format_error = errors.format %}
      <div class="control-group control-full{{ " error" if format_error }}">
        <label class="control-label" for="field-format"><span class="control-required">*</span> {{ _("Resource Storage Format") }}</label>
        <div class="controls">
        {% set resource_format_list =  h.edc_tags(_('resource_format')) %}
        {% if data.format is defined %}
            {% set current_format = data.format.lower() %}
        {% else %}
            {% set current_format = data.format %}
        {% endif %}
      <select id="field-format" name="format" data-module="autocomplete">
        <option value ="" {% if not selected_format %} selected="selected" {% endif %} disabled>Select a resource format</option>
            {% for resource_format in resource_format_list  %}
              {% set selected_format = (current_format and current_format == resource_format) %}
              <option value="{{ resource_format }}"
                {% if selected_format %} selected="selected" {% endif %}>
                    {{ resource_format }}
              </option>
            {% endfor %}
      </select>
      {% if format_error and format_error is iterable %}
        <span class="error-block">{{ format_error|join(', ')}}</span>
      {% endif %}
      </div>
    </div>
    {% endif %}
{% endblock %}



{% if record_type == 'Geographic' or record_type == 'Dataset' %}

		{% set resource_type_error = errors.edc_resource_type %}
    	<div class="required control-group control-full{{ " error" if resource_type_error}}">
     		<label class="control-label" for="field-resource_type"><span class="control-required">*</span> {{ _("Resource Type") }}</label>
     		<div class="controls">
     			{% set resource_type_list = h.edc_tags(_('resource_type')) %}
     			{% set current_type = data.edc_resource_type %}
				<select id="field-edc_resource_type" name="edc_resource_type" data-module="autocomplete">
					<option value="" {% if not selected_type %} selected="selected" {% endif %} disabled>Select a resource type</option>
      				{% for resource_type in resource_type_list %}
      					{% set selected_type = (current_type and current_type == resource_type) %}
      					<option value="{{ resource_type }}"
      						{% if selected_type %} selected="selected" {% endif %}>
      							{{ resource_type }}
      					</option>
      				{% endfor %}
				</select>
				{% if resource_type_error and resource_type_error is iterable %}
					<span class="error-block">{{ resource_type_error|join(', ') }}</span>
				{% endif %}
			</div>
		</div>
    {#
    {% set storage_location_error = errors.resource_storage_location %}
      <div class="required control-group control-full{{ " error" if storage_location_error}}">
        <label class="control-label" for="field-resource_storage_location"><span class="control-required">*</span> {{ _("Resource Storage Location") }}</label>
        <div class="controls">
        {% set storage_location_list = h.edc_tags(_('resource_storage_location')) %}
        {% set current_storage_location = data.resource_storage_location %}
      <select id="field-resource_storage_location" name="resource_storage_location" data-module="autocomplete" onchange="javascript:check_storage_location();">
        <option value="" {% if not selected_storage_location %} selected="selected" {% endif %}  disabled>Select a storage location</option>
            {% for storage_location in storage_location_list %}
              {% set selected_storage_location = (current_storage_location and current_storage_location == storage_location) %}
              <option value="{{ storage_location }}"
                {% if selected_storage_location %} selected="selected" {% endif %}>
                {{ storage_location }}
              </option>
            {% endfor %}
      </select>
      {% if storage_location_error and storage_location_error is iterable %}
        <span class="error-block">{{ storage_location_error|join(', ')}}</span>
      {% endif %}
      </div>
    </div>
    #}
		{% set access_method_error = errors.resource_storage_access_method %}
    	<div class="required control-group control-full{{ " error" if access_method_error}}">
     		<label class="control-label" for="field-resource_storage_access_method"><span class="control-required">*</span> {{ _("Resource Access Method") }}</label>
     		<div class="controls">
     		{% set access_method_list = h.edc_tags(_('resource_storage_access_method')) %}
     		{% set current_access_method = data.resource_storage_access_method %}
			<select id="field-resource_storage_access_method" name="resource_storage_access_method" data-module="autocomplete">
				<option value="" {% if not selected_method %} selected="selected" {% endif %}  disabled>Select a resource storage access method</option>
      			{% for access_method in access_method_list %}
      				{% set selected_method = (current_access_method and current_access_method == access_method) %}
      				<option value="{{ access_method }}"
      					{% if selected_method %} selected="selected" {% endif %}>
      							{{ access_method }}
      				</option>
      			{% endfor %}
			</select>
			{% if access_method_error and access_method_error is iterable %}
				<span class="error-block">{{ access_method_error|join(', ')}}</span>
			{% endif %}
			</div>
		</div>

    {% if not record_type == 'WebService' %}
      {% block suppelement_info %}
        {{ form.markdown('supplemental_info', id='field-supplemental_info', label=_('Supplemental information'), placeholder=_('Other descriptive information about the dataset'), value=data.supplemental_info, error=errors.supplemental_info) }}
      {% endblock %}
    {% endif %}

	{#
      {{ form.markdown('resource_storage_location_info',
      					id='field-resource_storage_location_info',
      					label=_('Resource Storage Location Description'),
      					placeholder=_('A description of where the resource is located'),
      					value=data.resource_storage_location_info,
      					error=errors.resource_storage_location_info,
      					classes=['required'])
      					}}
    #}

	<h3 class="module-sub-heading">Temporal Extent</h3>
	<div class="control-list">
    	{{ form.input('data_collection_start_date',
    				label=_("Beginning Date"),
    				id='field-data_collection_start_date',
    				placeholder=_('YYYY-MM-DD'),
    				value=data.data_collection_start_date,
    				error=errors.data_collection_start_date,
    				classes=['control-medium']) }}

    	{{ form.input('data_collection_end_date',
    				label=_("End Date"),
    				id='field-data_collection_end_date',
    				placeholder=_('YYYY-MM-DD'),
    				value=data.data_collection_end_date,
    				error=errors.data_collection_end_date,
    				classes=['control-medium']) }}

	</div>

	{% if record_type == 'Geographic' %}
	<h3 class="module-sub-heading">Projection</h3>
	<div class="control-list form-horizontal">
    	{% set error = errors.projection_name %}
        <div class="required control-group control-medium{{ " error" if error }}">
    		<label class="control-label" for="field-projection_name"><span class="control-required">*</span> Projection Name</label>
    		<div class="controls">
    			{% set projection_names_list = h.edc_tags(_('projection_name')) %}
    			{% set current_projection = h.set_projection_select(data.projection_name, projection_names_list) %}
            	<select id="field-projection_name" name="projection_name" data-module="autocomplete" class="required">
            		  <option value ='' {% if not selected_projection %} selected="selected" {% endif %} disabled>Select a projection name</option>
                	{% for projection in projection_names_list  %}
                		{% set selected_projection = (current_projection and current_projection == projection) %}
                  	<option value="{{ projection }}"
                  		{% if selected_projection %} selected="selected" {% endif %}>
                      	{{ projection }}
                  	</option>
                	{% endfor %}
           		</select>
          		{% if error and error is iterable %}<span class="error-block">{{ error|join(', ') }}</span>{% endif %}
    		</div>
		</div>
	</div>
	{% endif %}


{% endif %}
