{# 
Renders a list of resources with icons and view links.

resources - A list of resources to render
pkg - A package object that the resources belong to.

Example:

  {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}

#}
<section id="dataset-resources" class="resources">
  <h3>{{ _('Data and Resources') }}</h3>
  {% block resource_list %}
    {%- if 'object_name' in pkg and pkg.object_name %}
      <ul class="resource-list"><li class="resource-item">
        {# need a helper func to give the dwds the proper env subdomain #}
        <button type="button"
          class="btn btn-info btn-lg"
          data-module="edc_pow"
          data-module-env="delivery"
          data-module-object_name="{{ pkg.object_name }}"
          data-module-package_id="{{ pkg.id }}"
          data-module-package_title="{{ pkg.title }}"
          data-module-package_name="{{ pkg.name }}">
          Order Data
        </button>
        <p class="size">(from Geographic Warehouse)</p>
      </li></ul>
      {% resource 'edc_resource/edc_pow.js' %}
    {% endif -%}
    {% if resources %}
      {%- if 'object_name' in pkg and pkg.object_name %}<hr />{% endif -%}
      <ul class="{% block resource_list_class %}resource-list{% endblock %}">
        {% block resource_list_inner %}
          {% for resource in resources %}
            {% snippet 'package/snippets/resource_item.html', pkg=pkg, res=resource %}
          {% endfor %}
        {% endblock %}
      </ul>
    {% else %}
    	{% if h.check_access('package_update', {'id':pkg.id }) %}
      		<p>
        	{# Comment out "add some" as action doesn't exist yet #}
        	{% trans url=h.url_for(controller='package', action='new_resource', id=pkg.name) %}
          		<p class="empty">This dataset has no data, <a href="{{ url }}">why not add some?</a>
        	{% endtrans %}
      		</p>
    	{% else %}
    		<p class="empty">This dataset has no data.</p>
    	{% endif %}
    {% endif %}
   {% endblock %}
</section>
