
<h2 class="view-group">Access & Security</h2>
<table class="table dataset_view">
    {% if logged_in %}
	   {% if security_class %}
    <tr>
        <td><strong>Security Classification</strong></td><td>{{ security_class }}</td>
    </tr>
        {% endif %}
    {% endif %}
	{% if view_audience %}
    <tr>
        <td>
            <strong>
                {# CITZEDC-525 - Application record template label update and field removal  #}
                {% if c.pkg_dict['type'] == 'Application' %}
                    Who can access this application?
                {% else %}
                    Who can view this dataset?
                {% endif %}
            </strong>
        </td>
        <td>{{ view_audience }}</td>
    </tr>
    {% endif %}
	{% if download_audience %}
        {# CITZEDC-525 - Application record template label update and field removal  #}
        {% if not c.pkg_dict['type'] == 'Application' %}
        <tr>
            <td><strong>Who can download this dataset?</strong></td><td>{{ download_audience }}</td>
        </tr>
        {% endif %}
    {% endif %}
    {% if logged_in %}
    	{% if metadata_visibility %}
        <tr>
            <td><strong>Who can view this record?</strong></td><td>{{ metadata_visibility }}</td>
        </tr>
        {% endif %}
    {% endif %}
</table>
