{#
Display a hierarchical tree of organizations


Example:

    {% snippet "organization/snippets/organization_list.html" %}

#}

  {% resource 'org_scripts/org_index.js' %}
  {% resource 'org_css/orgs.css' %}

  {% block organizations_search_form %}
    {# snippet 'snippets/search_form.html', type='organization', query=c.q, sorting_selected=c.sort_by_selected, count=c.page.item_count, placeholder=_('Search organizations...'), show_empty=request.params, no_bottom_border=true if c.page.items #}
    <div class="search-area" style="margin-top : 20px; margin-bottom: 30px;">
    	<div class="left-inner auto-height search-form">
    		<div class="search-input control-group search-giant">
    			<input id ="js-search" class="search" type="text" name="q" placeholder="Start typing a name..." />
                	<button type="submit" class="btn btn-default">
                  		<i class="icon-search"></i>
                	</button>
        	</div>
        	<div class="row row-fluid">
        		<div class="col-sm-6">
        	    	<h2 class="org-search-result"></h2>
        		</div>
        	</div>
        </div>
    </div>
  {% endblock %}

{#<div id="publisher-tree"> #}
    {# snippet 'organization/snippets/organization_tree.html', top_nodes=h.get_action('group_tree', {'type': 'organization', 'top_groups' : organizations}) #}
    {% snippet 'organization/snippets/my_org_list.html', top_orgs=h.get_action('group_tree', {'type': 'organization', 'top_groups' : organizations, 'pkg_count' : pkg_count}), sub_orgs=h.get_action('group_tree', {'type': 'organization', 'top_groups' : sub_organizations, 'pkg_count' : pkg_count}) %}
{# </div> #}



