
.org-hierarchy .organization {
  display: none;
  position: relative;
}

.org-hierarchy .organization .btn {
	padding: 2px 1px 0px 5px;
	margin: 0;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.5;
	border-radius: 3px;	
	color: #fff;
	background-color: #FFA343;
	border-color: #FFA343;
	vertical-align: middle;
	border: 1px solid transparent;
	cursor: pointer;
		
}

.org-hierarchy .organization > .js-expand,
.org-hierarchy .organization > .js-collapse {
  display: none;
  position: absolute;
  left: 9px;
  top: 5px;
}
.org-hierarchy .organization .org-row {
  background: #F4F4F4;
  margin-bottom: 4px;
  padding: 10px 20px 6px 48px;
}
.org-hierarchy .organization .org-row a {
  color: #444;
}
.org-hierarchy .organization .org-row.active {
  background: #d3d3d3;
}
.org-hierarchy .organization .organization {
  margin-left: 5%;
}
.org-hierarchy .organization.childmatch {
  display: block;
}
.org-hierarchy .organization.match {
  display: block;
}
.org-hierarchy .organization.match .org-row {
  background: #ffde;
}
.org-hierarchy .organization.match .org-row .highlight {
  background: #9BDDFF;
}
.org-hierarchy.no-search .organization {
  display: block;
}
.org-hierarchy.no-search .organization.collapsed > .js-expand {
  display: inline-block;
}
.org-hierarchy.no-search .organization.collapsed > .organization {
  display: none;
}
.org-hierarchy.no-search .organization.expanded > .js-collapse {
  display: inline-block;
}
.org-hierarchy.no-search .organization.expanded > .organization {
  display: block;
}
.org-hierarchy.no-search .organization .org-row .highlight {
  background: none;
}
