{% block footer_debug %}
    {% if g.debug %}
        {% include 'snippets/debug.html' %}
    {% endif %}
{% endblock %}

{# % snippet 'snippets/sub-navigation.html', userobj = c.userobj %}
{% snippet 'snippets/main-navigation.html', userobj = c.userobj % #}

<div id="footer-navigation">
    <div class="wrap">
      <div class="visible-md visible-lg">
        <div class="footer-links">
            <h3><a href="http://www2.gov.bc.ca/gov/theme.page?id=8CB0A2C5DC3B19401323F1A3F22D5769">Government</a></h3>
        </div>

        <div class="footer-links">
            <h3><a href="http://www2.gov.bc.ca/gov/theme.page?id=B7D67ECD8DD382E2A9F6E8F8149011E4">Residents</a></h3>
        </div>

        <div class="footer-links">
            <h3><a href="http://www2.gov.bc.ca/gov/theme.page?id=F5415B90D214B10A6245D30D397A05A1">Education</a></h3>
        </div>

        <div class="footer-links">
            <h3><a href="http://www2.gov.bc.ca/gov/theme.page?id=1629C69A7117AC65E91C018EA07D7E44">Business</a></h3>
        </div>

        <div class="footer-links">
            <h3><a href="http://www2.gov.bc.ca/gov/theme.page?id=E0EA3A213DB57A098786BF9F390CA86A">Environment</a></h3>
        </div>

        <div class="footer-links">
            <h3><a href="http://www2.gov.bc.ca/gov/theme.page?id=D5340F7BFE2793E612F265125067E05C">Health &amp; Safety</a></h3>
        </div>

        <div class="footer-links">
            <h3><a href="http://www2.gov.bc.ca/gov/theme.page?id=154F929B67DE04862F97AAA8EB273445">Employment</a></h3>
        </div>

        <div class="footer-links">
            <h3><a href="http://www2.gov.bc.ca/gov/theme.page?id=F9A8A09A65CE26DDE77E10C5CB32A392">About B.C.</a></h3>
        </div>
      </div>

        <div id="media-links">
          <div id="media-links-img">
            <a href="{{ h.url('home') }}"><img alt="B.C. Home" src="{{ h.get_fqdn() }}/assets/gov/images/bc_logo.gif" /></a>
          </div>
          <ul>
            <li><a href="http://www2.gov.bc.ca/gov/admin/disclaimer.page">Disclaimer</a></li>
            <li><a href="http://www2.gov.bc.ca/gov/admin/privacy.page">Privacy</a></li>
            <li><a href="http://www2.gov.bc.ca/gov/admin/accessibility.page">Accessibility</a></li>
            <li><a href="http://www2.gov.bc.ca/gov/admin/copyright.page">Copyright</a></li>
            <li><a href="https://extranet.gov.bc.ca/forms/gov/contact/index.html">Contact Us</a></li>
          </ul>
        </div>
        <div id="version">
            TEST: v.0.9.0-RC2
        </div>
    </div>
</div>
