<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('What are Organizations?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
        The responsibility to manage Datasets, APIs and Applications (collectively resources) and the descriptive information about these resources (metadata), rests with the organizations that have Data Custodial responsibility for the resources. In the public sector this is typically a branch of a ministry. In this case the Data Custodian is the Director or Executive Director of the branch.
      {% endtrans %}
    </p>
  </div>
</div>