{% set ofi = ofi or {} %}


{# button for modal is in snippets/resource_form.html #}
{#<a href="#ofi-results" role="button" class="btn btn-primary" data-toggle="modal">View OFI Results</a>#}

{# TODO: deal with bcgov.ofi.enable = false #}

<div id="ofi-results" class="modal hide fade" tabindex="-1" role="dialog"
  data-module="ofi_modal"
  data-module-ofi_results="{{ h.dump_json(ofi) }}"
  data-module-package_id="{{ pkg_id }}"
  data-module-object_name="{{ pkg_obj_name or false }}"
  data-module-ofi_geo_resource_form_url="{{ h.url_for('ofi api', call_action='geo_resource_form') }}"
  data-module-ofi_populate_dataset_url="{{ h.url_for('ofi api', call_action='populate_dataset') }}"
  data-module-ofi_remove_resources_url="{{ h.url_for('ofi api', call_action='remove_ofi_resources') }}"
  data-module-ofi_edit_resources_url="{{ h.url_for('ofi api', call_action='edit_ofi_resources') }}"
  data-module-to_dataset_page_url="{{ h.url_for('new_resource', id=pkg_name) }}"
>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Manage OFI Resources</h3>
        <h4 id="modal-subtitle">
        {% if ofi['ofi_exists'] %}
            Manage
        {% elif pkg_obj_name == '' %}
            No Object Name
        {% else %}
            Checking Availability
        {% endif %}
        </h4>
    </div>

    <div class="modal-body">
        <form id="ofi-lookup-form" class="form-horizontal">
            <div id="resources">
                {% if ofi['ofi_exists'] %}
                    <div>OFI Resources have been already added.</div>
                {% elif pkg_obj_name == '' %}
                    <div>No 'Object Name' exists for this dataset. Add an 'Object Name' to the dataset, for OFI.</div>
                {% else %}
                    {% if ofi['content']['allowed'] %}
                        <h4 style="text-align:center;">Object is avaiable, would you like to add all the resource links?</h4>
                    {% else %}
                        <div>Object is not avaiable, please contact your administrator.</div>
                    {% endif %}
                {% endif %}
            </div>
        </form>        
    </div>

    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        {% if ofi['ofi_exists'] %}
            <button id="ofi-delete" class="btn btn-danger pull-left">Delete</button>
            <button id="ofi-edit" class="btn btn-primary">Edit</button>
        {% elif pkg_obj_name != '' %}
            {% if ofi['content']['allowed'] %}
                <button id="ofi-confirm" class="btn btn-primary">Yes</button>
            {% endif %}
        {% endif %}
    </div>

    {# TODO: stop animation when not visible #}
    <div id="loading" class="overlay-wrap">
        <div class="add-data-loader">Loading...</div>
    </div>
</div>

{% resource 'edc_resource/ofi/ofi_modal.js' %}
{% resource 'edc_resource/ofi/ofi_style.css' %}
