# http://docs.ckan.org/en/latest/contributing/frontend/resources.html

[main]
dont_bundle = jquery-ui.js jquery.fileupload.js jquery.iframe-transport.js image_upload.js edc_activity.js edc_theme wet-boew/js/wet-boew.js

order = jquery-ui.js jquery.iframe-transport.js jquery.fileupload.js image_upload.js edc_activity.js

[IE conditional]

lte IE 8 = edc_theme_ie8.css


[groups]

wet-boew =
    wet-boew/css/wet-boew.css
    wet-boew/js/wet-boew.js
