.wrapper {
	background: #fff;
}

[role=main] .primary {
	width: 100%;
	float: none;
}

input .required {
	border : 1px solid #F7D358;
}

.module-heading {
	width : "100%";
	margin-bottom: 0px;
	text-align: center;
	padding: 7px 25px;
	font-size: 16px;
	line-height: 1.3;
}

.module-sub-heading {
	margin-bottom: 0px;
	text-align: center;
	padding: 7px 25px;
	font-size: 14px;
	line-height: 1.3;
	background-color: #CBDAEB;
	border-top: 1px solid #CBDAEB;
	border-bottom: 1px solid #CBDAEB;
}

.control-list {
	padding: 10px 0;
}

.control-list > .control-list {
	margin: 20px 0;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #CBDAEB;
}

.control-list .item-link {
	padding : 5px 10px 2px;
	float : right;
	font-size : 12px;
}

.input-prepend {
	display: inline-block;
	margin-bottom: 10px;
	vertical-align: middle;
	font-size: 14px;
	white-space: nowrap;
}

.input-prepend .add-on {
	display: inline-block;
	width: auto;
	height: 20px;
	min-width: 16px;
	padding: 4px 5px;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	text-align: center;
	text-shadow: 0 1px 0 #ffffff;
	border : 0;
	background : none;
}

.control-info {
	padding : 5px;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	color : #22A7FF;
}

h1, h2, h3, h4, h5, h6 {
	margin : 0;
}

input[type="text"] {
	margin-bottom: 0;
}

.control-full .select2-container {
	width: 100%!important;
}

#contacts_panel {
	padding: 0;
}

#contacts_panel #contacts_list .contact {
	padding: 20px 0 0 0;
}

#contacts_panel #contacts_list .contact:nth-child(even),
#dates_panel #date_list .date:nth-child(even) {
	background: #eee;
}

.contacts .control-label {
	width: 130px;
}

.contacts .controls {
	margin-left: 140px;
}

.contacts .controls .select2-container,
.contacts .controls select {
	width: 100%!important;
}

.contacts .controls input[type="text"],
.contacts .controls input[type="email"] {
	width: 100%;
}

.contacts .select2-container {
	position : relative;
	right : 0px;
}

.contacts .span6 + .span6 .control-group {
	margin-right: 13px;
}

#addDate,
#addContact,
#add_info_link {
	margin: 10px 0;
}

#add_info_link {
	position: absolute;
	top: 5px;
	right: 165px;
}

.date .select2-container,
.date input[type="text"] {
	width: 100%!important;
}

#dates_panel, #info_panel {
	padding: 0;
	position: relative;
}

#info_panel {
	margin-bottom: -20px;
}

#dates_panel #date_list .date,
#info_panel #info_list .more_info {
	padding-top: 10px;
	margin-bottom: 10px;
}

#dates_panel #date_list .date .control-group {
	margin-bottom: 10px;
}

#dates_panel #date_list .date .control-label {
	width: 86px;
}

#dates_panel #date_list .date .controls {
	margin-left: 96px;
}

.error .contacts, .dates {
	border : 1px dashed #c6898b;
}

#date_list .group-error , #contacts_list .group-error {
	width : auto;
}

.group-row {
	padding : 5px;
}

.error-explanation ul {
	padding : 0px;
	margin : 0 0 10px 25px;
}

.control-full .select2-container {
	width: 537px;
}

.control-medium .error-block {
	width: 304px;
}

.control-medium input, .control-medium textarea {
	width: 306px;
}

.control-medium select {
	width: 320px;
}

input[type=checkbox] {
position: relative;
	top: -2px;
	padding: 0;
	margin: 0;
	width : auto;
}

.dataset-form-resource-types input[type="radio"] {
	margin: 0;
	top: 1px;
}

.dataset-form-resource-types label.radio.inline {
	padding: 6px 20px 0 3px;
}

.dashboard .primary {
	width : 70%;
	float : left;
}

.dashboard .tertiary {
	width : 25%;
	float : right;
}

.dashboard-counter {
	margin-left : -25px;
	margin-right : -25px;
	border-bottom: 1px solid #dddddd;
	height : 30px;
	margin-top : 10px;
	padding-left : 25px;
	padding-bottom : 10px;
	margin-bottom : 20px;
}


.centered {
	margin-left : auto;
	margin-right : auto;
}

.modal-dialog {
	display : none;
}

#image_box {
	text-align : center;
}

#field-name {
	width :691px;
}

.pkg-resources {
	margin-left: -25px;
	margin-right: -25px;
	margin-bottom: 0;
	padding-bottom: 0;
	background: none;
	margin-top: 50px;
	padding-left : 30px;
	border-top: 1px solid #e5e5e5;}

.extent h4 {
	margin-top: 0;
}

.auth-error {
    color : #E2062C;
    font-size : 24px;
    width : 100%;
}

.auth-content {
    font-size : 18px;
}

.package-type {
	float: right;
}

.package-type em {
	font-style: normal;
	font-weight: 700;
	color: #22A7FF;
}

#field-image-upload {
	width: 100%!important;
}