{% ckan_extends %}

{% import 'macros/tracking.html' as tracking %}

{% block wrapper_class %}{{ super() }} dataset-view{% endblock %}

{% block breadcrumb_content %}
  {% set parent_org = h.get_parent_org(c.pkg_dict.sub_org) %}
  <li>{% link_for _('Organizations'), controller='organization', action='index' %}</li>
  {% if parent_org %}
  <li>{% link_for parent_org.title|truncate(35), controller='organization', action='read', id=parent_org.name %}</li>
  {% endif %}
  <li class="active">{% link_for c.pkg_dict.organization.title|truncate(35), controller='organization', action='read', id=c.pkg_dict.organization.name %}</li>
{% endblock %}


{% block content_primary_nav %}
  {{ super() }}
  <li class="dropdown share-this-record">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-share icon-share-alt" aria-hidden="true"></i> Share this Record</a>
    {% snippet "snippets/social.html" %}
  </li>
  <li>
    <a href="{% url_for controller='package', action='read', id=pkg.id %}"
      ><i class="fa fa-link icon-link"></i> Permalink</a>
  </li>
  {#
  <li><a href="#"><i class="icon-rss"></i> RSS</a></li> #}
{% endblock %}


{% block content_action %}
	{% set record_visibility = pkg.metadata_visibility %}

  	{% if h.check_access('package_update', {'id':pkg.id }) %}
    	{% if record_visibility == 'Public' %}
        {% set record_type = pkg.type or c.record_type %}
    		{% link_for _(''), controller='ckanext.bcgov.controllers.package:EDCPackageController',
    									action='duplicate', id=pkg.name, package_type=record_type, class_='btn hidden-sm hidden-xs', icon='copy' %}
    	{% endif %}
    	{% link_for _(''), controller='package', action='edit', id=pkg.name, class_='btn hidden-sm hidden-xs', icon='wrench' %}
  	{% endif %}
{% endblock %}

{% block content %}
  {% block search_input %}
    {% resource 'edc_resource/typeahead.bundle.js' %}
    {% resource 'edc_resource/search.js' %}
    {% resource 'edc_resource/edc_dataset_view.js' %}
    <form action="{{ h.url_for(controller='package', action='search') }}" class="search-form search-main">
    <div class="search-input control-group search-giant">
      <input type="text" class="search" name="q" autocomplete="off" placeholder="Search datasets...">
      <button type="submit" value="search">
        <i class="fa fa-icon icon-search" aria-hidden="true"></i>
        <span>{{ _('Submit') }}</span>
      </button>
    </div>
  </form>
  {% endblock %}
  {{ super() }}
{% endblock %}



{% block primary_content_inner %}
  {% block package_description %}

    {% if pkg.private %}
      <span class="dataset-private label label-inverse pull-right">
        <i class="fa fa-lock icon-lock" aria-hidden="true"></i>
        {{ _('Private') }}
      </span>
    {% endif %}

    {# Displaying Dataset information in colorful markers #}


    {% block package_markers %}
      {% set iso_topic_values = h.get_iso_topic_values(pkg.get('iso_topic_string')) %}
      {% snippet 'package/snippets/markers.html', type=pkg.type, iso_topic_cat=iso_topic_values, branch=pkg.sub_org %}
    {% endblock %}

    <h1>
      {% block page_heading %}
        {{ pkg.title or pkg.name }}
        {% if pkg.state.startswith('draft') %}
          [{{ _('Draft') }}]
        {% endif %}
      {% endblock %}
    </h1>


    {% set ts = h.get_package_tracking(pkg['id']) %}
    {% if ts %}
      <h4 class="description-tracking">
        {{ tracking.display(ts.views.total, ts.views.recent) }}
      </h4>
    {% endif %}

    {# Displaying Organization and Branch names #}

    {% block package_org %}
      {% set org = h.get_edc_org(pkg.org) %}
      {% set branch = h.get_edc_org(pkg.sub_org) %}
      Published by the {% snippet 'package/snippets/org_view.html', org=org, branch=branch %}
    {% endblock %}
    {% block package_license %}
      <br/>
      Licensed under
      {% snippet "snippets/license.html", pkg_dict=pkg %}
    {% endblock %}

    {% block package_notes %}
      {% if pkg.notes %}
        <div class="notes embedded-content">
          {{ h.render_markdown(pkg.notes) }}
        </div>
      {% endif %}
    {% endblock %}
    {# FIXME why is this here? seems wrong #}
    <span class="insert-comment-thread"></span>
  {% endblock %}

  {% block package_tags %}
    {% snippet "package/snippets/tags.html", tags=pkg.tags %}
  {% endblock %}

  {% set dataset_extent = c.pkg_dict['spatial'] or '' %}
  {% if dataset_extent %}
     {% snippet "package/snippets/dataset_extent.html", pkg=pkg %}
  {% endif %}


  {% block package_resources %}
    {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}
  {% endblock %}

  {% block package_thumbnail %}
    {% snippet "package/snippets/thumbnail.html", pkg=pkg %}
  {% endblock %}

  {% block map_view %}
  	{% snippet "package/snippets/map_view.html", pkg=pkg %}
  {% endblock %}

  {% block package_additional_info %}
    {% snippet "package/snippets/additional_info.html", pkg=pkg, user=c.user, userobj=c.userobj %}
  {% endblock %}

  {% block bcgw_data %}
    {% snippet "package/snippets/bcgw_data.html", pkg=pkg %}
  {% endblock %}
{% endblock %}


{% block secondary_content %}
  {% if c.pkg_dict.type == 'Geographic' %}
    {# Legacy, mow is off by default #}
    {% if h.asbool(h.get_pow_config().get('enable_mow', false)) %}
      {% snippet 'snippets/edc_mow.html', pkg_obj_name=pkg.object_name, pkg_id=pkg.id, projections=c.ofi.projections %}
    {% endif %}
  {% endif %}
{% endblock %}
