{% extends "package/resource_edit_base.html" %}

{% block subtitle %}{{ _('Edit') }} - {{ h.resource_display_name(res) }} - {{ h.dataset_display_name(pkg) }}{% endblock %}

{% block form %}
  {% snippet 'package/snippets/resource_edit_form.html',
    data=data,
    errors=errors,
    error_summary=error_summary,
    pkg_name=pkg.name,
    state= pkg.publish_state,
    form_action=c.form_action,
    allow_upload=g.ofs_impl and logged_in,
    resource_form_snippet=resource_form_snippet,
    dataset_type=dataset_type %}
{% endblock %}

{% block secondary_content %}
    {% if pkg.type == 'Geographic' and res.ofi %}
        {% snippet 'ofi/ofi_modal.html', pkg_id=pkg.id, pkg_name=pkg.name, pkg_obj_name=pkg.object_name, ofi=data.ofi %}
    {% endif %}
{% endblock %}
