{% ckan_extends %}

{% block content %}
{% resource 'edc_resource/edc_schema.css' %}
{% block search_input %}
    <form class="search-form search-main">
    <div class="search-input control-group search-giant">
      <input type="text" class="search" name="q" autocomplete="off" placeholder="Search datasets...">
      <button type="submit" value="search">
        <i class="fa fa-search icon-search"></i>
        <span>{{ _('Submit') }}</span>
      </button>
    </div>
  </form>
  {% endblock %}
  {{ super() }}
{% endblock %}

{% block page_primary_action %}
{% if pkg.publish_state != "ARCHIVED" %}
  {% if c.record_type == 'Geographic' %}
    <a href="#ofi-results" role="button" class="btn btn-primary" data-toggle="modal">{{ _('Manage BCGW Resources') }}</a>
  {% endif %}
  {% link_for _('Add new resource'), controller='package', action='new_resource', id=c.pkg_dict.name, class_='btn btn-primary', icon='plus' %}
{% endif %}
{% endblock %}

{% block secondary_content %}
  {% if c.record_type == 'Geographic' %}
    {% set data = data or {} %}
    {% snippet 'ofi/ofi_modal.html', pkg_id=c.pkg_dict.id, pkg_name=c.pkg_dict.name, pkg_obj_name=c.pkg_dict.object_name, ofi=c.ofi %}

    {% resource 'edc_resource/jquery-ui.js' %}
    {% resource 'edc_resource/jquery-ui.css' %}
  {% endif %}
{% endblock %}
