{% ckan_extends %}

{% block content %}
{% block search_input %}
    {% resource 'edc_resource/typeahead.bundle.js' %}
    {% resource 'edc_resource/search.js' %}
    <form action="{{ h.url_for(controller='package', action='search') }}" class="search-form search-main">
    <div class="search-input control-group search-giant">
      <input type="text" class="search" name="q" autocomplete="off" placeholder="Search datasets...">
      <button type="submit" value="search">
        <i class="icon-search"></i>
        <span>{{ _('Submit') }}</span>
      </button>
    </div>
  </form>
  {% endblock %}
  {{ super() }}
{% endblock %}

{% block head_extras -%}
  {# defined in the config.ini under "ckan.template_head_end" #}
  {{ g.template_head_end | safe }}
  {% set description = h.markdown_extract(res.description, extract_length=0) if res.description else h.markdown_extract(c.package.notes, extract_length=0) %}
  <meta property="og:title" content="{{ h.dataset_display_name(c.package) }} - {{ h.resource_display_name(res) }} - {{ g.site_title }}">
  <meta property="og:description" content="{{ description|forceescape }}">
{% endblock -%}



{% block pre_primary %}
  {% block resource %}
    <section class="module module-resource">
      <div class="module-content">
        <div class="actions">
          {% block resource_actions %}
          <ul>
            {% block resource_actions_inner %}
            {% if h.check_access('package_update', {'id':pkg.id }) %}
              {% if c.ofi and res.ofi %}
                <li><a href="#ofi-results" role="button" class="btn dropdown-toggle" data-toggle="modal"><i class="icon-wrench"></i>{{ _('Manage') }}</a></li>
              {% else %}
                <li>{% link_for _('Manage'), controller='package', action='resource_edit', id=pkg.name, resource_id=res.id, class_='btn', icon='wrench' %}</li>
              {% endif %}
            {% endif %}
            {% if res.url and h.is_url(res.url) %}
              <li>
                <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}" title="{{ h.size_or_link(res.url_type=='upload', res.size) }}">
                  {% if res.resource_type in ('listing', 'service') %}
                    <i class="icon-eye-open"></i> {{ _('View') }}
                  {% elif  res.resource_type == 'api' %}
                    <i class="icon-key"></i> {{ _('API Endpoint') }}
                  {% elif not res.has_views or not res.can_be_previewed %}
                    <i class="icon-external-link"></i> {{ _('Access / Download') }}
                  {% else %}
                    <i class="icon-download"></i> {{ _('Download') }}
                  {% endif %}
                </a>
              </li>
            {% endif %}
            {% if 'datastore' in g.plugins %}
              <li>{% snippet 'package/snippets/data_api_button.html', resource=res, datastore_root_url=c.datastore_api %}</li>
            {% endif %}
            {% endblock %}
          </ul>
          {% endblock %}
        </div>
        {% block resource_content %}
          {% block resource_read_title %}<h1 class="page-heading">{{ h.resource_display_name(res) | truncate(50) }}</h1>{% endblock %}
          {% block resource_read_url %}
            {% if res.url and h.is_url(res.url) %}
              <p class="muted ellipsis">{{ _('URL:') }} <a href="{{ res.url }}" class="resource-url-analytics" title="{{ res.url }}">{{ res.url }}</a></p>
            {% endif %}
          {% endblock %}
          <div class="prose notes" property="rdfs:label">
            {% if res.description %}
              {{ h.render_markdown(res.description) }}
            {% endif %}
            {% if not res.description and c.package.notes %}
              <h3>{{ _('From the dataset abstract') }}</h3>
              <blockquote>{{ h.markdown_extract(c.package.get('notes')) }}</blockquote>
              <p>{% trans dataset=c.package.title, url=h.url_for(controller='package', action='read', id=c.package['name']) %}Source: <a href="{{ url }}">{{ dataset }}</a>{% endtrans %}
            {% endif %}
          </div>
        {% endblock %}
      </div>
      {# CITZEDC769 - xls/xlsx previews not being identified
            Solution for now is to check the resource type for xls/xlsx and don't
            display the preview element at all, data preview doesn't have any option
            to prevent the preview automatically display for specific types
       #}
      {% if not (res.format == 'xlsx' or res.format == 'xls') %}
        {% block data_preview %}
            {{ super() }}
        {% endblock %}
      {% endif %}
    </section>
  {% endblock %}
{% endblock %}

{% block primary_content %}
  {% block resource_additional_information %}
    {% if res %}
      <section class="module module-resource">
        <div class="module-content">
          {% if res.supplemental_info %}
          <h2>{{ _('Supplemental Information')}}</h2>
          <p>{{ res.supplemental_info }}</p>
          {% endif %}
          <h2>{{ _('Additional Information') }}</h2>
          <table class="table">
            <tbody>
              {% set dates = pkg.dates %}
              {% for date in dates %}
                {% if date.type != 'Created' %}
                  <tr>
                    <td><strong> Data {{ date.type }} </strong></td><td> {{ date.date }} </td>
                  </tr>
                {% endif %}
              {% endfor %}

              <tr>
                <th scope="row">{{ _('Resource Last Modified') }}</th>
                <td>{{ h.render_datetime(res.last_modified, '%Y-%m-%d %I:%M:%S %p') or h.render_datetime(res.created, '%Y-%m-%d %I:%M:%S %p') or _('unknown') }}</td>
              </tr>

              <tr>
                <th scope="row">{{ _('License') }}</th>
                <td>{% snippet "snippets/license.html", pkg_dict=pkg, text_only=True %}</td>
              </tr>

              {% if res.resource_update_cycle %}
                <tr  class="toggle-more">
                  <th scope="row">{{ _('Resource Update Cycle') }}</th>
                    <td> {{ res.resource_update_cycle }} </td>
                </tr>
              {% endif %}

              {% for key, value in res.items() %}
                {% if key == "size" or key == "mimetype" %}
                  {# template tom-foolry to keep size_or_link consistency for all use cases #}
                  {% if value %}
                    {% if key == "size" %}
                      {% set value = h.size_or_link(res.url_type=="upload", value) %}
                    {% endif %}
                    <tr>
                      <td><strong>{{ key|capitalize }}</strong></td><td>{{ value }}</td>
                    </tr>
                  {% endif %}
                {% endif %}
              {% endfor %}

              {% if pkg.type == 'Geographic' or pkg.type == 'Dataset' %}
                {% snippet 'package/snippets/resource_geospatial_fields.html', record_type = pkg.type, res=res, object_name = pkg.object_name %}
              {% endif %}
            </tbody>
          </table>
        </div>
      </section>
    {% endif %}
  {% endblock %}
{% endblock %}

{% block secondary_content %}

  {% block resources_list %}
    {% snippet "package/snippets/resources.html", pkg=pkg, active=res.id %}
  {% endblock %}

  {% block resource_license %}
    {% snippet "package/snippets/social.html" %}
  {% endblock %}

  {% if c.pkg_dict.type == 'Geographic' and c.ofi %}
    {% snippet 'ofi/ofi_modal.html', pkg_id=c.pkg_dict.id, pkg_name=c.pkg_dict.name, pkg_obj_name=c.pkg_dict.object_name, ofi=c.ofi %}
  {% endif %}

{% endblock %}
