{#
  Shows the organization and branch names.

  org : Organization ID.
  branch : branch ID

  Example:
  	{% snippet 'package/snippets/org_view.html', org=pkg.org, branch=pkg.sub_org %}

#}

{% set org_title = h.edc_org_title(org) %}
{% set org_name = h.edc_org_name(org) %}
{% set branch_title = h.edc_org_title(branch) %}
Published by the <a href="/organization/{{ org_name }}">{{ org_title }}</a>{% if branch_title %} - <a href="{{ h.url_for(controller='package', action='search', q='sub_org:' + branch) }}">{{ branch_title }}</a> {% endif %}
