{% ckan_extends %}

{% block secondary_content %}

  {% block secondary_help_content %}{% endblock %}

  {% block package_organization %}
    {% if pkg.organization %}
      {% snippet "snippets/organization.html", organization=pkg.organization, has_context_title=true %}
    {% endif %}
  {% endblock %}

  {% block package_social %}
    {% snippet "snippets/social.html" %}
  {% endblock %}

  {% block package_info %}
    {% snippet "package/snippets/info.html", pkg=pkg %}
  {% endblock %}

{% endblock %}