{% ckan_extends %}

{% block header_wrapper %}
{% block header_account %}
{{ super() }}
{% endblock %}
    <div id="wrapper" style="margin:auto;text-align:left;">
            <div class="iw_component" id="c1345851942349">
                <!-- googleoff: all -->

                <div id="access">
                    <ul>
                        <li><a accesskey="1" href="#area-contentmain">Skip to
                        main content</a></li>

                        <li><a accesskey="n" href="#navigation">Skip to
                        navigation</a></li>

                        <li><a accesskey="0" href=
                        "/dbc/admin/accessibility.page?">Accessibility
                        Statement</a></li>
                    </ul>
                </div>

                <div id="services_header">
                    <a class="serviceLink" href=
                    "https://extranet.gov.bc.ca/forms/gov/contact/index.html">Contact
                    Government</a><a class="serviceLink" href=
                    "http://www.newsroom.gov.bc.ca">News</a><a class=
                    "serviceLink forms" href=
                    "http://www2.gov.bc.ca/en/services_finder/finder.page">Services
                    &amp; Forms</a>
                </div>

                <div id="mobile-header">
                    <a href="#sidr-left" id="responsive-button-left"><img alt=
                    "Theme Mobile Menu" src=
                    "/assets/gov/images/site_navigation_global/m_menu.png"></a>
                </div>

                <div id="overlay"></div>

                <div id="navigation">
                    <div class="themes overlayControls">
                        <menu class="horizontalMenu">
                            <li class="flyoutMenuItem" section="topperFlyout_8CB0A2C5DC3B19401323F1A3F22D5769">
                                <a href=
                                "http://www2.gov.bc.ca/gov/theme.page?id=8CB0A2C5DC3B19401323F1A3F22D5769">
                                Government</a>

                                <div class="clickTrigger"></div>
                            </li>

                            <li class="flyoutMenuItem" section="topperFlyout_B7D67ECD8DD382E2A9F6E8F8149011E4">
                                <a href=
                                "http://www2.gov.bc.ca/gov/theme.page?id=B7D67ECD8DD382E2A9F6E8F8149011E4">
                                Residents</a>

                                <div class="clickTrigger"></div>
                            </li>

                            <li class="flyoutMenuItem" section="topperFlyout_F5415B90D214B10A6245D30D397A05A1">
                                <a href=
                                "http://www2.gov.bc.ca/gov/theme.page?id=F5415B90D214B10A6245D30D397A05A1">
                                Education</a>

                                <div class="clickTrigger"></div>
                            </li>

                            <li class="flyoutMenuItem" section="topperFlyout_1629C69A7117AC65E91C018EA07D7E44">
                                <a href=
                                "http://www2.gov.bc.ca/gov/theme.page?id=1629C69A7117AC65E91C018EA07D7E44">
                                Business</a>

                                <div class="clickTrigger"></div>
                            </li>

                            <li class="flyoutMenuItem" section="topperFlyout_E0EA3A213DB57A098786BF9F390CA86A">
                                <a href=
                                "http://www2.gov.bc.ca/gov/theme.page?id=E0EA3A213DB57A098786BF9F390CA86A">
                                Environment</a>

                                <div class="clickTrigger"></div>
                            </li>

                            <li class="flyoutMenuItem" section="topperFlyout_D5340F7BFE2793E612F265125067E05C">
                                <a href=
                                "http://www2.gov.bc.ca/gov/theme.page?id=D5340F7BFE2793E612F265125067E05C">
                                Health &amp; Safety</a>

                                <div class="clickTrigger"></div>
                            </li>

                            <li class="flyoutMenuItem" section="topperFlyout_154F929B67DE04862F97AAA8EB273445">
                                <a href=
                                "http://www2.gov.bc.ca/gov/theme.page?id=154F929B67DE04862F97AAA8EB273445">
                                Employment</a>

                                <div class="clickTrigger"></div>
                            </li>

                            <li class="flyoutMenuItem" section="topperFlyout_F9A8A09A65CE26DDE77E10C5CB32A392">
                                <a href=
                                "http://www2.gov.bc.ca/gov/theme.page?id=F9A8A09A65CE26DDE77E10C5CB32A392">
                                About B.C.</a>

                                <div class="clickTrigger"></div>
                            </li>
                        </menu>
                    </div>
                </div>

                <div id="flyouts">
                    <div class="flyout" id=
                    "topperFlyout_8CB0A2C5DC3B19401323F1A3F22D5769">
                        <h2>Government</h2><img alt="Government" src=
                        "/assets/gov/images/site_navigation_global/nav_government.png">

                        <ul class="sectionLinks">
                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=259D3A1F1BCB8D601B13742603415970">
                            The Premier, Cabinet &amp; MLAs</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=36AEE53A6FC100320499FECC00FD9934">
                            Ministries &amp; Organizations</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=FCF067811855E3B53710C9A084F94066">
                            About the B.C. Government</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=8B6FCA5E2DBD9E7D98334EB60D6F77FE">
                            Other Levels of Government</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=12784E4B87551818643212879D592866">
                            Open Government</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=5154F1F564CE60C41B692056A13DEBA6">
                            Contact Us</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=D8E5FDC8B04A13F8D1E77F8D52EE563A">
                            Services for Government</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=DCE5D2A5AB44B3928DB60555D892E611">
                            Laws &amp; Publications</a></li>
                        </ul>

                        <div class="topDestinations">
                            <h3>Top Destinations</h3>

                            <ul>
                                <li><a href=
                                "http://www2.gov.bc.ca/gov/theme.page?id=36AEE53A6FC100320499FECC00FD9934">
                                B.C. Ministries</a></li>

                                <li><a href=
                                "http://www.newsroom.gov.bc.ca/ministries/office-of-the-premier/biography/honourable-christy-clark.html">
                                The Premier of B.C.</a></li>

                                <li><a href="http://dir.gov.bc.ca/">B.C.
                                Government Employee Directory</a></li>

                                <li><a href=
                                "http://www.data.gov.bc.ca/dbc/search/result.page?ms=url%3Aapps.gov.bc.ca">
                                Open Data Catalogue</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="flyout" id=
                    "topperFlyout_B7D67ECD8DD382E2A9F6E8F8149011E4">
                        <h2>Residents</h2><img alt="Residents" src=
                        "/assets/gov/images/site_navigation_global/nav_families.png">

                        <ul class="sectionLinks">
                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=B18FA5C86281B72BB9914EC541216F21">
                            People</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=C20086F4FDF627499800D60391C384E3">
                            Government ID</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=4DE87E7EE0859251309F8142B9BD4824">
                            Taxes &amp; Rebates</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=E2F17E8BD56D50D8D4BAA2892C68960F">
                            Seniors</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=043ED83FA4319EF9EC01F4F5C5FD94FD">
                            Housing</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=06309B540C84E3FCA1D318EBDF199C75">
                            Daily Life</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=A6B43F4DDD40B1070E53BC362867CD37">
                            Sports &amp; Recreation</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=CE442A092BA5D412CF418DFDEC3A488D">
                            Driving &amp; Transportation</a></li>
                        </ul>

                        <div class="topDestinations">
                            <h3>Top Destinations</h3>

                            <ul>
                                <li><a href=
                                "http://www.rto.gov.bc.ca/">Residential Tenancy
                                Branch</a></li>

                                <li><a href=
                                "http://www.vs.gov.bc.ca/births/index.html?SMSESSION=NO">
                                Birth Certificates</a></li>

                                <li><a href=
                                "http://www.vs.gov.bc.ca/marriage/index.html?SMSESSION=NO">
                                Marriage Certificates</a></li>

                                <li><a href=
                                "http://www.eia.gov.bc.ca/bcea.htm">Income
                                Assistance</a></li>

                                <li><a href=
                                "https://www.addresschange.gov.bc.ca/">Change
                                of Address</a></li>

                                <li><a href=
                                "http://www.welcomebc.ca/Immigrate/Immigrate.aspx">
                                Immigration</a></li>

                                <li><a href=
                                "http://www.seniorsbc.ca/">Seniors</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="flyout" id=
                    "topperFlyout_F5415B90D214B10A6245D30D397A05A1">
                        <h2>Education</h2><img alt="Education" src=
                        "/assets/gov/images/site_navigation_global/nav_education.png">

                        <ul class="sectionLinks">
                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=F2DF0F6E09AD8EB24078E5EEAA8DCC68">
                            Early Learning</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=1D321409279193982AF02BB22F985851">
                            Kindergarten to Grade 12</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=F390915858CC9CA2072459222CBCB67C">
                            Post-secondary Education</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=B8FE58BB8300F1E1BE88911299FEF364">
                            Adult Learning</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=61929F8C840224021F033289E28BFCD8">
                            Places to Learn</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=80B26AE3A0ED92412A3341AD77C50C9F">
                            Administration</a></li>
                        </ul>

                        <div class="topDestinations">
                            <h3>Top Destinations</h3>

                            <ul>
                                <li><a href=
                                "http://www2.gov.bc.ca/gov/topic.page?id=13992E4EC93F4F36B5478D37D441D626">
                                Provincial Exams</a></li>

                                <li><a href=
                                "http://www2.gov.bc.ca/gov/topic.page?id=040EB8CF78CF4F2090D9C6FFF6F3CDA0">
                                Transcripts</a></li>

                                <li><a href=
                                "http://www.studentaidbc.ca/">Student Financial
                                Assistance</a></li>

                                <li><a href=
                                "http://www.bced.gov.bc.ca/early_learning/strongstart_bc/">
                                StrongStart BC</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="flyout" id=
                    "topperFlyout_1629C69A7117AC65E91C018EA07D7E44">
                        <h2>Business</h2><img alt="Business" src=
                        "/assets/gov/images/site_navigation_global/nav_business.png">

                        <ul class="sectionLinks">
                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=A758E4D3F7E4B0B2765E9B762A328310">
                            Business Management</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=34950904C49722331EF1DED42D10A013">
                            Construction Industry</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=443783272A80626685CF33D5999B9E1F">
                            Natural Resource Industries</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=00A261A2168BFDB1003DBE30998466EE">
                            Land Use</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=4DA4C0F9EA4A8A26605350E5097DEADD">
                            Taxes &amp; Rebates</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=1DB4C5A365801352D049F10D3923DA9A">
                            Permits, Licences &amp; Forms</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=A28F1E9BB1BAE2E8E0E1F1877AB40D95">
                            Water Use</a></li>
                        </ul>

                        <div class="topDestinations">
                            <h3>Top Destinations</h3>

                            <ul>
                                <li><a href=
                                "http://www.bcbid.gov.bc.ca/open.dll/welcome">BC
                                Bid</a></li>

                                <li><a href=
                                "http://www.smallbusinessbc.ca/">Small Business
                                BC</a></li>

                                <li><a href=
                                "https://trade.britishcolumbia.ca/Pages/Home.aspx">
                                Trade and Invest British Columbia</a></li>

                                <li><a href=
                                "http://www2.gov.bc.ca/gov/topic.page?id=589542DDDB6347F7A7C80C1783F4BA6D">
                                Return to PST</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="flyout" id=
                    "topperFlyout_E0EA3A213DB57A098786BF9F390CA86A">
                        <h2>Environment</h2><img alt="Environment" src=
                        "/assets/gov/images/site_navigation_global/nav_environment.png">

                        <ul class="sectionLinks">
                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=4D9B65E26DFA11EF78C200B82FAD10BD">
                            Climate Change</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=A4E25FF82206B7E3549AD2423494005C">
                            Land</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=5CBA2ED61F5F6A004388CD25D5CBABD4">
                            Outdoor Recreation</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=D2AEA65E1B0995C028F5415CDA3491DD">
                            Plants &amp; Animals</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=1D1E3C96BFEE11B9960E8FFEC5AF406A">
                            Waste Management</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=A107794D5085039872470FDB7C7FE62D">
                            Water &amp; Air</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=3AA8459D7BBB83148579662A6237100D">
                            Research &amp; Publications</a></li>
                        </ul>

                        <div class="topDestinations">
                            <h3>Top Destinations</h3>

                            <ul>
                                <li><a href=
                                "http://www.env.gov.bc.ca/bcparks/">BC
                                Parks</a></li>

                                <li><a href=
                                "http://livingwatersmart.ca/">Living Water
                                Smart</a></li>

                                <li><a href=
                                "http://www.env.gov.bc.ca/epd/">Environmental
                                Protection</a></li>

                                <li><a href="http://www.bcairquality.ca/">Air
                                Quality</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="flyout" id=
                    "topperFlyout_D5340F7BFE2793E612F265125067E05C">
                        <h2>Health &amp; Safety</h2><img alt=
                        "Health &amp; Safety" src=
                        "/assets/gov/images/site_navigation_global/nav_health.png">

                        <ul class="sectionLinks">
                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=92F701F25B620CC26E22D695055825CA">
                            Health Services</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=77259C98A670AC930366E75F02DB4DCB">
                            Health Insurance</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=CB0AD8D8AEADDDD7AF685489802F31A1">
                            Healthy Families</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=1E928AC24AE0DD5C3095566AA56AE9D1">
                            Healthy Living</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=7E0ACCE65CCB2AA02B2F065A35515B8B">
                            Living Safely</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=FC067FB53B135AFBB6D25E46BA3E8465">
                            Consumer Information</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=42B39E1C633870CE99CB4A588FA3B965">
                            B.C.'s Justice System</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=A8F32056E4192102A51A3F0FF373223C">
                            Home &amp; Community Care</a></li>
                        </ul>

                        <div class="topDestinations">
                            <h3>Top Destinations</h3>

                            <ul>
                                <li><a href=
                                "http://www.health.gov.bc.ca/msp/">Medical
                                Services Plan</a></li>

                                <li><a href=
                                "http://www.health.gov.bc.ca/msp/infoben/carecard.html">
                                CareCard</a></li>

                                <li><a href=
                                "http://www.health.gov.bc.ca/pharmacare/">PharmaCare</a></li>

                                <li><a href=
                                "http://www.health.gov.bc.ca/pharmacare/plani/planiindex.html">
                                Fair PharmaCare</a></li>

                                <li><a href=
                                "http://www.ag.gov.bc.ca/courts/">Court
                                Services</a></li>

                                <li><a href=
                                "http://www.healthlinkbc.ca/">HealthLinkBC</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="flyout" id=
                    "topperFlyout_154F929B67DE04862F97AAA8EB273445">
                        <h2>Employment</h2><img alt="Employment" src=
                        "/assets/gov/images/site_navigation_global/nav_employment.png">

                        <ul class="sectionLinks">
                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=64FFA94D3DD30AC8BCA3EDAFC1DDE890">
                            Work for the B.C. Government</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=B3752C36297F2A17229B69D2A8DF5C92">
                            Job Seekers &amp; Employees</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=534F924CA519AD88CF3501C0083F18BD">
                            Employers</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=6CE2133CB253E2842349EC69BBBC64D3">
                            Job &amp; Career Training</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=F8DE3833782B9D2F9E6465CE12207B8E">
                            Employment Assistance Programs</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=69A831C7AD3D243EE4E0F740B8D4990C">
                            Employment Standards, Tribunals &amp;
                            Boards</a></li>
                        </ul>

                        <div class="topDestinations">
                            <h3>Top Destinations</h3>

                            <ul>
                                <li><a href=
                                "http://www.employment.gov.bc.ca/">B.C.
                                Government Jobs</a></li>

                                <li><a href=
                                "http://www.labour.gov.bc.ca/esb/">Employment
                                Standards</a></li>

                                <li><a href=
                                "http://www.eia.gov.bc.ca/bcea.htm">Income
                                Assistance</a></li>

                                <li><a href=
                                "http://www.servicecanada.gc.ca/eng/sc/ei/benefits/regular.shtml">
                                Employment Insurance</a></li>

                                <li><a href=
                                "http://www.labour.gov.bc.ca/esb/facshts/min-wage.htm">
                                Minimum Wage in B.C.</a></li>

                                <li><a href=
                                "http://www.pssg.gov.bc.ca/criminal-records-review/index.htm">
                                Criminal Record Check</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="flyout" id=
                    "topperFlyout_F9A8A09A65CE26DDE77E10C5CB32A392">
                        <h2>About B.C.</h2><img alt="About B.C." src=
                        "/assets/gov/images/site_navigation_global/nav_discoverbc.png">

                        <ul class="sectionLinks">
                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=B12CD167A475FAADF24D6FB532FAEFFB">
                            Geography &amp; Demographics</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=0339B87162CF4D379BE87E7DE5E72656">
                            Immigrating to B.C.</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=B9142824C50F65617ABD7E2ADB07FADE">
                            Travel</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=35C7FB7E0B28B011F57FA052DEA7A007">
                            Recreation &amp; the Outdoors</a></li>

                            <li><a href=
                            "http://www2.gov.bc.ca/gov/theme.page?id=1BC2B2B9E83F5AB87884E60783F0221B">
                            Arts &amp; Culture</a></li>
                        </ul>

                        <div class="topDestinations">
                            <h3>Top Destinations</h3>

                            <ul>
                                <li><a href=
                                "http://www.env.gov.bc.ca/fw/wildlife/hunting/regulations/">
                                Hunting</a></li>

                                <li><a href=
                                "http://www.env.gov.bc.ca/fw/fish/">Fishing</a></li>

                                <li><a href=
                                "http://www.hellobc.com/british-columbia/transportation-maps/maps.aspx">
                                Maps of B.C.</a></li>

                                <li><a href=
                                "http://www.welcomebc.ca/wbc/immigration/index.page?WT.svl=Topnav">
                                Immigration</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="clear"></div>
                </div><!-- googleon: all -->
            </div>

            <div class="iw_component" id="c1345851942344">
                <!-- googleoff: all -->

                <div id="banner">
                    <a class="logo" href="/pub/edc"
                    title="B.C. Home"></a>

                    <h1 id="activetheme">EDC</h1>
                    <div class="test" id="searchArea">
                        <form action=
                        "/dbc/index.page?submit=true&amp;componentID=1345851942344"
                        id="search" method="get" onsubmit=
                        "javascript:this.q.value=this.q.value.toLowerCase();">
                            <input autocomplete="off" id="searchBox" name=
                            "keywords" onkeyup="ss_keyhandle(event)" type=
                            "text" value=""><input name="config" type="hidden"
                            value="gov"><a class="SubmitLinkButton" href="#"
                            style="text-decoration:none;">Search</a><br clear=
                            "all">

                            <div id="typeAhead">
                                <ul id="keyword_list"></ul>
                            </div>
                        </form>
                    </div>
                </div><!-- googleon: all -->
            </div>

            <div class="iw_component" id="c1345851942347">
                <div id="row-topsubthemenav">
                    <div class="ls-fxr" id="ls-gen5-ls-fxr">
                        <div class="subtheme_navigation">
                            <div class="subthemes overlayControls">
                                <ul>
                                    {% block header_site_navigation_tabs %}
                                    {{ super() }}
                                    {% endblock %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


{% endblock %}
