#footer_theme_links_container{
	width:960px;
    background-color:#394559;
	float:left;
	height:452px;
	font-family: verdana, arial, sans-serif;
    line-height: 13px;
}

#footer_container{
	width:960px;
    background-color:#394559;
	float:left;
	font-family: verdana, arial, sans-serif;
    line-height: 13px;	
	height: 120px;
}

#footer{
	width:920px;
	padding:0 20px 0 20px;
	margin-top:0;
	background-color:#394559;
}

.footer_theme_links h3 {
	margin-top: 0;
	margin-bottom: 10px;
}

.footer_theme_links h3 a, .footer_theme_links h3{
	color: #FFFFFF;
    font-family: Century Gothic,verdana,sans-serif;
    font-weight: normal;
    text-decoration: none;
	padding-bottom:5px;
}

.footer_theme_links h3 a:hover{
	text-decoration:underline;
}

.footer_theme_links{
	padding:13px 20px;
	float:left;
	width:200px;
	height:200px;
	line-height: 1;
	background-color: #394559;
}

.footer_theme_links ul {
	margin:0;
	padding:0;
	font-family:verdana,arial,sans-serif;
}

.footer_theme_links li {
	padding: 6px 0 0 0;
	line-height:110%;
	list-style-type: none;
}
.footer_theme_links li a{
	color:#FFFFFF;
	text-decoration:none;
}
.footer_theme_links li a:hover{
	text-decoration:underline;
}

#media_links{
	position:relative;
	padding:20px 0;
	background-color:#FFFFFF;
	border-radius: 7px;
	height:30px;
	behavior: url(/pub/edc/assets/gov/css/PIE.htc);
}

#media_links img{
	float:left;
	margin-top:-10px;
}

#media_links ul{
	list-style-type:none;
	padding:0;
	margin:8px 0 0 20px;
	float:left;
}

#media_links li{
	display:inline;
	margin:0;
	padding: 0 10px;
	border-left:1px solid #394559;
}

#media_links li:first-child{
	border:none;	
}

#media_links li a{
	text-decoration:none;
}

#media_links li a:hover{
	text-decoration:underline;
}

#admin_links{
	position:relative;
	float:right;
}

#admin_links ul{
	padding:5px 0; 
	list-style-type:none;
}

#admin_links li{
	display:inline;
	padding:0 5px;
}

#admin_links li a{
	text-decoration:none;
	color:#FFFFFF;
}

#admin_links li a:hover{
	text-decoration:underline;
}
