/*html*/
html { }
html {
    background-color: transparent;
    background-position: left bottom;
    background-repeat: repeat-x;
}
/*body*/
body {
    background-image: url("/local/dbc/images/dbc_top.jpg");
    background-color: transparent;
    background-position: left top;
    background-repeat: repeat-x;
}

table, caption, tbody, tfoot, thead, tr, th, td{
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}

p{
	font-size:12px;
}

/*left nav*/
#nav-col{
	width:210px;
}

#banner h1 {
	margin-top: 25px;
	margin-bottom:0;
}

#row-topsubthemenav{

}

/*right nav*/
.right_column p{
    font-family: verdana;
    font-size: 11px;
	margin-bottom:10px;
}
.right_column .freeform ul, .right_column .freeform ol{
	padding-left:0;
	/*font-size:12px;*/
}
.right_column .freeform ul > li{
    background: url("/common/images/bullets_list.png") no-repeat scroll 0 1px transparent;
    list-style-type: none;
	margin-bottom: 3px;
    padding-left: 17px;
}
/*list style arrow*/
ul.list_style_arrow{
	margin-bottom:15px;
	margin-top:15px;
}
ul.list_style_arrow li{
	background: url("/common/images/bullets_list.png") no-repeat scroll 0 1px transparent;
    list-style-type: none;
	margin-bottom: 5px;
    padding-left: 17px;
	line-height: 18px;
}

/* numbered list */
ol.list_style_number, ol.list_style_letter, ol.list_style_roman {
	margin-bottom: 15px;
	margin-top: 15px;
}

li>ol.list_style_number, li>ol.list_style_letter, li>ol.list_style_roman {
	margin-bottom: 0px;
	margin-top: 0px;
}

ol.list_style_number li {
	list-style-type: decimal;
	margin-bottom: 5px;
	margin-left: 25px;
	line-height: 18px;
}

ol.list_style_letter li {
	list-style-type: lower-alpha;
	margin-bottom: 5px;
	margin-left: 25px;
	line-height: 18px;
}

ol.list_style_roman li {
	list-style-type: lower-roman;
	margin-bottom: 5px;
	margin-left: 25px;
	line-height: 18px;
}

/*media widget*/
div.media_widgets{
	display:inline;
	margin-top:10px;
}
/*Masthead section*/
#masthead{
	width:960px;
	background-image:url("/local/dbc/images/bg_masthead.jpg");
	background-repeat:no-repeat;
	height:115px;
}
#masthead #bannerLinks{
	height:25px;
	padding-left:633px;
	padding-top:55px;
}
#masthead #bannerLinks .dbc_main_logo{
	float:left;
	position:absolute;
	margin-left: -622px;
	margin-top: -39px;
}

#masthead #bannerLinks ul{
	margin:0;
	padding:0;
}
#masthead #bannerLinks li{
	list-style-type:none;
	float:left;
	margin-left:15px;

}
#masthead #bannerLinks li a{
	text-decoration:none;
	font-size:.9em;
	color:#234075;
}
#masthead #bannerLinks li a:hover{
	color:#8c8c8e;
}
#masthead #navTabs{
	margin-left:265px;
	margin-top:6px;
	float:left;
	width:690px;
}
#masthead #navTabs ul{
	margin:0;
	padding:0;
    height: 20px;
}
#masthead #navTabs li{
	list-style-type:none;
	float:left;
	margin:0;
	padding:0;
	text-align:center;
}
#masthead #navTabs li#catalogue{
	width:163px;
}
#masthead #navTabs li#apps{
	width:140px;
}
#masthead #navTabs li#license{
	width:95px;
}

#masthead #navTabs li#about{
	width:75px;
}
#masthead #navTabs li#community{
	width:110px;
}
#masthead #navTabs li#contact{
	width:100px;
}

#masthead #navTabs li a{
	text-decoration:none;
	font-size:17px;
	color:#234075;
	margin:0;
	padding:0;
}
#masthead #navTabs li a:hover{
	color:#8c8c8e;
}

.vertical p{
	/*IE Bug Fix*/
	*width:268px;
}


/*end of Masthead section*/

img.icon {
	padding: 0 5px 0 4px;
}

/*Terms of Use Bar*/
#terms_bar{
	background-image:url("/local/dbc/images/bg_terms.jpg");
	background-repeat:no-repeat;
	height:40px;
}
#terms_bar p{
	float:left;
	color:#404040;
	font-size:1em;
}
#terms_bar p.small{
	font-size:0.8em;
	text-decoration:none;
	float:right;
	margin:13px 50px 0 0;
}
#terms_bar p.small_left{
	font-size:0.8em;
	text-decoration:none;
	float:left;
	margin: 13px 0 0 160px;
}
#terms_bar a{
	color:#D59817;
	text-decoration:underline;
}
#terms_bar a:hover{
	color:#404040;
	text-decoration:underline;
}
.match{
	color: #404040;
    font-size: 0.8em;
}

/*glossary page table style*/
table.glossary_dbc tbody tr td p{
	min-height:40px;
	padding-top:5px;
	padding-bottom:10px;
	margin:0;
}

/*end of glossary page*/

/*license page style*/

ul.license {
	list-style-type:none;
	padding: 0;
	margin: 0;
}

ul.license li {
}

ul.license .number {
	width:3%;float:left;
}

ul.license .text {
	width:97%;float:left;
}

ul.license li ul.license {
	padding-left: 20px;
}


p.title {
	font-weight:bold;
	clear: both;
	padding-top: 20px;
}

ul.license p {
	font-size: 1em;
	clear:both;
}

/* start contact page style */

.-row {
    float: none;
	padding: 0;
}

form {
	color: #404040;
}

.-field-area {
    float: none;
	padding-bottom: 0;
}

.-label {
    display: block;
    float: none;
	width: 100%;
	font-size: 0.8em;
	padding-top: 25px;
}

.dbc_comments_pt{
	display: block;
    float: none;
	width: 100%;
	font-size: 0.8em;
	font-weight: bold;
	margin-top:22px;
	*margin-top:0px;
}

.contacts_comments_pt{
	display: block;
    float: none;
	width: 100%;
	font-size: 0.8em;
	font-weight: bold;
	margin-top:22px;
	*margin-top:0px;
}

.-field {
    float: none;
}

#textarea1299262667307_1 {
	width: 600px;
	border: 1px solid #c7c7c7;
}

.-required-indicator {
	color: #404040;
}



/* end contact page style */

.search_result_title h4 {
	padding-left: 10px;
}


.rss_link {
	float:right;
	margin:-44px 0 0;
}
#rss_sub {
	padding: 2px;
}

/*box with a blue background*/
.box_blueBackground{
	background-color:#e8edf6;
	/*height:145px;*/
}
.box_blueBackground h3, .dbc_search_box h3{
    /*background-color: #394559;*/
    color: #282828;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
    padding: 10px;
	border-bottom: 1px solid #D3D3D3;
}
.box_blueBackground p, .dbc_search_box p{
    color: #4D4D4D;
    font-family: verdana;
    font-size: 12px;
    padding-left: 15px;
	padding-top:10px;
	padding-right:15px;
}
.box_blueBackground ul, ul.sutd{
    margin-left: 15px;
    margin-top: 10px;
	margin-right: 15px;
	padding-bottom:10px;
}
.box_blueBackground .box_with_images ul{
	margin-left:0;
}
.box_blueBackground ul li{
	font-size:12px;
	margin-bottom:5px;
	font-family:Verdana;
	line-height:15px;
	padding-left: 15px;
	background:url("/common/images/bullets_list.png") no-repeat scroll 0 1px transparent;
}
ul.sutd li, .box-content ul.sutd li{
	background: url("/local/dbc/images/icons/icon_rss.png") no-repeat scroll 0 0 transparent;
	padding-left:20px;
}

/*homepage search box styling*/
.dbc_search_box{
	background: url("/local/dbc/images/bg_searchBox_home.png") no-repeat scroll 0 0 transparent;
	float: left;
    height: 45px;
    width: 960px;
}
.dbc_search_box p{
	/*margin-top:30px;*/
}
.dbc_search_box .keyword_search{
	background: url("/local/dbc/images/bg_searchKeywordBox_home.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 39px;
    margin-bottom: 4px;
    margin-top: 3px;
	width:450px;
	margin-left:110px;
}
.dbc_search_box .keyword_search #icon_searchBox{
	float:left;
    height: 18px;
    margin-left: 0;
    margin-top: 0;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-top: 2px;
	background-color:#ffffff;
}
.dbc_search_box .keyword_search .search_box{
    float: left;
    height: 29px;
    width: 410px;
}
.dbc_search_box .keyword_search .search_box .keywords{
    color: black;
}

input#keywords.placeholder {
    background: url("/local/dbc/images/default_searchBox_home.png") no-repeat scroll 0 0 transparent;
}

.dbc_search_box .keyword_search .search_btn{
    float: left;
    margin-top: 5px;
}

/*box with images on homepage*/
.box_with_images{
	padding-left:15px;
	padding-right:15px;
	padding-top:15px;
	height:250px;
	background-color:#e8edf6;
	float:left;
}
.box_with_images p{
	padding-left:0;
    line-height: 16px;
}
.box_with_images ul{
	/*margin-left:15px;*/
}
.box_with_images ul li{
	color:yellow;
	list-style-image:none;
}

/*most popular component*/
.most_popular, .latest_addition{
	height:250px;
    float: left;
    width: 700px;
	background:url("/local/dbc/images/bg_detail_dataset.png") no-repeat #e8edf6;
}
.most_popular #left_col, .latest_addition #left_col{
	float:left;
	width:360px;
}
.most_popular #right_col, .latest_addition #right_col{
	float:left;
	width:330px;
}
.most_popular .left_column, .latest_addition .left_column{
	float:left;
	width:325px;
	height:40px;
}
.most_popular .right_column, .latest_addition .right_column{
	float:left;
	width:298px;
    padding-left: 15px;
    padding-right: 15px;
	margin-top: -10px;
	height:211px;
}
.most_popular h3, .latest_addition h3{
	font-size:18px;
	color:#394559;
	font-family:Century Gothic,sans-serif;
    margin-top: 0;
    padding-left: 10px;
    padding-top: 15px;
	margin-bottom:5px;
	padding-bottom: 5px;
	font-weight: normal;
}
.most_popular .left_column p.title, .most_popular .right_column p.title, .latest_addition .left_column p.title, .latest_addition .right_column p.title{
	font-size:12px;
	font-family:Verdana;
	padding-left:10px;
	padding-top:0;
	padding-top:0;
	font-weight:normal;
	margin-top:0;
	padding-bottom:0;
}
.most_popular .right_column p.title, .latest_addition .right_column p.title{
	font-size:14px;
	padding-left:0;
	margin-bottom: 0;
}
.most_popular .left_column p.title a, .latest_addition .left_column p.title a{
	margin-top:0;
}
.most_popular .right_column p.title a, .latest_addition .right_column p.title a{
	margin-top:0;
	margin-bottom: 3px;
	width:318px;
	float:left;
	line-height: 16px;
}
.most_popular .left_column p.title a:hover, .latest_addition .left_column p.title a:hover{
	text-decoration:underline;
	cursor:pointer;
	margin-bottom: 3px;
	width:318px;
	float:left;
}
.most_popular .left_column p.title a.show, .latest_addition .left_column p.title a.show{
	text-decoration:underline;
	background:url("/local/dbc/images/img_bg_arrow_active_datasets.png") no-repeat;
	width:350px;
	float:left;
	margin-bottom: 0;
	background-position:right;
}
.most_popular .left_column p.title a.show:hover, .latest_addition .left_column p.title a.show:hover{
	color: #0088CC;
}

.most_popular .left_column p.resource, .latest_addition .left_column p.resource{
	font-size:10px;
	color:#898989;
    margin-top: 0;
	padding:0;
	padding-left:10px;
}
.most_popular .right_column p.date, .most_popular .right_column p.description, .latest_addition .right_column p.date, .latest_addition .right_column p.description{
	color:#4d4d4d;
	font-size:12px;
    margin-top: 5px;
    line-height: 16px;
    font-family: verdana;
}
.most_popular .right_column p.description,.latest_addition .right_column p.description{
	margin-bottom:10px;
	margin-top:0;
}
.most_popular .right_column p.date, .latest_addition .right_column p.date{
	font-style:italic;
	margin-bottom: 0;
	margin-top: 0;
}

/*navigation*/
.subthemes menu li.hidden{
	display:none;
}

.topics li.hidden{
	display:none;
}

/*breadcrumbs*/
#breadcrumbs{
	padding-top:10px;
	background:none;
	float:left;
}
/*blog post, homepage*/
.blog_post{
	width:220px;
	padding-top:15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
	float:left;
	height:325px;
	background-color:#e8edf6;
}
.blog_post h3{
    /*background-color: #394559;*/
    color: #282828;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
    padding: 15px;
	padding-left:10px;
	border-bottom: 1px solid #D3D3D3;
    margin-left: -10px;
    margin-right: -15px;
    padding-bottom: 10px;
    padding-top: 0;
	width:215px;
}
.blog_post p.title{
	padding-top:5px;
	padding-bottom: 0;
	font-weight:normal;
}
.blog_post p.title a{
	font-size:13px;
	font-family:Verdana, Geneva, sans-serif;
	line-height:16px;
}
.blog_post p.date{
	font-size:12px;
	font-family:Verdana, Geneva, sans-serif;
	font-style:italic;
	color:#7b7b7b;
	padding-bottom:5px;
	padding-top:5px;
}
.blog_post p.description{
	font-size:12px;
	line-height:18px;
	font-family:Verdana, Geneva, sans-serif;
	color:#4d4d4d;
	padding-top: 0;
}
.blog_post ul.link{
	font-size:12px;
	font-family:Verdana, Geneva, sans-serif;
	color:#234175;
    position: relative;
    top: 10px;
	margin-left: 23px;
}
.blog_post ul.link li{
	list-style-image: url("/local/dbc/images/img_blog_post_read.png");
}

/*temp*/
span.temp{
	color:#F00;
}
/*right column - date format in italics*/
span.date_format{
	font-style:italic;
}

/*two column layout*/
.two_col{
	float:left;
	width:660px;
}
.two_col .left, .two_col .right{
	float:left;
	width:290px;
	background-color:#E8EDF6;
	padding:15px;
	margin-bottom: 20px;
}
.two_col .item{
	float:left;
}
.two_col .left{
	margin-right:20px;
}
.two_col .right{
	float:right;
}
.two_col .dotted_borderLine{
	border-top:1px dotted #6D6D6D;
	float:left;
	width: 290px;
}
.two_col p.link_title{
	padding-bottom: 0;
	float:left;
}
.two_col p.desc{
	float:left;
	padding-top: 5px;
	width: 99%;
}
.two_col span.launch{
	float:right;
}
/*
.two_col span.img_two_col img.img_two_col{
	width:290px;
	height:109px;
}
*/
.two_col p.link_title a{
	float:left;
	width:210px;
}
.two_col p.link_title span.launch{
	float:right;
	width:50px;
	margin-right: 15px;
}
/* */
a.launchapp {
        background: transparent url("/local/dbc/images/icons/icon_launch_application.png") center left no-repeat;
	padding-left: 18px;
}

a.clickhere_icon {
        background: transparent url("/local/dbc/images/icons/icon_click_here.png") center left no-repeat;
	padding-left: 18px;
}

a.comments_icon {
        background: transparent url("/local/dbc/images/icons/icon_comments.png") center left no-repeat;
	padding-left: 18px;
}

a.learnmorewhatsnew_icon {
        background: transparent url("/local/dbc/images/icons/icon_learn_more_whats_new.png") center left no-repeat;
	padding-left: 18px;
}


a.view_icon {
        background: transparent url("/local/dbc/images/icons/icon_view.png") center left no-repeat;
	padding-left: 18px;
}


/*twiiter dbc*/
#twitter_dbc .twtr-bd{
	border-bottom:1px solid #D3D3D3;
	border-TOP:1px solid #D3D3D3;
}

/*web map services, table style*/
table#web_map_services{
}
table#web_map_services th{
	background-color:#EBEEF3;
}
table#web_map_services td, table#web_map_services th{
	border: 1px solid #DFE3EA;
    padding: 5px;
    vertical-align: top;
}

/*ten most recent*/
.ten_most_recent{
	width:430px;
	float:left;
}
.ten_most_recent #news_roll{
	height:95px;
}
.ten_most_recent #news_roll ul{
	margin-top:10px;
}
.ten_most_recent table#ten_most_recent{
}
.ten_most_recent table#ten_most_recent th{
	background-color:#EBEEF3;
}
.ten_most_recent table#ten_most_recent th, .ten_most_recent table#ten_most_recent td{
	border: 1px solid #DFE3EA;
    padding: 5px;
    vertical-align: top;
}
.ten_most_recent p{
	font-weight:normal;
	padding: 5px 0;
	line-height:18px;
}

/*start a project*/
#start_a_project{
	border-top: 1px solid #000000;
	display: block;
	height: 160px;
	margin-top:100px;
}
#start_a_project h4{
	margin-top:140px;
}
#start_a_project #build_an_app a#build_an_app, #start_a_project #build_an_app a#build_an_app:hover{
	float:left;
	display:block;
	text-align:center;
	top:530px;
	width:130px;
	height:166px;
	left:265px;
	margin-top:-70px;
}
#start_a_project #build_an_app a#build_an_app{
	background:url("/local/dbc/images/build-an-app.png") no-repeat;
	background-position:top;
}
#start_a_project #build_an_app a#build_an_app:hover{
	background:url("/local/dbc/images/build-an-app-hover.png") no-repeat;
	background-position:top;
}
#start_a_project #make_a_graph a#make_a_graph, #start_a_project #make_a_graph a#make_a_graph:hover{
	float:left;
	display:block;
	text-align:center;
	top:530px;
	left:398px;
	width:162px;
	height:166px;
	margin-top:-70px;
}
#start_a_project #make_a_graph a#make_a_graph{
	background:url("/local/dbc/images/make-graph-chart.png") no-repeat;
	background-position:top;
}
#start_a_project #make_a_graph a#make_a_graph:hover{
	background:url("/local/dbc/images/make-graph-chart-hover.png") no-repeat;
	background-position:top;
}
#start_a_project #make_a_map a#make_a_map, #start_a_project #make_a_map a#make_a_map:hover{
	float:left;
	display:block;
	text-align:center;
	top:530px;
	left:565px;
	width:130px;
	height:166px;
	margin-top:-70px;
}
#start_a_project #make_a_map a#make_a_map{
	background:url("/local/dbc/images/make-a-map.png") no-repeat;
	background-position:top;
}
#start_a_project #make_a_map a#make_a_map:hover{
	background:url("/local/dbc/images/make-a-map-hover.png") no-repeat;
	background-position:top;
}

/*metadata profile*/
table#metadata_profile{
	width:440px;
	border-width: 1px;
	border-color: #DFE3EA;
	border-collapse: collapse;
	table-layout:fixed;
}
table#metadata_profile th{
	border-width: 1px;
	padding: 5px;
	border-style: solid;
	border-color: #DFE3EA;
	background-color: #E8EDF6;
}
table#metadata_profile td{
	border:1px solid #DFE3EA;
	padding:5px;
	word-wrap:break-word;
}


