{% block footer_debug %}
    {% if g.debug %}
        {% include 'snippets/debug.html' %}
    {% endif %}
{% endblock %}

{# % snippet 'snippets/sub-navigation.html', userobj = c.userobj %}
{% snippet 'snippets/main-navigation.html', userobj = c.userobj % #}

    <div id="footer">
        <img src="/assets/gov/images/back-to-top.png" alt="Back to top" title="Back to top" class="back-to-top" style="display: none;">
        <div id="footerWrapper">
            <div id="footerToggle">
                <a class="footerExpand" href="http://www2.gov.bc.ca/#"><img src="/assets/gov/images/footer_expandbutton.png" alt="Expand footer" title="Expand footer"></a>
                <a class="footerCollapse" href="http://www2.gov.bc.ca/#" style="display:none"><img src="/assets/gov/images/footer_collapsebutton.png" alt="Collapse footer" title="Collapse footer"></a>     
            </div>
        
            <div id="footerCollapsible">
        
                <div id="footerContainer" class="container">
                    
                    <div id="footerMediaLinks" class="row">
                        <div class="span12">
                            <div class="connect">
                                <h2 class="pull-left">Connect With Us</h2>
                            </div>
                            <div class="">
                                <ul class="inline">
                                    <li data-order="0"><a href="https://news.gov.bc.ca/" target="_blank" rel="noopener noreferrer">BC Gov News</a></li>
                                    <li data-order="1"><a href="https://www.facebook.com/BCProvincialGovernment" target="_blank" rel="noopener noreferrer">Facebook</a></li>
                                    <li data-order="2"><a href="https://twitter.com/BCGovNews" target="_blank" rel="noopener noreferrer">Twitter</a></li>
                                    <li data-order="3"><a href="https://www.flickr.com/photos/bcgovphotos/" target="_blank" rel="noopener noreferrer">Photos</a></li>
                                    <li data-order="4"><a href="https://www.youtube.com/user/ProvinceofBC" target="_blank" rel="noopener noreferrer">Videos</a></li>
                                    <li data-order="5"><a href="https://news.gov.bc.ca/newsletters" target="_blank" rel="noopener noreferrer">Newsletters</a></li>
                                    <li data-order="6"><a href="https://news.gov.bc.ca/connect#rss" target="_blank" rel="noopener noreferrer">RSS Feeds</a></li>
                                </ul>
                            </div>
                        
                            <hr class="span12">
                        </div>
                    </div>
                
                    <div id="footerAZLinks" class="row hidden-xs">
                        <div class="span12">            
                            <h2>Government A-Z</h2>
                            <div class="row">
                                <div class="span4">
                                <ul class="bulleted">
                                    <li id="replicantData_461EB6AD9D76408B82B694E9FBDEFE32" data-order="0">
                                                <a href="http://www2.gov.bc.ca/gov/content/home/services-a-z" target="_self">Services A-Z</a>

        </li>
                                        </ul>
                            </div>
                            <div class="span4">
                                <ul class="bulleted">
                                    <li id="replicantData_F0EA3631778F4368BC0987587A9985B7" data-order="1">
                                                <a href="http://www2.gov.bc.ca/gov/content/home/organizations-a-z" target="_self">Organizations A-Z</a>

        </li>
                                        </ul>
                            </div>
                            <div class="span4">
                                <ul class="bulleted">
                                    <li id="replicantData_4DC9D94C2FFD4FFBAEA035FE68828407" data-order="2">
                                                <a href="http://www2.gov.bc.ca/gov/content/home/forms-a-z" target="_self">Forms A-Z</a>

        </li>
                                        </ul>
                                
                            </div>
                            </div>
                            
                            <hr class="hidden-md hidden-lg span12">
                        </div>
                    </div>
                
                    <div id="footerThemeLinks" class="row hidden-xs">
                        <div class="span12">
                            <h2>Services and Information Topics</h2>

                            <div class="row">
                                
                                <div class="span4">
                                    <ul class="bulleted">
                                        <li><a href="http://www2.gov.bc.ca/gov/content/governments">British Columbians &amp; Our Governments</a></li>
                                        <li><a href="http://www2.gov.bc.ca/gov/content/health">Health</a></li>
                                        <li><a href="http://www2.gov.bc.ca/gov/content/life-events">Birth, Adoption, Death, Marriage &amp; Divorce</a></li>
                                        <li><a href="http://www2.gov.bc.ca/gov/content/education-training">Education &amp; Training</a></li>
                                        <li><a href="http://www2.gov.bc.ca/gov/content/transportation">Driving &amp; Transportation</a></li>
                                    </ul>
                                </div>
                                <div class="span4">
                                    <ul class="bulleted">
                                        <li><a href="http://www2.gov.bc.ca/gov/content/safety">Public Safety &amp; Emergency Services</a></li>
                                        <li><a href="http://www2.gov.bc.ca/gov/content/justice">Law, Crime &amp; Justice</a></li>
                                        <li><a href="http://www2.gov.bc.ca/gov/content/taxes">Taxes &amp; Tax Credits</a></li>
                                        <li><a href="http://www2.gov.bc.ca/gov/content/housing-tenancy">Housing &amp; Tenancy</a></li>
                                        <li><a href="http://www2.gov.bc.ca/gov/content/sports-culture">Sports, Recreation, Arts &amp; Culture</a></li>
                                    </ul>
                                </div>
                                <div class="span4">
                                    <ul class="bulleted">
                                        <li><a href="http://www2.gov.bc.ca/gov/content/environment">Environmental Protection &amp; Sustainability</a></li>
                                        <li><a href="http://www2.gov.bc.ca/gov/content/industry">Farming, Natural Resources &amp; Industry</a></li>
                                        <li><a href="http://www2.gov.bc.ca/gov/content/employment-business">Employment, Business &amp; Economic Development</a></li>
                                        <li><a href="http://www2.gov.bc.ca/gov/content/tourism-immigration">Tourism &amp; Immigration</a></li>
                                        <li><a href="http://www2.gov.bc.ca/gov/content/family-social-supports">Family &amp; Social Supports</a></li>
                                    </ul>
                                </div>

                            </div>
                            
                            <hr class="span12">
                        </div>
                    </div>  
                    
                </div>  
            </div>
        
            <div id="footerAdminSection">
                <div id="footerAdminLinksContainer" class="container">
                    <div id="footerAdminLinks" class="row">
                        <div class="span12">
                            <ul class="inline">
                                <li data-order="0"><a href="http://www2.gov.bc.ca/gov/content/home" target="_self">Home</a></li>              
                                <li data-order="1"><a href="http://www2.gov.bc.ca/gov/content/about-gov-bc-ca" target="_self">About gov.bc.ca</a></li>      
                                <li data-order="2"><a href="http://www2.gov.bc.ca/gov/content/home/disclaimer" target="_self">Disclaimer</a></li>
                                <li data-order="3"><a href="http://www2.gov.bc.ca/gov/content/home/privacy" target="_self">Privacy</a></li>
                                <li data-order="5"><a href="#tracking-modal" data-toggle="modal">Tracking</a></li>
                                <li data-order="6"><a href="http://www2.gov.bc.ca/gov/content/home/accessibility" target="_self">Accessibility</a></li>
                                <li data-order="7"><a href="http://www2.gov.bc.ca/gov/content/home/copyright" target="_self">Copyright</a></li>
                                <li data-order="8"><a href="http://www2.gov.bc.ca/gov/content/home/contact-us" target="_self">Contact Us</a></li>                                                       
                                <!-- viewport toggle - set view port cookie and reload current page -->
                                <li class="mobileToggle  hidden-lg hidden-md"><a target="_self" href="javascript:location.reload();" onclick="document.cookie = &#39;forseLargeViewport=true; path=/&#39;;">Desktop View</a></li>
                            </ul>
                        </div>
                    </div>
                </div>  
            </div>
            <div id="version">
                <div class="container">
                    {% if h.get_environment_name() %}
                        {{ h.get_environment_name() }}:
                    {% endif %}

                    {% if h.get_version() %}
                        v{{ h.get_version() }}
                    {% endif %}

                    {{ h.get_bcgov_commit_id() }}
                </div>
            </div>
        </div> 
    </div>

    <div id="tracking-modal" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>About Tracking</h3>
      </div>
      <div class="modal-body">
        <p>This website uses Google Analytics, a web analytics service provided by Google Inc. ("Google").</p>
        <p>Google Analytics uses "cookies," which are text files stored on your computer that enable an analysis of your use of the website. Some of the information generated by the cookie about your use of this website may be transmitted to and stored on Google servers outside of Canada. You may refuse the use of cookies by selecting the appropriate settings in your browser; however, please note that if you do so, you may not be able to use the full functionality of this website. Furthermore, you can prevent Google’s collection and use of data generated by the cookie and related to your use of the website by downloading and installing the browser plug-in available at (<a href="http://tools.google.com/dlpage/gaoptout?hl=en" target="_blank" rel="noopener noreferrer">http://tools.google.com/dlpage/gaoptout?hl=en</a>).</p>
        <p>This website also specifies that Google Analytics apply IP Address Anonymization <a href="https://support.google.com/analytics/answer/2763052?hl=en" target="_blank" rel="noopener noreferrer">https://support.google.com/analytics/answer/2763052?hl=en</a> so that complete IP addresses are never stored by Google.</p>
        <p>You can learn more about Google’s Privacy Policies as they pertain to our partner use from <a href="http://www.google.com/policies/privacy/partners/" target="_blank" rel="noopener noreferrer">http://www.google.com/policies/privacy/partners/</a>.</p>
      </div>
    </div>