{% ckan_extends %}

{% block header_wrapper %}
{% block header_account %}{% endblock %}

<div id="header" class="collapsed-header">

        <div id="header-main" class="navbar navbar-default navbar-fixed-top">

            <div class="container" >
                <div id="header-main-row1">
                    <div class="navbar-brand">
                        <a href="http://www2.gov.bc.ca/" class="logo">
                            <img src="/assets/gov/images/gov3_bc_logo.png">
                            <span class="hidden-xs">Data Catalogue</span>
                        </a>
                    </div>
                    <div class="navbar-header">
                        <button data-target="#header-main-row2" data-toggle="collapse" class="menu-button navbar-toggle mini-menu-trigger collapsed" type="button"></button>
                    </div>
                </div>

                <div id="header-main-row2" class="collapse">
                    <div class="header-main-right">
                        <div id="header-links">
                            {% snippet 'snippets/mobile-main-navigation.html', userobj=c.userobj %}
                        </div>
                    </div>

                    <div class="header-main-left">
                        <div id="govNavMenu">
                            <nav class="govNav" id="govMainMenu">
                                <ul class="firstLevel nav navbar-nav">
                                    <li><a href="{{ h.url('/dataset') }}">Datasets</a></li>
                                    <li><a href="{{ h.url('/organization') }}">Organizations</a></li>
                                    <li><a href="{{ h.url('/groups') }}">Groups</a></li>
                                    <li class="hassub clearfix">
                                        <a href="http://www2.gov.bc.ca/gov/content/governments">  Stay up to Date</a>
                                        <span class="level-trigger"></span>
                                        <div class="issub" style="z-index: 1008; display: none;">
                                            <h2 class="hidden-xs">
                                                    Stay up to Date</h2>
                                                <ul class="secondLevel childMenu nav navbar-nav">
                                                    <li>
                                                        <a href="{{ h.url_for(controller='ckanext.edc_rss.controllers.rss:RSSController', action='recent') }}" title="Subscribe to New data">Subscribe to New Data</a><span class="no-trigger visible-xs-block"></span>
                                                    </li>
                                                    <li>
                                                        <a href="http://{{ h.disqus_get_forum_name() }}.disqus.com/latest.rss">Subscribe to Comments</a><span class="no-trigger visible-xs-block"></span>
                                                    </li>
                                                    <li>
                                                        <a href="http://blog.data.gov.bc.ca/feed/" target="_blank">Subscribe to Blog Posts</a><span class="no-trigger visible-xs-block"></span>
                                                    </li>
                                                </ul>
                                        </div>
                                    </li>
                                    <li><a href="{{ h.url('/about') }}">About</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav id="sub" class="navbar-fixed-top">
        {% snippet 'snippets/main-navigation.html', userobj=c.userobj %}

        <div class="site-title visible-xs-inline-block">
            <h1 class="">Data Catalogue</h1>
        </div>
    </nav>

{% endblock %}
