{% ckan_extends %}

{% block header_wrapper %}
{% block header_account %}{% endblock %}

<div id="header" class="collapsed-header">

        <div id="header-main" class="navbar navbar-default navbar-fixed-top">

            <div class="container" >
                <div id="header-main-row1">
                    <div class="row">
                        <div class="span8 navbar-brand">
                            <div href="http://www2.gov.bc.ca/" class="logo">
                                <a href="http://www2.gov.bc.ca/"><img src="/assets/gov/images/gov3_bc_logo.png"></a>
                                <a href="{{ h.url('/dataset') }}" class="hidden-xs">Data Catalogue</a>
                            </div>
                            <div class="navbar-header">
                                <button data-target="#header-main-row2" data-toggle="collapse" class="menu-button navbar-toggle mini-menu-trigger collapsed" type="button"></button>
                                <button data-target="#header-main-row1 .header-search.collapse" data-toggle="collapse" class="search-button navbar-toggle mini-menu-trigger collapsed" type="button"></button>
                            </div>
                        </div>
                        <div class="span4 header-main-right hidden-xs">
                            <div class="header-main-search">
                              <form role="form" class="" method="get" action="{{ h.url('/dataset') }}" id="suggestion_form">
                                <label style="display:none;" for="global-search">Search</label>
                                <input type="text" autocomplete="off" value="" name="q" placeholder="Search datasets..." class="searchbox">
                                <i class="icon-search"></i>
                                <div class="search-trigger"> </div>
                            </form>
                          </div>
                        </div>
                    </div>
                    <div class="header-search collapse">
                       <div class="search-boarder-arror visible-xs-block"></div>
                       <div class="header-main-right">
                           <div class="gov search">
                               <form role="form" class="" method="get" action="https://catalogue.data.gov.bc.ca/dataset" id="form-dataset-search-header">
                                   <label class="sr-only" for="dataset-search">Search</label>
                                   <input type="text" autocomplete="off" value="" name="q" placeholder="Search BC Data Catalogue" class="searchbox" id="dataset-search">
                                   <div class="search-trigger"> </div>
                               </form>
                           </div>
                       </div>
                   </div>
                </div>

                <div id="header-main-row2" class="collapse">
                    <div class="header-main-right">
                        <div id="header-links">
                            {% snippet 'snippets/mobile-main-navigation.html', userobj=c.userobj %}
                        </div>
                    </div>

                    <div class="header-main-left">
                        <div id="govNavMenu">
                            <nav class="govNav" id="govMainMenu">
                                <ul class="firstLevel nav navbar-nav">
                                    <li><a href="{{ h.url('/dataset') }}">Datasets</a></li>
                                    <li><a href="{{ h.url('/organization') }}">Organizations</a></li>
                                    <li><a href="{{ h.url('/groups') }}">Groups</a></li>
                                    <li class="hassub clearfix">
                                        <a href="http://www2.gov.bc.ca/gov/content/governments">  Stay up to Date</a>
                                        <span class="level-trigger"></span>
                                        <div class="issub" style="z-index: 1008; display: none;">
                                            <h2 class="hidden-xs">
                                                    Stay up to Date</h2>
                                                <ul class="secondLevel childMenu nav navbar-nav">
                                                    <li>
                                                        <a href="{{ h.url_for(controller='ckanext.edc_rss.controllers.rss:RSSController', action='recent') }}" title="Subscribe to New data">Subscribe to New Data</a><span class="no-trigger visible-xs-block"></span>
                                                    </li>
                                                    <li>
                                                        <a href="http://{{ h.disqus_get_forum_name() }}.disqus.com/latest.rss">Subscribe to Comments</a><span class="no-trigger visible-xs-block"></span>
                                                    </li>
                                                    <li>
                                                        <a href="http://engage.gov.bc.ca/data/feed/" target="_blank">Subscribe to Blog Posts</a><span class="no-trigger visible-xs-block"></span>
                                                    </li>
                                                </ul>
                                        </div>
                                    </li>
                                    <li><a href="{{ h.url('/about') }}">About</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav id="sub" class="navbar-fixed-top">
        {% snippet 'snippets/main-navigation.html', userobj=c.userobj %}

        <div class="site-title visible-xs-inline-block">
            <h1 class="">Data Catalogue</h1>
        </div>
    </nav>

{% endblock %}
