{% ckan_extends %}
{% block organizations_search_form %}
{% endblock %}

  {% block organizations_list %}
    {% if c.top_orgs_items %}
        {% snippet "organization/snippets/organization_list.html", organizations=c.top_orgs_items, pkg_count = c.org_pkg_count %}
    {% else %}
      <p class="empty">
        {{ _('There are currently no organizations for this site') }}.
        {% if h.check_access('organization_create') %}
          {% link_for _('How about creating one?'), controller='organization', action='new' %}</a>.
        {% endif %}
      </p>
    {% endif %}
  {% endblock %}
    
 {% block page_pagination %}
 {% endblock %}
