/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */

/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */

/*
 *	Font scales
 */

/*
 *	Overrides for Bootstrap variables
 */

/*
 Default Mixins and namespace variables
 */

#wb-lng .curr span {
  height: 1px;
  width: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  position: absolute;
  margin: 0;
}

/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */

/*
 Views
 */

/* All screen views */

@media screen {
  /*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */

  /*
  @title: All screen views
 */

  #wb-bc li:first-child:before,
  [dir=rtl] #wb-bc li:before,
  [dir=rtl] #wb-bc li:first-child:after {
    content: none;
    padding: 0;
  }

  body> header {
    background: #cccccc;
  }

  #wb-bar {
    background: #555555;
  }

  #wb-bar> .container {
    background: #333333;
  }

  #wb-bnr> .container {
    background: #cf3f0e;
  }

  #wb-sttl a {
    color: white !important;
  }

  #wb-sttl a:link {
    text-decoration: none;
  }

  #wb-sttl a:hover,
  #wb-sttl a:focus {
    text-decoration: underline;
  }

  #wb-sttl small {
    display: block;
    font-size: 0.4em;
    margin-bottom: 4px;
  }

  #wb-bc .breadcrumb {
    margin-bottom: 0;
    background: transparent;
  }

  #wb-bc li:before,
  #wb-bc li:after {
    font-family: "Glyphicons Halflings";
    font-size: 0.7em;
    color: #333333;
  }

  #wb-bc li:before {
    content: "\e092";
  }

  #wb-dtmd {
    float: right;
  }

  #wb-info li {
    margin-bottom: 0.75em;
  }

  [dir=rtl] #wb-bc li:after {
    content: "\e091";
    padding: 0 5px;
  }

  [dir=rtl] #wb-dtmd {
    float: left;
  }
}

/* Extra-small view and under */

@media screen and (max-width: 767px) {
  /*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */

  /*
  @title: Extra-small view and under (screen only)
 */
}

/* Small view and under */

@media screen and (max-width: 991px) {
  /*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */

  /*
  @title: Small view and under (screen only)
 */

  #wb-glb-mn {
    padding: 0;
  }

  #wb-glb-mn .pnl-btn {
    position: relative;
    z-index: 2;
    margin: 0;
    float: right;
  }

  #wb-glb-mn .pnl-btn li {
    padding: 0 10px;
    width: 100%;
  }

  #wb-glb-mn .pnl-btn a {
    font-size: 1.5em;
    display: block;
    width: 100%;
    color: #474747;
    line-height: 1em;
  }

  #mb-pnl .srch-pnl,
  #mb-pnl .lng-ofr,
  #mb-pnl .sec-pnl {
    background: #efefef;
  }

  #mb-pnl #wb-srch-sub-imprt,
  #mb-pnl #wb-srch-sub-imprt:hover,
  #mb-pnl #wb-srch-sub-imprt:focus,
  #mb-pnl #wb-srch-sub-imprt:active,
  #mb-pnl .sm-pnl a,
  #mb-pnl .sm-pnl summary,
  #mb-pnl .sm-pnl summary:hover,
  #mb-pnl .sm-pnl summary:focus {
    color: white;
  }

  #mb-pnl {
    background: #cccccc;
  }

  #mb-pnl header {
    background-color: #555555;
  }

  #mb-pnl nav a {
    color: black;
    text-decoration: none;
  }

  #mb-pnl summary:hover,
  #mb-pnl summary:focus {
    background: transparent;
  }

  #mb-pnl .modal-body {
    background: #cccccc;
    padding: 0;
  }

  #mb-pnl .srch-pnl .form-group {
    float: left;
    margin-right: 5px;
    width: 75%;
  }

  #mb-pnl #wb-srch-sub-imprt {
    background: #555555;
    border-color: #555555;
  }

  #mb-pnl #wb-srch-sub-imprt:hover,
  #mb-pnl #wb-srch-sub-imprt:focus,
  #mb-pnl #wb-srch-sub-imprt:active {
    background-color: #777777;
    border-color: #777777;
  }

  #mb-pnl .lng-ofr a {
    color: black;
    text-decoration: none;
  }

  #mb-pnl .sm-pnl {
    background: #555555;
  }

  #wb-sttl a {
    position: relative;
    z-index: 1;
    padding-top: 1.125em;
    font-size: 1.9em;
    text-shadow: 0 1px 1px #044062;
  }

  #wb-sttl object,
  #wb-sttl img {
    position: absolute;
    top: -27px;
    margin: 0;
    width: 158px;
  }

  #wb-bc .breadcrumb {
    background: white;
    border-radius: 0;
  }

  [dir=rtl] #mb-pnl .srch-pnl .form-group {
    float: right;
    margin-right: auto;
    margin-left: 5px;
    width: 75%;
  }

  [dir=rtl] #wb-glb-mn> ul {
    text-align: left;
  }

  [dir=rtl] #wb-glb-mn .pnl-btn {
    float: left;
  }
}

/* Medium view and under */

@media screen and (max-width: 1199px) {
  /*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */

  /*
  @title: Medium view and under (screen only)
 */
}

/* Large view and under */

@media screen and (max-width: 1599px) {
  /*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */

  /*
  @title: Large view and under (screen only)
 */
}

/* Extra-small view and over */

@media screen and (min-width: 480px) {
  /*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */

  /*
  @title: Extra-small view and over (screen only)
 */
}

/* Small view and over */

@media screen and (min-width: 768px) {
  /*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */

  /*
  @title: Small view and over (screen only)
 */

  #wb-bc .container,
  body> main,
  body> header+ .container {
    background-color: white;
  }

  body {
    background: #eeeeee;
  }

  footer {
    background: #cf3f0e;
    border-top: 1px solid #bbbbbb;
  }

  footer> .container {
    background: #cccccc;
  }
}

/* Medium view and over */

@media screen and (min-width: 992px) {
  /*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */

  /*
  @title: Medium view and over (screen only)
 */

  #wb-sm .active a,
  #wb-sm .active summary,
  #wb-sm .sm,
  #wb-sm .sm a,
  #wb-sm .sm summary {
    background-color: #cccccc;
    color: black;
  }

  #wb-bar {
    min-height: 2.25em;
  }

  #wb-bar a {
    color: white;
  }

  #wb-lng {
    float: right;
    margin: 0;
  }

  #wb-lng li {
    border-left: 1px solid #777777;
    list-style-type: none;
    float: left;
    padding: 6px 15px;
  }

  #wb-lng li:first-child {
    border-left: none;
  }

  #wb-lng a {
    color: white;
    text-decoration: none;
  }

  #wb-lng .curr {
    display: block;
    color: #cccccc;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFCAYAAAB8ZH1oAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAB90RVh0U29mdHdhcmUATWFjcm9tZWRpYSBGaXJld29ya3MgOLVo0ngAAAA6SURBVAiZY/z//z8DMvj14+s+BgYGBjYObicUif///8Pxz+9f9v2HAigbLodVETbFOBWhK8arCFkxABifl5syjffvAAAAAElFTkSuQmCC) no-repeat scroll center bottom;
  }

  #wb-sttl a {
    font-size: 1.8em;
    text-shadow: 1px 1px 1px #333333;
    display: table-row;
  }

  #wb-sttl a span {
    display: table-cell;
    vertical-align: middle;
    line-height: normal;
    padding-left: 10px;
  }

  #wb-srch {
    margin: 0.5em 0;
    text-align: right;
    padding-right: 10px;
  }

  #wb-srch .form-group {
    width: 70%;
  }

  #wb-srch .form-control,
  .srch-pnl .form-control {
    width: 100%;
  }

  [lang=fr] #wb-srch .form-group {
    width: 60%;
  }

  #wb-sm ul.menu> li> a.wb-navcurr,
  #wb-sm .sm a.wb-navcurr,
  #wb-sm .sm summary.wb-navcurr {
    background: #333333;
    color: white;
  }

  #wb-sm .nvbar {
    background: #555555;
  }

  #wb-sm ul.menu {
    margin-bottom: 0;
  }

  #wb-sm ul.menu> li {
    padding: 0;
    border-right: 1px solid #999999;
  }

  #wb-sm ul.menu> li.active {
    border-right-color: #cccccc;
  }

  #wb-sm a,
  #wb-sm summary {
    display: block;
    color: white;
    font-weight: 700;
    padding: 0.48em 1.17em 0.48em 0.79em;
    text-decoration: none;
  }

  #wb-sm .sm {
    border-bottom: 4px solid #0f315b;
    border-radius: 0 0 3px 3px;
  }

  #wb-sm .sm a,
  #wb-sm .sm summary {
    font-weight: 400;
  }

  #wb-sm .sm a:link,
  #wb-sm .sm summary:link {
    text-decoration: none;
  }

  #wb-sm .sm a:hover,
  #wb-sm .sm a:focus,
  #wb-sm .sm summary:hover,
  #wb-sm .sm summary:focus {
    text-decoration: underline;
  }

  #wb-sm .sm .slflnk {
    background: #bbbbbb;
  }

  #wb-sec .list-group a.list-group-item.wb-navcurr,
  #wb-sec .list-group a.list-group-item[href]:hover,
  #wb-sec .list-group a.list-group-item[href]:focus {
    background: grey;
    color: white;
  }

  #wb-sec {
    margin-top: 20px;
    padding-bottom: 2em;
  }

  #wb-sec h3 {
    padding: 15px;
    margin: 0;
    border: 1px solid #dddddd;
    border-bottom: 3px solid #666666;
    line-height: 0.8;
  }

  #wb-sec h3 a {
    color: #333333;
    font-size: 0.7em;
    text-decoration: none;
  }

  #wb-sec .list-group {
    margin-bottom: 0;
  }

  #wb-sec .list-group a.list-group-item {
    background: white;
    color: #555555;
    border-radius: 0;
    margin-top: -1px;
    text-decoration: none;
  }

  #wb-sec .list-group .list-group .list-group-item {
    background: #e6e6e6;
    color: black;
    padding-left: 1.8em;
  }

  [dir=rtl] #wb-srch {
    text-align: left;
  }
}

/* Large view and over */

@media screen and (min-width: 1200px) {
  /*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */

  /*
  @title: Large view and over (screen only)
 */
}

/* Extra-extra-small view */

@media screen and (max-width: 479px) {
  /*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */

  /*
  @title: Extra-extra-small view (screen only)
 */
}

/* Extra-small view */

@media screen and (min-width: 480px) and (max-width: 767px) {
  /*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */

  /*
  @title: Extra-small view (screen only)
 */
}

/* Small view */

@media screen and (min-width: 768px) and (max-width: 991px) {
  /*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */

  /*
  @title: Small view (screen only)
 */

  #wb-info h3 {
    white-space: nowrap;
  }
}

/* Medium view */

@media screen and (min-width: 992px) and (max-width: 1199px) {
  /*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */

  /*
  @title: Medium view (screen only)
 */
}

/* Large view */

@media screen and (min-width: 1200px) and (max-width: 1599px) {
  /*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */

  /*
  @title: Large view (screen only)
 */
}

/* Extra-large view */

@media screen and (min-width: 1600px) {
  /*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */

  /*
  @title: Extra-large view (screen only)
 */
}

/* Print view */

@media print {
  /*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */

  /*
  @title: Print view
 */
}