<div class="module-content disqus-comments">
  <h3>Comments</h3>
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname =  '{{ disqus_shortname }}';
    var disqus_identifier = '{{ identifier }}';
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="#centred-popup-modal" aria-controls="centred-popup-modal" class="wb-lbx lbx-modal btn btn-primary comments-modal-btn" role="button">Add a comment</a><br/>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
<section id="centred-popup-modal" class="modal-dialog modal-content overlay-def mfp-hide">
  <header class="modal-header">
    <h2 class="modal-title" id="lbx-title">Comments Terms</h2>
  </header>
  <div class="modal-body">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin posuere lacinia. Aenean in porta ligula, eget mollis risus. Proin interdum sollicitudin egestas. Nunc tempus, enim eget aliquet euismod, felis diam tempor lorem, pretium aliquet risus ipsum ullamcorper neque.</p>
    <button class="btn btn-success popup-modal-dismiss show-disqus">Accept</button>
    <button class="btn btn-danger popup-modal-dismiss">Decline</button>
  </div>
</section>