/**
 * DataBC CITZ EDC
 *
 * HighwayThree Solutions Inc.
 * Author: Jared Smith <github@jrods>
 *
**/
#ofi-results {

}
#ofi-results .modal-body {
  min-height: 50vh;
  padding: 15px;
}
#ofi-results .modal-body label {
  margin-right: 5px;
}
#ofi-results .modal-body .btn {
  font-size: 18px;
  line-height: 1.2;
}
#ofi-results #resources {
  padding: 15px 0;
}
