{% ckan_extends %}

{% block breadcrumb %}{% endblock %}

{% block primary_content %}
    {% if c.is_sysadmin %}
        {{ super() }}
    {% else %}
        <article class="module">
            <div class="module-content">
                {% trans %}
                    <p>User settings are unavailable.  All associated information is retrieved from your IDIR account.</p>
                {% endtrans %}
            </div>
        </article>
    {% endif %}
{% endblock %}

{% block secondary_content %}
    {% if c.is_sysadmin %}
        {{ super() }}
    {% else %}
        <section class="module module-narrow module-shallow">
            <h2 class="module-heading"><i class="icon-medium icon-info-sign"></i> {{ _('Error') }}</h2>
            <div class="module-content">
            {% trans %}
                User settings are unavailable.
            {% endtrans %}
            </div>
        </section>
    {% endif %}
{% endblock %}