{% ckan_extends %}

  {% block basic_fields %}
    {% resource 'edc_resource/edc-image-upload.js' %}
    {% set attrs = {'data-module': 'slug-preview-target'} %}
    {{ form.input('title', label=_('Name'), id='field-name', placeholder=_('My Organization'), value=data.title, error=errors.title, classes=['control-full'], attrs=attrs) }}

    {# Perhaps these should be moved into the controller? #}
    {% set prefix = h.url_for(controller='organization', action='read', id='') %}
    {% set domain = h.url_for(controller='organization', action='read', id='', qualified=true) %}
    {% set domain = domain|replace("http://", "")|replace("https://", "") %}
    {% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain, 'data-module-placeholder': '<organization>'} %}

    {{ form.prepend('name', label=_('URL'), prepend=prefix, id='field-url', placeholder=_('my-organization'), value=data.name, error=errors.name, attrs=attrs, is_required=true) }}

    {{ form.markdown('description', label=_('Description'), id='field-description', placeholder=_('A little information about my organization...'), value=data.description, error=errors.description) }}

    {% set is_upload = data.image_url and not data.image_url.startswith('http') %}
    {% set is_url = data.image_url and data.image_url.startswith('http') %}

    {% snippet 'package/snippets/image_upload.html', record_type = record_type, data=data, errors=errors %}

  {% endblock %}

  {% block custom_fields %}
  {% endblock %}
