
{% import "macros/form.html" as form %}
{% set dates = dates or [] %}

<div id="dates_panel" class="required control-list form-horizontal">
	<div id="date_list">
		{% for dataset_date in dates %}
			{% if errors.dates %}
				{% set date_type_error = errors.dates[loop.index0].type %}
				{% set date_error = errors.dates[loop.index0].date %}
			{% endif %}
			{% set current_date_type = dataset_date['type'] %}

			<div id="dataset_date_{{ loop.index0 }}"  class="date control-group {{ " error" if date_error }}">
				<div class="row-fluid">
					<div class="span5">
						<div class="control-group">
							<label for="field-dates-{{ loop.index0 }}-type" class="control-label"><span class="control-required">*</span> Date type</label>
							<div class="controls">
								<select id="field-dates-{{ loop.index0 }}-type" name="dates__{{ loop.index0 }}__type" data-module="autocomplete" data-placeholder="Select a date type">
								<option value="">Select a date type</option>
		      						{% for date_type in h.edc_tags(_("dataset_date_type"))  %}
		      							{% set selected_type = (current_date_type and current_date_type == date_type.id) %}
		      							<option value="{{ date_type.id }}" {% if selected_type %} selected="selected" {% endif %}>{{ date_type.name }}</option>
		      						{% endfor %}
								</select>
								{% if date_type_error and date_type_error is iterable %}
								   	 <span class="group-error error-block">Date type: {{ date_type_error|join(', ') }}</span>
								{% endif %}
							</div>
						</div>
					</div>
					<div class="span5">
						<div class="control-group">
							<label for="field-dates-{{ loop.index0 }}-date" class="control-label"><span class="control-required">*</span> Date</label>
							<div class="controls">
								<input 	id="field-dates-{{ loop.index0 }}-date"
							   	   		type="text"
							   	   		name="dates__{{ loop.index0 }}__date"
							   	   		value="{{ dataset_date['date'] }}"
							   	   		placeholder="YYYY-MM-DD"
							   	   		class="datefield"/>
								{% if date_error and date_error is iterable %}
								   	 <span class="group-error error-block">Date type: {{ date_error|join(', ') }}</span>
								{% endif %}
							</div>
						</div>
					</div>
					<div class="span2">
						<div class="item-link"> <a href="javascript:remove_date({{ loop.index0 }})" class="btn btn-primary btn-xs">Delete </a> </div>
						<input id="field-dates-{{ loop.index0 }}-delete"
					   			type="hidden"
					   			name="dates__{{ loop.index0 }}__delete"
					   			value="{{ dataset_date['delete'] }}">
					</div>
				</div>
			</div>
		{% endfor %}
	{% set len = dates|count %}
	{% if len == 0 %}
			<div id="dataset_date_0" class="date control-group">
				<div class="row-fluid">
					<div class="span5">
						<div class="control-group">
							<label for="field-dates-0-type" class="control-label"><span class="control-required">*</span> Date type</label>
							<div class="controls">
								<select id="field-dates-0-type" name="dates__0__type" data-module="autocomplete" data-placeholder="Select a date type">
									<option value="">Select a date type</option>
			      					{% for date_type in h.edc_tags(_("dataset_date_type"))  %}
			      						<option value="{{ date_type.id }}">{{ date_type.name }}</option>
			      					{% endfor %}
								</select>
							</div>
						</div>
					</div>
					<div class="span5">
						<div class="control-group">
							<label for="field-dates-0-date" class="control-label"><span class="control-required">*</span> Date</label>
							<div class="controls">
								<input 	id="field-dates-0-date"
							   	   		type="text"
							   	   		name="dates__0__date"
							   	   		value=""
							   	   		placeholder="YYYY-MM-DD"
							   	   		class="datefield"/>
							</div>
						</div>
					</div>
					<div class="span2">
						<div class="item-link"><a href="javascript:remove_date(0)" class="btn btn-primary btn-xs">Delete</a></div>
							<input id="field-dates-0-delete"
							   			type="hidden"
							   			name="dates__0__delete"
							   			value="0">
					</div>
				</div>
			</div>
	{% endif %}

	</div>

	<script type="text/javascript">
		var date_types = []
		{% for date_type in h.edc_tags(_("dataset_date_type")) %}
			date_types.push({id: "{{ date_type.id }}",
							 name: "{{ date_type.name }}"});
		{% endfor %}
	</script>
	<div id="addDate" align="center">
		<a class="btn btn-primary" href="javascript:add_date(date_types);">
			<i class="icon-plus-sign-alt"></i>
			Add another date
		</a>
	</div>
</div>
