

{% resource 'edc_resource/image_upload.js' %}

<h3 class="module-sub-heading">
		<span><a class="headerLink" id="uploadImageLink" href="#">Photo upload</a></span>
</h3>
<div id="imageUploadBox" class="control-list control-group" style="display:none;">
	<input type="file" id="imageFile" name="imageFile" style="visibility:hidden; position : absolute; top : 0;"/>
	<input type="hidden" id="edc_pkg_id" name="edc_pkg_id" value="{{ data.id }}"/>
	<div style="float:left">
		<input id="new_image_filename" name="new_image_filename" type="text" style="width: 400px" readonly />
		<a id="selectImageButton" class="btn btn-primary btn-xs"> Select an image</a>
	</div>
	<div style="float:right">	
					<a id="uploadButton" class="btn btn-primary btn-xs"> Upload</a>
					<a id="cancleUpload" class="btn btn-primary btn-xs">Cancel</a>
	</div>
</div>
<div id="image_box">
	<input type="hidden" id="uploaded_image" name="image_url" value="{{ data.image_url}}"/>
	<img id="dataset_img"  src="{{ data.image_url }}"/>
</div>
<br/>
