{% import 'macros/form.html' as form %}

{% block package_metadata_fields %}

{% resource 'edc_resource/edc_schema.css' %}

{% if record_type=='Geographic' %}
<h3 class="module-sub-heading">Preview Information</h3>
<div class="control-list">
	{{ form.input('layer_name',
					label=_('Layer name'),
					id='field-layer_name',
					value=data.layer_name,
					error=errors.layer_name,
					classes=['control-medium']) }}

    {{ form.input('preview_latitude',
    				label=_('Preview latitude'),
    				id='field-preview_latitude',
    				placeholder=_('Map preview centriod latitude'),
    				value=data.preview_latitude,
    				error=errors.preview_latitude,
    				classes=['control-medium']) }}

    {{ form.input('preview_longitude',
    				label=_('Preview longitude'),
    				id='field-preview_longitude',
    				placeholder=_('Map preview centriod longitude'),
    				value=data.preview_longitude,
    				error=errors.preview_longitude,
    				classes=['control-medium']) }}

    {{ form.input('preview_map_service_url',
    				label=_("Preview map service URL"),
    				id='field-preview_map_service_url',
    				placeholder=_('Layer alias name for wms service'),
    				value=data.preview_map_service_url,
    				error=errors.preview_map_service_url,
    				classes=['control-medium']) }}

    {{ form.input('preview_zoom_level',
    				label=_("Preview zoom level"),
    				id='field-preview_zoom_level',
    				placeholder=_('Map preview zoom level'),
    				value=data.preview_zoom_level,
    				error=errors.preview_zoom_level,
    				classes=['control-medium']) }}

    {{ form.input('preview_image_url',
    				label=_("Image URL"),
    				id='field-preview_image_url',
    				placeholder=_('URL for non map service image'),
    				value=data.preview_image_url,
    				error=errors.preview_image_url,
    				classes=['control-medium']) }}

    {{ form.input('link_to_imap',
    				label=_("Link to iMap"),
    				id='field-link_to_imap',
    				placeholder=_(''),
    				value=data.link_to_imap,
    				error=errors.link_to_imap,
    				classes=['control-medium']) }}


	<input id="field-spatial" name="spatial" type="hidden" value='{"type":"Point","coordinates":[-123.35,48.43]}'/> 
</div>
{% endif %}

{% block data_quality_info %}

	{% if record_type=='Geographic' or record_type == 'Dataset' %}
	<h2 class="module-heading">Data Quality information</h2>
		<h3 class="module-sub-heading">Completeness</h3>
		<div class="control-list">
      	{{ form.markdown('data_quality',
      					id='field-data_quality',
      					label=_('Data Quality'),
      					placeholder=_('Descriptive text that can include info about issues, completeness, consistency etc.'),
      					value=data.data_quality,
      					error=errors.data_quality)
      					}}
		</div>
	<div class="control-list">
      	{{ form.markdown('lineage_statement',
      					id='field-lineage_statement',
      					label=_('Lineage Statement'),
      					placeholder=_("General explanation of the data producer's knowledge of the dataset lineage."),
      					value=data.lineage_statement,
      					error=errors.lineage_statement)
      					}}

	</div>
	{% endif %}

{% endblock %}

{% block image_uploader %}
    {% snippet 'package/snippets/file_upload.html', record_type = record_type, data=data, errors=errors %}
{% endblock %}



{#
  {% block package_metadata_fields_url %}
    {{ form.input('url', label=_('Source'), id='field-url', placeholder=_('http://example.com/dataset.json'), value=data.url, error=errors.url, classes=['control-medium']) }}
  {% endblock %}

  {% block package_metadata_fields_version %}
    {{ form.input('version', label=_('Version'), id='field-version', placeholder=_('1.0'), value=data.version, error=errors.version, classes=['control-medium']) }}
  {% endblock %}

  {% block package_metadata_author %}
    {{ form.input('author', label=_('Author'), id='field-author', placeholder=_('Joe Bloggs'), value=data.author, error=errors.author, classes=['control-medium']) }}

    {{ form.input('author_email', label=_('Author Email'), id='field-author-email', placeholder=_('joe@example.com'), value=data.author_email, error=errors.author_email, classes=['control-medium']) }}
  {% endblock %}

  {% block package_metadata_fields_maintainer %}
    {{ form.input('maintainer', label=_('Maintainer'), id='field-maintainer', placeholder=_('Joe Bloggs'), value=data.maintainer, error=errors.maintainer, classes=['control-medium']) }}

    {{ form.input('maintainer_email', label=_('Maintainer Email'), id='field-maintainer-email', placeholder=_('joe@example.com'), value=data.maintainer_email, error=errors.maintainer_email, classes=['control-medium']) }}
  {% endblock %}

  {% block package_metadata_fields_custom %}
    {% block custom_fields %}
      {% snippet 'snippets/custom_form_fields.html', extras=data.extras, errors=errors, limit=3 %}
    {% endblock %}
  {% endblock %}

  {% block dataset_fields %}
  {% endblock %}
#}

{% endblock %}
