{#
  adds input fields related to resource status.

  Example:
  	{snippet 'snippets/resource_status_fields.html', data=data, errors=errors %}

#}

{% import "macros/form.html" as form %}


{% set resource_status_error = errors.resource_status %}
<div class="required control-group control-medium{{ " error" if resource_status_error }}">
    <label class="control-label" for="field-resource_status"><span class="control-required">*</span> {{ _("Resource Status") }}</label>
    <div class="controls">
    	{% set resource_status_list = h.edc_tags(_("resource_status")) %}
        <select id="field-resource_status" name="resource_status" data-module="autocomplete"  onchange="check_resource_stat()">
        	<option value='' {% if not selected_status %} selected="selected" {% endif %} >Select a status</option>
      		{% for tag in resource_status_list  %}
        		{% set selected_status = (tag == data.get('resource_status', None)) %}
      			<option value="{{ tag }}"
      				{% if selected_status %} selected="selected" {% endif %}>
      				{{ tag }}
      			</option>
      		{% endfor %}
        </select>
        {% if resource_status_error and resourec_status_error is iterable %}
        	<span class="error-block">{{ resource_status_error|join(', ') }}</span>
        {% endif %}
    </div>
</div>


<div class="required" id="replacement_record_container">
    <div class="control-group control-medium">
        <label class="control-label" for="field-replacement_record"><span class="control-required">*</span> {{ _('Replacement Record')}}</label>
        <div class="controls">
            <input id="field-replacement_record" type="text" name="replacement_record" value="{{ data.replacement_record }}" placeholder="Replacement record">
            {% if errors.replacement_record and errors.replacement_record is iterable %}
            <span class="error-block">{{ errors.replacement_record|join(', ') }}</span>
            {% endif %}
        </div>
    </div>
</div>


<div id="retension_expiry_date_container">
	<div class="control-group control-medium required">
        <label class="control-label" for="field-retention_expiry_date"><span class="control-required">*</span> {{ _("Retention Expiry Date") }}</label>
        <div class="controls">
            <input id="field-retention_expiry_date" type="text" name="retention_expiry_date" value="{{ data.retention_expiry_date }}" placeholder="YYYY-MM-DD" class="datefield">
            {% if errors.retention_expiry_date and errors.retention_expiry_date is iterable %}
            <span class="error-block">{{ errors.retention_expiry_date|join(', ') }}</span>
            {% endif %}
        </div>
    </div>
</div>


<div id="source_data_path_container">
    <div class="control-group control-medium required">
        <label class="control-label" for="field-source_data_path"><span class="control-required">*</span> {{ _('Source Data Path') }}</label>
        <div class="controls ">
            <input id="field-source_data_path" type="text" name="source_data_path" value="{{ data.source_data_path }}" placeholder="{{ _('Path to the data source')}}">
            {% if errors.source_data_path and errors.source_data_path is iterable %}
            <span class="error-block">{{ errors.source_data_path|join(', ') }}</span>
            {% endif %}
        </div>
    </div>
</div>
