{#
  adds input fields related to resource status.

  Example:
  	{snippet 'snippets/resource_status_fields.html', data=data, errors=errors %}

#}

{% import "macros/form.html" as form %}


{% set resource_status_error = errors.resource_status %}
<div class="required control-group control-medium{{ " error" if resource_status_error }}">
    <label class="control-label" for="field-resource_status"><span class="control-required">*</span> {{ _("Resource Status") }}</label>
    <div class="controls">
    	{% set resource_status_list = h.edc_tags(_("resource_status")) %}
    	{% set current_status = data.resource_status %}
        <select id="field-resource_status" name="resource_status" data-module="autocomplete"  onchange="check_resource_stat()">
        	<option value='' {% if not selected_status %} selected="selected" {% endif %} >Select a status</option>
      		{% for tag in resource_status_list  %}
        		{% set selected_status = (current_status and current_status == tag.id) %}
      			<option value="{{ tag.id }}"
      				{% if selected_status %} selected="selected" {% endif %}>
      				{{ tag.name }}
      			</option>
      		{% endfor %}
        </select>
        {% if resource_status_error and resourec_status_error is iterable %}
        	<span class="error-block">{{ resource_status_error|join(', ') }}</span>
        {% endif %}
    </div>
</div>


<div class="required" id="replacement_record_container">
	{{ form.input('replacement_record',
			label=_('Replacement record'),
		    id='field-replacement_record',
		    placeholder=_('Replacement record'),
		    value=data.replacement_record,
		    error=errors.replacement_record,
		    classes=['control-medium'])
	}}
</div>


<div id="retension_expiry_date_container">
	{{ form.input('retention_expiry_date',
			label=_('Retention Expiry Date'),
		    id='field-retention_expiry_date',
		    placeholder=_('YYYY-MM-DD'),
		    value=data.retention_expiry_date,
		    error=errors.retention_expiry_date,
		    classes=['control-medium'])
	}}
</div>


<div id="source_data_path_container">
	{{ form.input('source_data_path',
			label=_('Source Data Path'),
		    id='field-source_data_path',
		    placeholder=_('Path to the data source'),
		    value=data.source_data_path,
		    error=errors.source_data_path,
		    classes=['control-medium'])
	}}
</div>
