/**
 * DataBC CITZ EDC
 *
 * HighwayThree Solutions Inc.
 * Author: Jared Smith <github@jrods>
 *
**/
#edc-mow {

}
#edc-mow h4 {
	margin: 0;
}
#edc-mow #modal-title {
  font-size: 14px;
}
#edc-mow .modal-header {
  padding: 10px 15px;
}
#edc-mow .modal-header .close {
  margin-top: 2px;
}
#edc-mow .modal-body {
  padding: 10px;
}
#edc-mow .modal-body label {
  margin-right: 5px;
}
#edc-mow .modal-body .btn {
  font-size: 18px;
  line-height: 1.2;
}
#edc-mow .popover .popover-content {
  word-break: keep-all;
}
#edc-mow .form-actions {
  margin: 0;
}
#edc-mow #resources {
  padding: 15px 0;
}
#edc-mow #loading .add-data-loader {
	bottom: calc(50% - 10em);
}
#edc-mow #area-info {
  padding-left: 15px;
}
#edc-mow #consent .checkbox {
	padding-left: 35px;
}
#edc-mow #consent #consent-terms {
	padding-left: 15px;
  padding-right: 10px;
}

@media (max-height: 650px) {
  #edc-mow {
    top: 5%;
  }
}