/* Style from BC Gov */

@font-face {
	font-family: 'Myriad-Pro';
	src: url('/assets/gov/fonts/MyriadWebPro.ttf');
}

html {
    height: 100%;
    background-color: #003366;
}

#header,
#footer,
nav#sub {
	font-family: Myriad-Pro, Calibri, Arial, sans serif;
}

#header {
	width: 100%;
	z-index: 2;
}

#header-main {
	background-color: #003366;
	border: none;
	/* 	border-bottom: 2px solid #fcba19; */
	/* 	padding-bottom: 5px; */
}

#header .header-main-left, #header .header-main-right {
	padding: 0;
}

#logo {
	float: left;
}

#header .logo {
	display: block;
}

#access {
	display: inline;
	height: 0;
	position: absolute;
	width: 0;
	z-index: 9;
}

#access ul {
	padding-left: 10px;
	list-style: none;
}

#access li a {
	margin: 10px 0 0 -5000px;
	width: 90px;
	padding: 5px;
	position: absolute;
	top: 0;
	color: #fcba19;
}

#access li a:focus {
	margin-left: 0;
}

#header .qa-banner {
	background-color: black;
}

#header .qa-banner .container {
	text-align: center;
	max-width: 1140px;
	padding: 15px;
}

#header .qa-banner .container .qa-banner-text {
	color: #fff;
	font-size: 18px;
}

#header .menu-button {
	background-color: #38598a;
	margin-top: 14px;
	padding: 4px 0 3px;
	text-align: center;
	width: 155px;
	color: #fff;
	border: 1px solid white;
	cursor: pointer;
}

#header .navbar-toggle {
	display: none;
}

#header .menu-button:hover {
	background-color: #5475A7;
}

#header .menu-button span {
	margin: 0;
	font-weight: 400;
	cursor: pointer;
}

#header .menu-button img {
	margin-right: 6px;
	margin-bottom: 2px;
}

#header .search {
	height: 25px;
	/* 	width: 100%; */
	margin-top: 20px;
	margin-left: 10px;
	position: relative;
}

#header .search input {
	border: 0 none;
	color: #494949;
	height: 25px;
	outline: 0 none;
	padding: 3px 10px;
	width: 100%;
}

#header .search .search-trigger {
	margin-top: -25px;
	cursor: pointer;
	height: 25px;
	position: relative;
	right: -15px;
	float: right;
	width: 25px;
	background-image: url("/assets/gov/images/search-ico.png");
	background-position: 98% center;
	background-repeat: no-repeat;
	top: -12px;
}

#header-links {
	margin-top: 10px;
}

#header-links a {
	color: #fff;
}

@media ( min-width : 768px) {
	#header-links>ul li>a {
		padding: 0;
	}
}

#header-main-row2 {
	padding-bottom: 10px;
}

.navigationRibbon {
	-webkit-box-shadow: 0px 3px 3px 1px rgba(51, 51, 51, 0.5);
	-moz-box-shadow: 0px 3px 3px 1px rgba(51, 51, 51, 0.5);
	box-shadow: 0px 3px 3px 1px rgba(51, 51, 51, 0.5);
}

.navigationRibbon a,
.navigationRibbon .dropdown {
	color: #fff;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	position: relative;
}

.navigationRibbon a {
	padding: 10px 15px;
}

.navigationRibbon a:hover {
	color: #fff;
}

.navigationRibbon a+a:after,
.navigationRibbon a+.dropdown:after,
.navigationRibbon .dropdown+a:after {
	content: "";
	background: #748bad;
	position: absolute;
	bottom: 25%;
	left: 0;
	height: 50%;
	width: 1px;
}

.navigationRibbon a.current {
	text-decoration: underline;
	font-weight: bold;
}

.navigationRibbon .dropdown .dropdown-menu a {
	text-align: left;
}

.navigationRibbon .level2Navigation a.current {
	background-image: url("../images/nav-ribbon-arrow.png");
	background-position: center bottom;
	background-repeat: no-repeat;
}

.navigationRibbon .level2Navigation {
	background-color: #38598a;
}

.navigationRibbon .level3Navigation {
	background-color: #5475a7;
}

.navigationRibbon.sub-navigation .level3Navigation a {
	padding: 3px 15px;
}

.header-main-right {
	margin-top: 5px;
}

/* Collapsed header styles */

#header.collapsed-header #header-main {
    border-bottom: 2px solid #fcba19;
    margin-bottom: 0;
}

#header.collapsed-header #logo img {
    width: 95%;
    height: 95%;
}

#header.collapsed-header #header-main > .container {
    position: relative;
}

#header.collapsed-header #header-main-row1 {
    position: relative;
}

#header.collapsed-header #header-main-row1 .header-main-left {
    float: none;
    width: auto;
}

#header.collapsed-header #header-main-row1 .navbar-header {
	float: none;
	padding-bottom: 10px;
}

#header.collapsed-header .menu-button.mini-menu-trigger,
#header.collapsed-header .search-button.mini-menu-trigger {
    background-color: transparent;
    background-image: url("/assets/gov/images/menu-open-mobile.png");
    background-position: center center;
    background-repeat: no-repeat;
    border: medium none;
    border-radius: 0;
    cursor: pointer;
    height: 52px;
    margin-top: 4px;
    margin-bottom: 4px;
    position: absolute;
    right: 20px;
    top: 5px;
    width: 60px;
}

#header.collapsed-header .mini-menu-trigger + .mini-menu-trigger {
    border-right: 2px solid #4b5e73;
}

#header.collapsed-header .search-button.mini-menu-trigger {
    background-image: url("/assets/gov/images/search-open-mobile.png");
    right: 70px;
}

#header.collapsed-header .navbar-collapse.collapse {
	display: none !important;
}

#header.collapsed-header .navbar-collapse.collapse.in {
	display: block !important;
}

#header.collapsed-header #header-main-row1 .header-search {
    background-color: #c7c8ca;
    border-top: medium none;
    box-shadow: none;
    margin-bottom: -2px;

    height: 0;
    position: absolute;
    right: 20px;
    width: 440px;
    top: 65px;

	max-height: 55px;
}

#header.collapsed-header .visible-xs-block {
    display: block !important;
}

#header.collapsed-header #header-main-row1 .header-search .search-boarder-arror::after {
    border-right: 36px solid transparent;
    border-top: 41px solid #c7c8ca;
    content: "";
    display: none;
    position: absolute;
    right: 61px;
    top: -14px;
    transform: rotate(45deg);
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    z-index: 10;
}

#header.collapsed-header #header-main-row1 .header-search.in .search-boarder-arror::after {
    display: block !important;
}

#header.collapsed-header #header-main-row1 .header-search .header-main-right {
    margin: 0;
    padding: 10px;
    position: static;
}

#header.collapsed-header #header-main-row1 .header-search .header-main-right .search {
    position: static;
}

#header.collapsed-header #header-main-row1 .header-search .header-main-right .search,
#header.collapsed-header #header-main-row1 .header-search .header-main-right .search input {
    bottom: 7px;
    height: 35px;
    margin: 0;
    right: 20px;
}

#header.collapsed-header #header-main-row1 .header-search .header-main-right .search .search-trigger {
    margin-top: -20px;
	right: 10px;
}

#header.collapsed-header #header-main-row2 {
    border: medium none;
    max-height: none;
}

#header.collapsed-header #header-main-row2 {
	position: absolute;
	right: 0;
	background-color: #036;
    width: 440px;
    padding: 0;
    right: 6px;
	top: 65px;
	z-index: 9999;
}

#header.collapsed-header #header-main-row2 .header-main-right {
	margin: 0;
}

#header #header-main-row2 .nav.navbar-nav li a {
	text-shadow: none;
	line-height: 20px;
}

#header.collapsed-header .navbar-fixed-top .navbar-collapse {
    height: 10px;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
}

#header.collapsed-header .col-lg-6 {
    width: auto;
    float: none;
    left: auto;
    right: auto;
}

#header.collapsed-header .header-main-left {
    padding: 0;
    clear: both;
}

#header.collapsed-header .navbar-nav {
    float: none;
}

#header.collapsed-header #header-links {
    margin: 0;
}

#header.collapsed-header #header-links > ul {
    padding: 6px 5px;
    margin: 0;
}

#header.collapsed-header #header-links > ul li {
    width: 33.3%;
    padding: 4px 10px;
}

#header.collapsed-header #header-links > ul li a {
    text-align: left;
	padding: 0 10px;
	font-size: 12px;
}

#header.collapsed-header #header-links ul.inline li + li {
    border-left: 0;
}

#header.collapsed-header #govNavMenu {
	position: static;
	z-index: auto;
	top: auto;
	width: auto;
	float: none;
	background-color: #036;
}

#header.collapsed-header #govNavMenu .hidden-xs {
	display: none;
}

#header [class*="span"] {
	margin-left: 15px;
}

#header .header-main-search {
	margin-top: 15px;
}

#header .header-main-search form {
	margin: 0;
}

#header .header-main-search form input {
	border: 0;
	color: #494949;
	height: 25px;
	outline: 0;
	padding: 3px 10px;
	width: 100%;
	border-radius: 0;
}

#header .header-main-search .icon-search {
	position: absolute;
	right: 10px;
	top: 25px;
	color: #cccccc;
}

/* full size css */
@media (min-width: 768px) {
	#govNavMenu{
		width:300px;
		float:left;
		position:absolute;
		z-index:999;
		top:39px;
/* 		direction: rtl; */
		width: 1140px;
		overflow-x: hidden;
	}

	#navMenuExpandCollapse > span{
		float: left;
		color:white;
	}

	#govNavMenu h2{
	 	color: #333;
	    font-size: 30px;
		margin-bottom: 20px;
	    width: 450px;
	}

	#govNavMenu ul{
		margin-bottom:0;
		padding-left:0;
	}

	#govNavMenu .menuExpand{
		float:right;
		padding-right:5px;
	}

	#govNavMenu .firstLevel{
		background-color: white;
		list-style: none;
		color:#333333;
	}

	#govNavMenu a {
		color: #333333;
		padding-left: 15px;
		padding-right: 15px;
		width: 300px;
	 	background-color: transparent;
	 	font-size: 13px;
	 	line-height: 13px;
	}

	#govNavMenu .childMenu li a:link, #govNavMenu .childMenu li a:visited{
		color: #174f84;
	    font-size: 16px;
	    text-decoration: none;
		width: 450px;
	}

	#govNavMenu .childMenu li a:hover,#govNavMenu .childMenu li a:focus, #govNavMenu .childMenu li a:active{
	    text-decoration: underline;
	    color: #174f84;
	    font-size: 16px;
	}

	#govNavMenu.scrollable .level-trigger,
	#govNavMenu.scrollable .issub {
		display: none;
	}

	.govNav ul {
	    box-sizing: border-box;
	    font-size: 14px;
	    list-style: outside none none;
	    margin: 0;
	    padding: 0;
	}
	.govNav ul li {
	    position: static;
    	float:none;
	}
	.govNav > ul {
	    position: relative;
	    width: 320px;
 	    box-shadow: -1px 3px 5px 0 rgba(0, 0, 0, 0.20);
	}

	.govNav > ul > li {
	    background-color: #e5e5e5;
	    border-left: 1px solid #cccccc;
	    border-bottom: 1px solid #cccccc;
	    border-right: 1px solid #cccccc;
	}

	.govNav > ul > li:hover {
	    border-right: 0;
	}

	#govNavMenu .govNav > ul li:hover,#govNavMenu .govNav > ul li.focus {
	    background-color: #fff;
	}
	.govNav > ul li a {
	    position: relative;
	}

	.govNav > ul li a {
	    color: black;
	    display: block;
	    overflow: auto;
	    padding: 8px 0;
	    float: left;
	    position: relative;
	    text-decoration: none;
	}
	.govNav div a, .govNav div a:hover, .govNav div a:focus {
	    background-image: url("../images/bullet.png") !important;
	    background-position: 2px 12px !important;
	    background-repeat: no-repeat !important;
	    padding-left: 10px;
	}
	.govNav div a:hover,.govNav div a:focus {
	    text-decoration: underline;
	}
	.govNav p {
	    font-size: 32px;
	    height: 75px;
	    margin: 0;
	    padding: 20px;
	    width: 360px;
	}
	.govNav div a, .govNav div ul {
	    padding-left: 20px;
	}

	.govNav > ul li.hassub.selected > a::after {
	    border-left-color: #e1e1e1;
	}

	.govNav ul li a:hover,.govNav ul li a:focus, .govNav ul li.hassub.selected > a {
	   /*  background: none repeat scroll 0 0 white; */
	    color: black;
	}
	.govNav ul li > div, .govNav ul li > ul {
	    background-position: right bottom;
	    background-repeat: no-repeat;
	    background-color: white;
 	    box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.20);
 	    border-bottom: 1px solid #cccccc;
 	    border-right: 1px solid #cccccc;
	    box-sizing: border-box;
	    display: none;
	    font-weight: normal;
	    height: 100%;
	    left: 100%;
	    padding: 25px 40px;
	    position: absolute;
	    top: 0;
	    width: 822px;
	    z-index: 1000;
	}


	.menu_suggestion_form .menu-searchbox {
		border-radius: 0;
		padding-right: 30px;
	    background-position: left center;
	    background-repeat: no-repeat;
	    background-image: none;
	}

	.menu_suggestion_form .menu-searchbox.placeholder {
   	    background-image: url("/StaticWebResources/static/gov3/images/tile_searchbox_placeholder.png");
	}

	.menu_suggestion_form .ss-gac-m {
		width: 450px;
	}

	.menu_suggestion_form {
		margin-bottom: 25px;
		position: relative;
		width: 450px;
	}

	.menu_suggestion_form .search-trigger {
	    background-image: url("/assets/gov/images/search-ico.png");
	    background-position: 98% center;
	    background-repeat: no-repeat;
	    cursor: pointer;
	    height: 25px;
	    width: 25px;
	    position: absolute;
	    right: 5px;
	    top: 5px;
	}

	.mobile-menu-search {
		display: none;
	}
}

@media screen and (max-width: 480px) {
	.govNav ul li > div, .govNav ul li > ul {
	    left: 30px;
	}
	.govNav > ul li.hassub.selected::after {
	    background: none repeat scroll 0 0 #eee;
	    content: "";
	    height: 100%;
	    left: 0;
	    opacity: 0.8;
	    pointer-events: none;
	    position: absolute;
	    top: 0;
	    width: 100%;
	    z-index: 1;
	}
}


                #govNavMenu  ul li .level-trigger, #govNavMenu  ul li .no-trigger  {
                    height: 100%;
                    width: 20px;
                    cursor: pointer;
				    position: relative;
				    right: 5px;
				    top: 0;
                }
                 #govNavMenu  ul li .level-trigger:after {
				    content: ">";
				    color:#cccccc;
                    cursor: pointer;
                    width: 25px;
				    font-size: 20px;
    				font-weight: bold;
				    position: relative;
				    right: -5px;
                    top: 1px;
                 }

                #govNavMenu  ul li .level-trigger.open:after  {
				    content: "<";
                }

                #govNavMenu  ul li .no-trigger {
                    background-image: none;
                }
                #govNavMenu  ul li ul {
	                display: none;
	            }

				#govNavMenu  ul li.open ul {
	                display: block;
	            }

	#header-main-row2 {
		overflow-x: hidden;
	}

	.mobile-menu-search .homepage-tile {
		position: absolute;
		top: 0;
		width: 82%;
/* 		height: 100%; */
		min-height: 0;
		left: 0 !important;
		background-color: transparent;
		border: 0;
	}

	.mobile-menu-search .homepage-tile .tile-content {
		position: static;
		display: block;
	}

	.mobile-menu-search .homepage-tile .tile-search {
    	background: transparent url("/assets/gov/images/search-open-mobile.png") no-repeat 50% center;
	}

	.mobile-menu-search .homepage-tile.flyout-expanded .tile-search {
    	background-color: #5f79a2;
	}

	.mobile-menu-search .homepage-tile .tile-search-flyout {
		background-color: #fff;
		height: 38px;
		border-bottom: 1px solid #5f79a2;
	}

	.mobile-menu-search .homepage-tile .tile-search-flyout input {
		border: 0;
		height: 37px;
		border-radius: 0;
	}

/* mobil size css */

@media (max-width: 767px) {
	#govNavMenu {
        background-color: #036;
        margin-top: 8px;
    }

    #header-main-row2.in #govNavMenu {
        display:block !important;
        visibility: visible !important;
    }
	#header .header-main-left{
		padding: 0 15px;
	}
    #govMainMenu {
        background-color: #036;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }
    #govMainMenu div.issub {
	    background: none !important;
	}

        #govNavMenu  ul {
            border-top: 1px solid #5f79a2;
            background-color: #2b4777;
        }

            #govNavMenu  ul li {
                border-bottom: 1px solid #5f79a2;
                clear: right;
                position: relative;
            }

			#govNavMenu ul li .menu_suggestion_form {
				display: none;
			}

            #govNavMenu  ul ul li:last-child{
           		 border-bottom:none;
            }

			#govNavMenu  ul li ul {
                background-color: #36588c;
            }

			#govNavMenu  ul li > ul li > ul {
                background-color: #5475a7;
            }
            #govNavMenu  ul li > ul li > ul li {
                border-bottom: 1px solid #7691b9;
            }

				#govNavMenu  ul li .level-trigger:after {
					content:none;
				}
                #govNavMenu  ul li .level-trigger, #govNavMenu  ul li .no-trigger  {
                    background-image: url(/assets/gov/images/menu-arrow-dn.png);
                    background-repeat: no-repeat;
                    background-position: center 15px;
                    background-color: #2b4777;
                    display: inline-block;
                    float: right;
                    height: 100%;
                    width: 50px;
                    border-left: 1px solid #5f79a2;
                    /* border-bottom: 1px solid #5f79a2; */
                    cursor: pointer;
                   	position: absolute;
                    right: 0;
                    top:0;
                }

                #govNavMenu  ul li .level-trigger.open {
                    background-image: url(/assets/gov/images/menu-arrow-up.png);
                }

                #govNavMenu  ul li .no-trigger {
                    background-image: none;
                }
				#govNavMenu  ul li .level-trigger.open:after,#govNavMenu  ul li .level-trigger:after  {
				    content: none;
                }
                #govMainMenu  ul li a {
                	background-color: inherit;
                    display: inline-block;
                    color: #fff;
                    font-size: 16px;
                    text-decoration: none;
                    padding: 10px 40px 9px 24px;
                    width: 82%;
                }

            #govMainMenu  ul ul.no-triggers li a {
                border-right: 0;
            }

            #govMainMenu  ul li a:hover,  #govMainMenu  ul li a:focus, #govMainMenu  ul li a:active {
                text-decoration: underline;
            }

            #govMainMenu  ul li ul,
            #govMainMenu  ul li ul li ul {
               /*  display: none; */
                margin: 0;
                position: relative;
    			width: 100%;
            }

                #govMainMenu  ul li ul li a {
                    padding-left: 44px;
                }

                #govMainMenu  ul li ul li ul li a {
                    padding-left: 64px;
                }
}

/* Collapsed header styles */

#header.collapsed-header #govMainMenu {
    background-color: #036;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
}

#header.collapsed-header #govNavMenu ul {
    background-color: #2b4777;
    border-top: 1px solid #5f79a2;
}

#header.collapsed-header .govNav > ul {
    box-shadow: none;
    position: static;
    width: auto;
}

#header.collapsed-header .govNav ul {
    font-size: inherit;
}

#header.collapsed-header .navbar-nav {
    margin: 0;
}

/* #header.collapsed-header .firstLevel { */
/*     color: unset; */
/*     list-style: unset; */
/* } */

#header.collapsed-header #govMainMenu div.issub {
    background: none !important;
}

#header.collapsed-header .govNav > ul > li {
    background-color: inherit;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

#header.collapsed-header #govNavMenu {
    overflow-x: auto;
}

#header.collapsed-header #govNavMenu ul li {
    border-bottom: 1px solid #5f79a2;
    clear: right;
    position: relative;
    margin: 0;
}

#header.collapsed-header #govNavMenu ul li .menu_suggestion_form {
	display: none;
}

#header.collapsed-header #govNavMenu .govNav ul li ul li:hover {
	background-color: #36588c !important;
}

#header.collapsed-header #govNavMenu #govMainMenu ul li a {
    background-image: none !important;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    padding: 10px 24px 4px;
    text-decoration: none;
    width: 82%;
    line-height: 20px;
    float: none;
    overflow: auto;
}

#header.collapsed-header #govNavMenu ul li .level-trigger.open::after,
#header.collapsed-header #govNavMenu ul li .level-trigger::after {
    content: none;
}

#header.collapsed-header #govNavMenu ul li .level-trigger,
#header.collapsed-header #govNavMenu ul li .no-trigger {
    background-image: url('/assets/gov/images/menu-arrow-dn.png');
    background-position: center 15px;
    background-repeat: no-repeat;
    border-left: 1px solid #5f79a2;
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
}

#header.collapsed-header .govNav ul li > div {
	width: auto;
	height: auto;
	position: static;
	padding: 0;
	border-right: 0;
	border-bottom: 0;
}

#header.collapsed-header #govNavMenu ul li ul {
    background-color: #36588c;
    display: none;
}

#header.collapsed-header #govMainMenu ul li ul,
#header.collapsed-header #govMainMenu ul li ul li ul {
    margin: 0;
    position: relative;
    width: 100%;
    overflow: hidden;
}

#header.collapsed-header #govNavMenu  ul li.open ul {
	display: block;
}

#header.collapsed-header #govNavMenu  ul li .level-trigger.open {
	background-image: url('/assets/gov/images/menu-arrow-up.png');
}

#header.collapsed-header #govNavMenu  ul li .no-trigger {
	background-image: none;
}

#header.collapsed-header #govNavMenu  ul li .level-trigger.open:after,
#header.collapsed-header #govNavMenu  ul li .level-trigger:after  {
    content: none;
}

#header.collapsed-header #govNavMenu #govMainMenu ul li ul li a {
    padding-left: 44px;
}

#header-main,
#header-main #header-main-row1 {
	height: 68px;
}

#header.collapsed-header #govNavMenu ul li {
	width: 100%;
}

#header.collapsed-header #header-main-row1 .header-search.in.collapse.overflow {
	overflow: visible;
}

#header .header-search {
	z-index: 9999;
}

#header .search form#suggestion_form {
	margin: 0;
}

#header .navbar-brand {
	position: relative;
}

#header .navbar-brand .logo {
	display: block;
    color: #fff;
    font-size: 2.5em;
    padding-top: 6px;
}

#header .navbar-brand .logo a {
	color: #fff;
}

#header .navbar-brand .logo a:hover,
#header .navbar-brand .logo a:active,
#header .navbar-brand .logo a:focus {
	text-decoration: none;
}

#header .navbar-brand .logo:hover,
#header .navbar-brand .logo:focus,
#header .navbar-brand .logo:active {
	text-decoration: none;
}

#header .navbar-brand .logo img {
	margin-right: 15px;
}

.homepage-tile .tile-search {
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	height: 99%;
	width: 40px;
	z-index: 3;
    background: #fff url("/StaticWebResources/static/gov3/images/inlinesearch-button-off.png") no-repeat left center;
}

.homepage-tile .tile-search-flyout {
	position: absolute;
	left: 1000px;
	width: 100%;
	max-width: 770px;
	top: 0;
	height: 100%;
}

.homepage-tile .tile-search-flyout input {
	height: 99%;
	width: 100%;
	padding: 5px 50px 5px 15px;
	border: 1px solid #26639c;
	font-size: 16px;
    background: #fff;
}

nav#sub {
	margin-top: 68px;
}

#footer {
	background-color: transparent;
	border-top: 2px solid #fcba19;
	position: relative;
}

#footer.expanded {
	z-index: 1040;
}

#footer a, #footer h2 {
	color: #fff;
}

#footer h2 {
	font-size: 18px;
	margin-bottom: 10px;
	margin-top: 22px;
	padding-right: 20px;
}

#footer hr {
	background: none repeat scroll 0 0 #4b5e73;
	border: 0 none;
	height: 1px;
	margin: 10px 0;
}

#footer #footerWrapper {
	/* 	position: absolute; */
	width: 100%;
	bottom: 0;
}

#footerAdminSection ul {
	clear: both;
	padding: 10px 0;
}

#footerAdminLinks {
	clear: both;
}

@media ( min-width : 768px) {
	#footerMediaLinks ul {
		padding-top: 22px;
	}
}

#footerMediaLinks h2 {
	display: inline-block;
}

#footerFeedback {
	position: relative;
	height: 50px;
}

#footerToggle {
	background-color: #003366;
	text-align: center;
}

#footerCollapsible {
	display: none;
	background-color: #003366;
	border: 1px solid transparent;
}

#footerAdminSection {
	background-color: #003366;
}

#footer ul.bulleted>li {
	padding-left: 15px;
	background: url("/assets/gov/images/bullet.png") no-repeat scroll 0 8px transparent;
	margin-bottom: 3px;
	list-style: none;
	line-height: 20px;
}

@media ( max-width: 750px) {
	.homepage-tile .tile-text {
		padding-right: 40px;
	}
	.homepage-tile .tile-search {
		height: 38px;
		line-height: normal;
		display: block;
	}
	.homepage-tile .tile-search img {
		padding: 5px 0;
	}
	.homepage-tile .tile-search-flyout .tile-searchbox {
		height: 40px;
	}

	.homepage-tile table.ss-gac-m {
		left: 0;
		width: 100%;
		top: 39px;
	}
}

@media (max-width: 767px) {
	#header.collapsed-header #header-main-row2 {
		width: 100%;
		right: 0;
	}

	#header.collapsed-header #header-main-row1 .header-search {
		width: 100%;
		right: 0;
	}

	#header .navbar-toggle {
		display: block!important;
	}

	#footer {
		margin: 0 -20px;
	}

	#footer #footerContainer,
	#footer #footerAdminLinks {
		padding: 0 15px;
	}

	#footer .connect {
		display: block;
		padding-left: 5px;
	}

	#footer .connect h2 {
		float: none!important;
	}
}

img.back-to-top {
	position: fixed;
	right: 10px;
	bottom: 10px;
 	opacity: 0.75;
    filter: alpha(opacity=75); /* For IE8 and earlier */
    z-index: 1100;
    cursor: pointer;
    display: none;
}

/* img.back-to-top.footer-overlap, */
/* #footer.expanded img.back-to-top { */
img.back-to-top.footer-overlap {
	position: absolute;
	top: -63px;
	bottom: auto;
}

img.back-to-top:hover {
 	opacity: 0.90;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

.hidden-xs {
	display: inline-block;
}

.visible-xs-inline-block {
	display: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

@media (max-width: 767px) {

	#header.collapsed-header #header-main-row1 .header-search .search-boarder-arror::after {
		right: 68px;
	}

	#header .navbar-brand .logo img {
		margin-right: 5px;
	}

	#header.collapsed-header .menu-button.mini-menu-trigger, #header.collapsed-header .search-button.mini-menu-trigger {
		width: 50px;
	}

	#header.collapsed-header .search-button.mini-menu-trigger {
		right: 75px;
	}

	.navigationRibbon a,
	.navigationRibbon .dropdown {
		display: inline-block;
	}

	.hidden-xs {
		display: none;
	}

	.visible-xs-inline-block {
		display: inline-block;
	}

	nav#sub {
		margin: 0 -20px 10px -20px;
	}

	.toolbar .breadcrumb,
	.toolbar .breadcrumb a {
		color: #505050;
	}
}
@media (max-width: 979px) {
	#header .navbar-brand .logo {
		padding-left: 15px;
	}

	#header .header-main-search .icon-search {
		right: 15px;
	}

	nav#sub {
		margin-top: 0;
	}

	nav#sub .container {
		width: auto;
	}
}
@media screen and (max-width: 767px) {
	#header .navbar-brand {
		margin-left: 0;
	}
	#header .navbar-brand .logo {
		padding-left: 30px;
	}
}
