/* Fonts */

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://themes.googleusercontent.com/static/fonts/lato/v7/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

/* End Fonts */

body {
  font-size: 13px;
  background-color: #fff;
  background-image: none;
}

.wrap {
  width: 970px;
  margin: 0 auto;
}

.js-hide {
  display: none;
}

.tag-list {
  padding-left: 0;
  padding-right: 0;
}

.tag {
  display: inline-block;
  margin-bottom: 4px;
  padding: 1px 10px;
  border: 1px solid rgba(41, 41, 41, 0.4);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

a.tag:hover{
  text-decoration:none;
  color:#fff;
  background-color:#394559;
  box-shadow: none;
}

.resource-list {
  margin-left: 0;
  margin-right: 0;
}

.cursor-help {
    cursor: help;
}

/* Header */
#services-header {
  background: #394559;
  overflow: hidden;
  height: 40px;
}

#services-header .wrapper {
  width: 884px;
}

#services-header ul {
  margin: 0 38px 0 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

#services-header ul li {
  float: right;
  font-family: 'Verdana', 'Arial', sans-serif;
  margin-top: 10px;
}

#services-header ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-left: 1px solid #9e9e9c;
  display: block;
}

#services-header ul li:last-child a {
  border-left: none;
}

#services-header ul li a:hover {
  color: #e9bf5d;
}

#services-header ul li a.forms {
  background-repeat: no-repeat;
  padding-left: 27px;
  margin-top: -3px;
}

#top-navigation {
  background: #293649;
  font-family: 'Verdana', 'Arial', sans-serif;
  height: 27px;
}

#top-navigation ul {
  overflow: hidden;
  margin: 0;
  list-style-type: none;
}

#top-navigation ul li {
  float: left;
  padding: 7px 5px;
  min-width: 104px;
  text-align: center;
  margin-right: 8px;
}

#top-navigation ul li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 7px 5px;
}

#top-navigation ul li:hover {
  background: #E7EAF1;
}

#top-navigation ul li:hover a {
  text-decoration: underline;
  color: #384556;
}

#header-banner {
  overflow: hidden;
  background: #394559;
}

#header-banner .logo {
  display: block;
  float: left;
  width: 204px;
  height: 70px;
  margin: 17px 0;
}

#header-banner h2 {
  font-family: 'Century Gothic', 'Verdana', sans-serif;
  display: block;
  float: left;
  width: 380px;
  margin: 30px 20px;
  font-size: 30px;
  font-weight: normal;
  color: #fff;
  border-bottom: none;
}


.main-navigation {
  background: #556072;
  border-radius: 0;
  border: none;
  overflow: hidden;
}

.main-navigation h2 {
  display: none;
}

.main-navigation ul {
  margin: 0;
  overflow: hidden;
  list-style-type: none;
  float: left;
}

.wb-menu .main-navigation ul li {
  float: left;
  width: 120px;
  padding: 5px 0;
  text-align: center;
  background: url(/assets/gov/images/subtheme_nav_spacer.png) no-repeat 0 0;
  height: 46px;
}

.main-navigation ul li:hover + li,
.main-navigation ul li.current + li,
.wb-menu > .main-navigation ul.menu li:nth-child(2) + li {
  background-image: none;
}

.main-navigation ul li:first-child {
  background: none;
}

.main-navigation ul li.current,
.main-navigation ul li.current:hover,
.wb-menu .main-navigation ul.menu li:nth-child(2) {
  background: #e0e4ec;
}

.wb-menu .main-navigation ul li.active a,
.wb-menu .main-navigation ul.menu li:nth-child(2) a {
  color: #283649;
}

.wb-menu .main-navigation ul > li a {
  display: table-cell;
  vertical-align: middle;
  height: 36px;
  color: #fff;
  text-decoration: none;
  font-family: 'Verdana', 'Arial', sans-serif;
  width: 120px;
  padding: 0 10px;
  line-height: 13px;
}

.main-navigation ul.navbar-nav > li > a,
.main-navigation ul.navbar-nav > li > a:visited {
  color: #fff;
  text-shadow: none;
  padding: 0 10px;
}

.share-this-record .dropdown-menu {
  border-top-color: transparent;
  margin-top: -1px;
  width: 163px;
}

nav#sub .account-container {
  float: right;
  height: 40px;
}

nav#sub .account-container ul li {
  display: inline-block;
}

nav#sub .account-container ul li a {
  padding: 10px 15px;
  line-height: 22px;
}

li.select2-results-dept-0.select2-result.select2-result-selectable {
	color: black;
}

ul.select2-results:first-child {
	color: grey;
}
ul.select2-results {
	color: grey;
}

/* Hidden placeholder */
li.select2-results-dept-0.select2-result.select2-result-unselectable.select2-disabled {
	color: grey;
}

li.select2-results-dept-0.select2-result.select2-result-selectable.select2-disabled {
	display: none;
}
/* Content */

.module-content.page-header:first-child {
  padding-top: 0;
}

.page-header .content_action {
  margin-top: 0;
}

#content .dataset-view.wrapper {
  background: transparent;
}

#content .dataset-view .primary,
#content .module-resource {
  font-family: 'Century Gothic';
  width: 100%;
  float: none;
}

#content .dataset-view .primary h1 {
  margin: 0 0 10px 0;
  font-size: 2.5em;
}

.dataset-view h3 {
  background: #394559;
  color: #fff;
  padding: 5px;
}

.btn.btn-primary {
  background-color: #394559;
}

.btn.btn-primary:hover {
  background-color: #47556e;
}

.btn-group.open .btn-primary.dropdown-toggle {
  background-color: #293649;
}

.license .module-heading {
  color: #fff;
  background: #394559;
}

.license .module-content {
  margin: 10px 0 0 0;
  padding: 0 10px;
}

.followers {
  margin-top: 0;
}

.followers .nums {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}

#publisher-tree {
  font-size: 16px;
}
#publisher-tree ul li {
  line-height: 22px;
}

#publisher-tree ul ul,
#publisher-tree ul ol {
  margin-left: 10px;
  margin-top: 10px;
}

.search-form h2 {
  margin-top: 0;
  font-size: 1.4em;
}

.search-form .control-order-by label {
  float: left;
}

.search-form .search-input button:hover i,
.simple-input .field .btn-search:hover {
  color: #394559;
}

.search-form .search-input.search-giant input {
  border: 2px solid #556072;
}

.dataset-markers {
  list-style-type: none;
  margin: 0 -25px 0 0px;
  padding: 0;
  float: right;
}

.dataset-markers .marker {
  width: 130px;
  line-height: 22px;
  margin: 20px 0;
  background: #888;
}

.dataset-markers .marker:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 130px 8px 0;
  border-color: transparent black transparent transparent;
  float: right;
}

.dataset-markers .marker:first-child {
  margin-top: 0;
}

.dataset-markers .marker.geographic {
  background: #27ae60;
}

.dataset-markers .marker.geographic:after {
  border-right-color: #1e8449;
}

.dataset-markers .marker.dataset,
.dataset-markers .marker.education {
  background: #2980b9;
}

.dataset-markers .marker.dataset:after,
.dataset-markers .marker.education:after {
  border-right-color: #2472a4;
}

.dataset-markers .marker.application {
  background: #9b59b6;
}

.dataset-markers .marker.application:after {
  border-right-color: #8e44ad;
}

.dataset-markers .marker.webservice,
.dataset-markers .marker.natural-resources {
  background: #e67e22;
}

.dataset-markers .marker.transportation {
  background: #7f8c8d;
}

.dataset-markers .marker.transportation:after {
  border-right-color: #667273;
}

.dataset-markers .marker.webservice:after,
.dataset-markers .marker.natural-resources:after {
  border-right-color: #bf6515;
}

.dataset-markers .marker.economy {
  background: #1abc9c;
}

.dataset-markers .marker.economy:after {
  border-right-color: #17a689;
}

.dataset-markers .marker.finance {
  background: #f1c40f;
}

.dataset-markers .marker.finance:after {
  border-right-color: #dab10d;
}

.dataset-markers .marker.social-services {
  background: #b1455a;
}

.dataset-markers .marker.social-services:after {
  border-right-color: #8f3748;
}

.dataset-markers .marker.health-and-safety {
  background: #e74c3c;
}

.dataset-markers .marker.health-and-safety:after {
  border-right-color: #cd3121;
}

.dataset-markers .marker.justice {
  background: #2c3e50;
}

.dataset-markers .marker.justice:after {
  border-right-color: #233140;
}

.dataset-markers .marker.multiculturalism {
  background: #95a5a6;
}

.dataset-markers .marker.multiculturalism:after {
  border-right-color: #79898a;
}

.dataset-markers .marker.service {
  background: #9b59b6;
}

.dataset-markers .marker.service:after {
  border-right-color: #8f4bab;
}

.dataset-markers .marker.dataset-iso {
  background: #34495e;
}

.dataset-markers .marker.dataset-iso:after {
  border-right-color: #22303d;
}

.dataset-markers .marker a,
.dataset-markers .marker div {
  display: block;
  padding: 5px 8px;
  color: #fff;
  font-size: 18px;
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica';
  font-weight: bold;
}

.dataset-markers .marker.small a {
  font-size: 12px;
}

.dataset-list .dataset-markers {
  margin-right: -25px;
  margin-left: 10px;
}

.dataset-marker-type-icon {
  float: right;
  margin-left: 25px;
}

.dataset-marker-type-icon a {
  color: #000;
}

.dataset-marker-type-icon a:hover {
  text-decoration: none;
  color: #000;
}

.dataset-resources {
  float: right;
  clear: both;
  padding-bottom: 3px;
  margin-right: -20px;
}

#dataset-resources {
  margin-bottom: 50px;
}

.dataset-list .dataset-dates {
  list-style-type: none;
  padding: 0;
  margin: 25px 0 0 0;
  color: #999;
}

.dataset-list .dataset-dates li {
  float: left;
  margin-right: 70px;
}

.module-content:first-child {
  margin-top: 0;
}

.dataset-list .dataset-item:after {
  content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.notes {
  margin: 10px 0;
}

.purpose {
  display: block;
}

.purpose.off {
  display: none;
}

.more-info-links {
  list-style-type: none;
  margin: 0 0 10px 0;
  padding: 0;
}

.more-info-links li {
  line-height: 18px;
}

.additional-information-toggle {
  font-size: 22px;
  font-weight: 700;
  color: #000;
  background: #eee;
  display: block;
  padding: 0 5px;
  text-decoration: none;
}

.additional-information-toggle:hover {
  text-decoration: none;
}

#additional-information,
#object-description {
  display: block;
  padding: 20px;
  background: #f6f6f6;
}

#additional-information.off {
  display: none;
}

#additional-information h2:first-child {
  margin-top: 0;
}

#object-description .table.details .short-name {
  width: 115px;
}

#object-description .table.details .data-type {
  width: 105px;
}

#object-description .table.details .data-precision {
  width: 75px;
}

section.tags {
  width: 88%;
}

#purpose .purpose.on {
  margin-bottom: 10px;
}

#request-data {
  background: #e0e4ec;
  padding: 10px;
  overflow: hidden;
  font-size: 1.1em;
  line-height: 37px;
}

#request-data .btn {
  float: right;
  margin: 6px 0;
}

#request-data p {
  margin: 0;
}

.search-form.search-main {
  border-bottom: 0;
  padding-bottom: 0;
  margin-top: 10px;
  padding: 0 15px;
}

.module-content.disqus-comments {
  padding-left: 0;
  padding-right: 0;
}

/* Footer */
#footer-navigation {
  background-color: #394559;
  overflow: hidden;
  color: #fff;
  font-family: 'Verdana', 'Arial', sans-serif;
}

#footer-navigation .footer-links {
  padding: 13px 20px;
  float: left;
  width: 240px;
  line-height: 1;
  text-align: center;
}

#footer-navigation .footer-links.left {
  padding-left: 80px;
  width: 280px;
}

#footer-navigation .footer-links.right {
  padding-right: 40px;
  width: 160px;
}

#footer-navigation .footer-links h3 {
  margin: 0;
}

#footer-navigation .footer-links h3 a {
  color: #FFFFFF;
  font-family: 'Century Gothic', 'Verdana' ,sans-serif;
  font-weight: normal;
  text-decoration: none;
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-size: 19px;
}

#footer-navigation .footer-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: 'Verdana', 'Arial', sans-serif;
}

#footer-navigation .footer-links ul li {
  line-height: 110%;
  list-style-type: none;
  padding-top: 1px;
}

#footer-navigation .footer-links ul li a {
  color: #fff;
}

#footer-navigation #media-links {
  width: 920px;
  padding: 0;
  clear: both;
  margin: 0 auto 20px auto;
  background: #fff;
  border-radius: 7px;
  overflow: hidden;
  height: 70px;
}

#footer-navigation #media-links #media-links-img {
  float: left;
  margin-top: 10px;
}

#footer-navigation #media-links ul {
  float: right;
  line-height: 70px;
  margin-left: 20px;
}

#footer-navigation #media-links ul li {
  display: inline;
  padding: 0 10px;
  border-left: 1px solid #394559;
}

#footer-navigation #media-links ul li:first-child {
  border-left: 0;
}

#footer-navigation #media-links ul li a {
  color: #1A5A96;
}

#footer-navigation #media-links ul li a:hover {
  text-decoration: underline;
  color: #1A5A96;
}

#footer-navigation #admin-links {
  width: 920px;
  text-align: right;
  margin: 0 auto 20px auto;
}

#footer-navigation #admin-links ul {
  list-style: none;
}

#footer-navigation #admin-links ul li {
  display: inline;
  padding: 0 5px;
}

#footer-navigation #admin-links ul li a {
  color: #fff;
}

#version {
  text-align: right;
  background-color: #003366;
  font-size: 0.8em;
  color: #fff;
}

/* CKAN overrides */
ul,
menu {
    margin: 0;
}

ul li,
menu li {
    line-height: 13px;
}

.subthemes li a {
    line-height: 13px;
}

#services_header {
    line-height: 13px;
}

[role="main"], .main {
  background: transparent;
}

.hero {
  background: transparent;
}

.resource-item .btn-group {
  top: 7px;
}

/* Wet-boew overrides
a:visited {
  color: inherit;
} */

/* visited link
a:visited {
    color: #1A5A96;
} */

a.label {
  color: #fff;
}

a,
a:hover {
  color: #1A5A96;
}

#wb-skip {
  display: none;
}

a {
  text-decoration: none;
}

#wb-core {
  background-color: #fff;
}

.page-header {
  padding-bottom: 0;
  margin-left: 0 !important;
}

.container {
  width: 940px;
  padding: 0;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  height: auto;
}

input[type="radio"], input[type="checkbox"] {
  margin: 0 0 0 -20px;
  top: 5px;
}

.dataset-form.form-horizontal input[type="radio"] {
  margin: 0;
}

label:after,
label:after {
  content: "";
}

.radio-inline label,
.checkbox-inline label {
  font-weight: normal;
}

.input-append .add-on, .input-prepend .add-on {
  height: auto;
}

.breadcrumb > li + li:before {
  content: '';
  padding: 0;
}

.alert .close {
  right: 0px;
}

.alert > :first-child {
  margin: 0;
}

.alert-info > :first-child:before {
  content: '';
}

.alert-success > :first-child:before {
  content: '';
}

.btn .caret {
  vertical-align: top;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #fff;
}

.navbar.navbar-default {
  border: 0;
}

.nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav > li.dropdown.open.active > a:hover, .nav > li.dropdown.open.active > a:focus,
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background: #fff;
  color: inherit;
  border-color: #ccc;
  border-bottom-color: #fff;
}

.modal-body ul,
.modal-body ol {
  padding-left: 20px;
  margin-bottom: 10px;
}

.org-hierarchy .organization .btn.js-expand {
  background-color: #394559;
}

.org-hierarchy.no-search .organization.expanded > .js-collapse {
  background-color: #47556e;
}

.extent h4 {
  margin-top: 0;
}

.tt-query,
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

input.search.tt-input {
 color: #000000;
}

.tt-query {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

input.search.tt-hint {
    color: #808080;
}

.tt-dropdown-menu {
    width: 100%;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

.twitter-typeahead {
  width: 100%;
}

.edc-state {
  float: right;
  font-size: 0.9em;
  background: #ccc;
  padding: 5px;
  font-weight: 700;
}

.edc-state.draft {
  background: #9b59b6;
  color: #fff;
}

.edc-state.pending-publish {
  background: #2980b9;
  color: #fff;
}

.edc-state.published {
  background: #27ae60;
  color: #fff;
}

.edc-state.pending-archive {
  background: #e67e22;
  color: #fff;
}

.edc-state.archived {
  background: #95a5a6;
  color: #fff;
}

.dataset-heading .dataset-heading-orgs {
  font-size: 13px;
  font-weight: 400;
}

.dataset-heading .dataset-heading-orgs a {
  color: #1A5A9C;
}

.wrapper.no-nav .primary {
  width: 100%;
  float: none;
}

.dashboard .page-header {
  margin-bottom: 0;
}

/* Responsive */
@media (max-width: 979px) {
  .wrap {
    width: auto;
  }

  /* Header */

  #header-banner .logo {
    width: 100px;
    height: 35px;
    background-size: 100%;
    margin: 10px;
  }

  #header-banner h2 {
    width: auto;
    margin: 0;
    font-size: 18px;
    line-height: 52px;
  }

  .pnl-btn {
    float: right;
    margin: 15px 5px 0 0;
  }

  #header .account-container {
 nav#subing-right: 10px;
  }

  /* Right Menu */

  .simple-input .field .btn-search {
    margin-right: 12px;
  }

  .overlay-def header {
    background: #293649;
  }

  .modal-content a {
    color: #000;
  }

  .modal-content nav {
    font-size: 18px;
  }

  .modal-content nav li {
      line-height: 24px;
  }

  /* Content */

  .container {
    width: 750px;
  }

  #content {
    width: auto;
  }

  #content .primary,
  #content .secondary {
    width: 100%;
  }

  .wrapper {
    background: none;
    border: 0;
    box-shadow: none;
  }

  .toolbar .breadcrumb {
    margin: 0 10px;
  }

  .module:first-child .module-heading {
    border-top-width: 1px;
  }

  /* Footer */
  #footer-navigation #media-links #media-links-img {
    width: 135px;
    margin: 10px 0;
  }

  #footer-navigation #media-links #media-links-img img {
    width: 100%;
  }

  #footer-navigation #media-links {
    width: auto;
    margin: 10px;
    height: auto;
  }

  #footer-navigation #media-links ul {
    width: auto;
    line-height: 20px;
    margin: 20px 0;
    list-style-type: none;
  }

  #footer-navigation #media-links ul li {
    border-left: none;
    padding: 0 14px;
  }

  #footer-navigation #admin-links {
    width: auto;
    padding: 0 10px;
  }

  .dataset-list .dataset-markers {
    margin-right: -10px;
  }

  .dataset-resources {
    margin-right: 0;
  }
}


.facet-expand-collapse {
	text-align : center;
	font-size : 12px;
	display : block;
	text-decoration : none;
	margin-top : 10px;
}

.facet-expand-collapse.expanded .collapser {
	display: block;
}

.facet-expand-collapse .collapser {
	display: none;
}

.facet-expand-collapse.expanded .expander {
	display: none;
}

.facet-expand-collapse .expander {
	display: block;
}

/* Phone only */
@media (max-width: 767px) {

  /* Content */
  .search-form .control-order-by {
    float: none;
    margin: 10px 0 0 0;
  }

  .module .module-content {
    padding: 10px;
  }

  .module .page-header {
    padding: 0;
  }

  .page-header .nav-tabs {
    margin-left: 5px;
  }

  .nav-tabs > li > a {
    padding: 10px 5px;
  }

  .nav-tabs > li > a > i {
    display: none;
  }

  .media-grid {
    margin: 0 -10px;
    width: 100%;
  }

  .container {
    width: auto;
  }

  /* Footer */
  #footer-navigation #media-links #media-links-img {
    width: 100px;
    margin: 5px 0;
  }

  #footer-navigation #media-links ul {
    margin: 10px 0;
  }

  #object-description .table.details .short-name,
  #object-description .table.details .data-type,
  #object-description .table.details .data-precision {
    width: auto!important;
  }

  .dataset-markers {
    margin-right: -10px;
  }

  .more-info-links li a {
    word-wrap: break-word;
  }

  .resource-item {
    padding: 10px 110px 10px 5px;
  }

  .resource-item .format-label {
    display: none;
  }

  .module-resource .actions {
    right: 0;
  }

  #version {
    padding-right: 15px;
  }
}

.trash-form {
	padding-top : 0;
	padding-bottom : 20px;
	margin-top : 5px;
	margin-bottom : 20px;
	border-top : 0;
	border-bottom : 1px solid #e5e5e5;
}

.add-member-or {
	float: left;
	margin-top: 25px;
	margin-bottom: 0px;
	width: 7%;
	text-align: center;
	text-transform: uppercase;
	color: #999999;
	font-weight: bold;
}

.member-controls {
	margin-top : 5px;
}

.member-controls input[type="text"] {
	margin-bottom : 0px;
}

.trash-actions {
	margin: 0;
	list-style: none;
	top: 10px;
	right: 10px;
	z-index: 1;
}

.trash-actions .btn {
	background-color: #87D4F5;
}
