{#
  Shows dataset dates (Created/published/archived ...).


  Example:
  	{% snippet 'package/snippets/dates_view.html', dates=pkg.dates%}

#}

{# For each date in the list of dates, show the details #}
{% set date = pkg.dates %}
{% for date in dates %}
	{% if date.type != 'Modified' and date.type != 'Published' %}
		<tr>
			<td><strong> Record {{ date.type }} </strong></td><td> {{ date.date }} </td>
		</tr>
	{% endif %}
{% endfor %}

{% if pkg.record_publish_date %}
	<tr>
		<td><strong> Record Published </strong></td><td> {{ pkg.record_publish_date }} </td>
	</tr>
{% endif %}
<tr>
	<td><strong> Record Last Modified </strong></td><td> {{ last_modified }} </td>
</tr>
