{% set dataset_title = h.record_type_label(type) %}

{% if org %}
    {% set org_title = h.edc_org_title(org) %}
{% endif %}

{% if branch %}
    {% set branch_title = h.edc_org_title(branch) %}
    {% set sectors = h.get_suborg_sectors(org_title, branch_title) %}
{% endif %}

{% if iso_topic_cat and iso_topic_cat != [] %}
	{% set iso_topic_title = iso_topic_cat[0] %}
{% else %}
	{% set iso_topic_title = None %}
{% endif %}

<ul class="dataset-markers">
    <li class="marker dataset-type {{ type|lower }}"><a href="{{ h.url_for(controller='package', action='search', type=type) }}">{{ dataset_title }}</a></li>
    {% if sectors %}
        {% for sec in sectors %}
            <li class="marker dataset-sector {{ sec|lower|replace(' ', '-')|replace('.', '-') }}"><a href="{{ h.url_for(controller='package', action='search', sector=sec) }}">{{ sec }}</a></li>
        {% endfor %}
    {% endif %}
    {% if iso_topic_cat and type == 'Geographic' %}
    <li class="marker dataset-iso"><a href="{{ h.url_for(controller='package', action='search', q='iso_topic_cat:' + iso_topic_title) }}">{{ iso_topic_title }}</a></li>
    {% endif %}
</ul>