{#
  Shows the organization and branch names.

  org : Organization ID.
  branch : branch ID

  Example:
  	{% snippet 'package/snippets/org_view.html', org=pkg.org, branch=pkg.sub_org %}

#}
{% if org %}
	{% set org_name = org.name %}
	{% set org_title = org.title %}
{% endif %}
{% if branch %}
	{% set branch_title = branch.title %}
	{% set branch_name = branch.name %}
{% endif %}
<a href="/organization/{{ org_name }}">{{ org_title }}</a>{% if branch_title and branch_name %} - <a href="{{ h.url_for(controller='package', action='search', organization=branch_name) }}">{{ branch_title }}</a> {% endif %}
