{% ckan_extends %}

{% block package_basic_fields_title %}
	{% resource 'edc_resource/edc_dataset.js' %}

	<div class="form-horizontal">
  	{{ form.input('title', id='field-title', label=_('Title'), placeholder=_('eg. A descriptive title'), value=data.title, error=errors.title, classes=['control-full', 'control-large'], is_required=true) }}

    {% set prefix = h.url_for(controller='package', action='read', id='') %}
    {% set domain = h.url_for(controller='package', action='read', id='', qualified=true) %}
    {% set domain = domain|replace("http://", "")|replace("https://", "") %}
    {% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain, 'data-module-placeholder': '<dataset>'} %}

    {{ form.prepend('name', id='field-name', label=_('URL'), prepend=prefix, placeholder=_('eg. my-dataset'), value=data.name, error=errors.name, classes=['control-full'], is_required=true) }}


    {% block edc_package_org %}
        {% snippet 'package/snippets/edc_orgs.html', data=data, user=userobj, errors=errors %}
    {% endblock %}
	</div>


{% endblock %}

{% block package_basic_fields_url %}
{% endblock %}


{% block package_basic_fields_description %}
    <div class="control-list control-full form-horizontal">
        <div class='required'>
            {{ form.markdown('notes', id='field-notes', label=_('Description'), placeholder=_('eg. Some useful notes about the data'), value=data.notes, error=errors.notes, is_required=true) }}
            {% if record_type != 'Application' and record_type != 'WebService' %}
            {{ form.markdown('purpose', label=_('Purpose'), placeholder=_('Summary of the intentions for which the dataset was developed.'), value=data.purpose, error=errors.purpose, classes=['purpose']) }}
            {% endif %}
            {% block more_info_links %}
                <div class="control-group control-medium form-horizontal">
                    {% block online_reference %}
                        {% snippet 'package/snippets/more_info.html', info_list=data.more_info, errors=errors %}
                    {% endblock %}
                </div>
            {% endblock %}
            {# set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source': '/api/3/util/tag/autocomplete?incomplete=?'} #}
            {% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': 'http://localhost:5000/api/3/action/tag_list', 'data-module-source': 'http://localhost:5000/api/3/action/tag_list'} %}
            {# form.input('tag_string', id='field-tags', label=_('Keywords'), placeholder=_('eg. economy, mental health, government'), value=data.tag_string, error=errors.tags, classes=['control-full'], attrs=tag_attrs) #}

    	    {% block edc_package_keywords %}
    		  {% snippet 'package/snippets/edc_keywords.html', data=data, user=userobj, errors=errors %}
    	    {% endblock %}

            {% if record_type != 'Application' and record_type != 'WebService' %}
            {% set topic_error = errors.iso_topic_cat %}
            <div class="control-group {{ " error" if topic_error }}">
                <label class="control-label" for="field-iso_topic_cat"><span class="control-required">*</span> {{ _("ISO Topic Category") }}</label>
                {% set topic_cat_list = h.edc_tags(_("iso_topic_category")) %}
                <div class="controls">
                    <select multiple id="field-iso_topic_cat" name="iso_topic_cat" data-module="autocomplete" class="required">
                        {% for tag in topic_cat_list  %}
                            {% set selected_cat = (tag in data.get('iso_topic_cat', [])) %}
                            <option value="{{ tag }}"
                                {% if selected_cat %} selected="selected" {% endif %}>
                                {{ tag }}
                            </option>
                        {% endfor %}
                    </select>
                    {% if topic_error and topic_error is iterable %}
                        <span class="error-block">{{ topic_error|join(', ') }}</span>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>

        {% block package_contact_fields %}
            <h3 class="module-sub-heading">Contacts</h3>
            {% snippet 'package/snippets/contact_fields.html', contacts=data.contacts, errors=errors, user=userobj %}
        {% endblock %}
    </div>

    {% block hidden_fields %}
    	<input type="hidden" id="field-owner_org" name="owner_org" value="" />
    	{% set author = data.author or userobj.id %}
    	<input type="hidden" id="field-author" name="author" value = "{{ author }}" />
        {% set record_create_date = data.record_create_date or null %}
        <input type="hidden" id="field-record_create_date" name="record_create_date" value = "{{ record_create_date }}" />
        {% set record_publish_date = data.record_publish_date or null %}
        <input type="hidden" id="field-record_publish_date" name="record_publish_date" value = "{{ record_publish_date }}" />
        {% set record_archive_date = data.record_archive_date or null %}
        <input type="hidden" id="field-record_archive_date" name="record_archive_date" value = "{{ record_archive_date }}" />
    {% endblock %}

<h3 class="module-sub-heading">Data Currency/Update</h3>
<div class="control-list">
	{% block package_dates_fields %}
        {% block resource_status_fields %}
            {% snippet 'package/snippets/resource_status_fields.html', data=data, errors=errors %}
        {% endblock %}
        {% if record_type != 'Application' and record_type != 'WebService' %}
		{% snippet 'package/snippets/date_fields.html', dates=data.dates, errors=errors %}
		{% endif %}
	{% endblock %}
</div>
	{% block package_security_classification %}
		{% set bc_ocio_error = errors.bc_ocio %}
    	<h3 class="module-sub-heading">Access & Security</h3>
    	<div class="control-list">
            {% block package_access_contraints %}
            <div class="row-fluid">
                <div class="span6">
            		<div class="control-group">
                        {% set view_error = errors.view_audience %}
                        {% set download_error = errors.download_audience %}
                        <div  class="required control-group control-medium{{ " error" if view_error }}">
                            <label class="control-label" for="field-view_audience"><span class="control-required">*</span> Who can view this data?</label>
                            {% set view_audience_list = h.edc_tags(_("viewable")) %}
                            <div class="controls">
                                <select id="field-view_audience" name="view_audience" data-module="autocomplete" class="required">
                                    <option value = '' {% if not selected_audience %} selected="selected" {% endif %} disabled>Select a view audience</option>
                                    {% for tag in view_audience_list %}
                                        {% set selected_audience = (tag in data.get('view_audience', [])) %}
                                        <option value="{{ tag }}"
                                            {% if tag == data.get('view_audience', None) %} selected="selected" {% endif %}>
                                            {{ tag }}
                                        </option>
                                    {% endfor %}
                                </select>
                                {% if view_error and view_error is iterable %}
                                    <span class="error-block">{{ view_error|join(', ') }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                    <div class="required control-group control-medium{{ " error" if download_error }}">
                        <label class="control-label" for="field-download_audience"><span class="control-required">*</span> Who can download this data?</label>
                        {% set download_audience_list = h.edc_tags(_("downloadable")) %}
                        <div class="controls">
                            <select id="field-download_audience" name="download_audience" data-module="autocomplete" class="required">
                                <option value ='' {% if not selected_audience %} selected="selected" {% endif %} disabled>Select a download audience</option>
                                {% for tag in download_audience_list  %}
                                    {% set selected_audience = (tag == data.get('download_audience', None)) %}
                                    <option value="{{ tag }}"
                                        {% if selected_audience %} selected="selected" {% endif %}>
                                        {{ tag }}
                                    </option>
                                {% endfor %}
                            </select>
                            {% if download_error and download_error is iterable %}
                                <span class="error-block">{{ download_error|join(', ') }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    {% block metadata_visibility %}
                        {% set metadata_visibility_error = errors.metadata_visibility %}
                        <div class="required control-group control-medium{{ " error" if metadata_visibility_error }}">
                            <label class="control-label" for="field-metadata_visibility"><span class="control-required">*</span> {{ _("Who can view this record?") }}</label>
                            <div class="controls">
                            {% set metadata_visibility_list = h.edc_tags(_("metadata_visibility"))  %}
                            <select id="field-metadata_visibility" name="metadata_visibility" data-module="autocomplete">
                                <option value ='' {% if not selected_visibility %} selected="selected" {% endif %} disabled>Select metadata visibility</option>
                                {% for tag in metadata_visibility_list  %}
                                    {% set selected_visibility = (tag == data.get('metadata_visibility', None)) %}
                                    <option value="{{ tag }}"
                                        {% if selected_visibility %} selected="selected" {% endif %}>
                                        {{ tag }}
                                    </option>
                                {% endfor %}
                            </select>
                            {% if metadata_visibility_error and metadata_visibility_error is iterable %}
                                <span class="error-block">{{ metadata_visibility_error|join(', ') }}</span>
                            {% endif %}
                            </div>
                        </div>
                    {% endblock %}
                </div>
                <div class="span6">
                    {% set error = errors.license_id %}
                    <div class="control-group{{ " error" if error }}">
                      <label class="control-label" for="field-license"><span class="control-required">*</span> {{ _("License") }}</label>
                      <div class="controls">
                        <select id="field-license" name="license_id" data-module="autocomplete">
                          <option value ='' {% if not license_id %} selected="selected" {% endif %} disabled>Select license</option>
                          {% for license_desc, license_id in licenses|sort if license_desc  %}
                            <option value="{{ license_id }}" {% if data.get('license_id', None) == license_id %}selected="selected"{% endif %}>{{ license_desc }}</option>
                          {% endfor %}
                        </select>
                        {% if error %}<span class="error-block">{{ error|join(', ') }}</span>{% endif %}
                      </div>
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span6">
                    {% set security_class_error = errors.security_class %}
                    <div class="required control-group control-medium{{ " error" if security_class_error }}">
                        <label class="control-label" for="field-security_class"><span class="control-required">*</span> {{ _("Security Classification") }}</label>
                        <div class="controls">
                            {% set security_class_list = h.edc_tags(_("security_class")) %}
                            <select id="field-security_class" name="security_class" data-module="autocomplete" class="required">
                                <option value ='' {% if not selected_class %} selected="selected" {% endif %} disabled>Select a security classification</option>
                                {% for tag in security_class_list  %}
                                    <option value="{{ tag }}"
                                        {% if tag == data.get('security_class', None) %} selected="selected" {% endif %}>
                                        {{ tag }}
                                    </option>
                                {% endfor %}
                            </select>
                            {% if security_class_error and security_class_error is iterable %}
                                <span class="error-block">{{ security_class_error|join(', ') }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="span4">
                    {% block package_privacy %}
                        {% set pa_error = errors.privacy_impact_assessment %}
                        {% set pa = data.get('privacy_impact_assessment', 'No') %}
                        <div class="required control-group{{ " error" if pa_error }}">
                            <label class="control-label"><span class="control-required">*</span> Has a privacy impact assessment been completed on this data?</label>
                            <div clss="controls">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="privacy_impact_assessment" value="Yes"
                                            {% if pa == 'Yes' %} checked="checked" {% endif %} >Yes
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="privacy_impact_assessment" value="No"
                                            {% if pa == 'No' %} checked="checked" {% endif %}>No
                                    </label>
                                </div>
                            </div>
                            {% if pa_error and pa_error is iterable %}<span class="error-block">{{ pa_error|join(', ') }}</span>{% endif %}
                        </div>
                    {% endblock %}
                </div>
            </div>
            {% endblock %}
    	</div>
	{% endblock %}

	{% block data_quality_info %}
    	{% if record_type == _('Geographic') %}
    		<div id="object_name_container" class="control-full">
        		{{ form.input('object_name',
        						label=_("Object Name"),
        						id='field-object_name',
        						placeholder=_(''),
        						value=data.object_name,
        						error=errors.object_name,
        						classes=['control-full']) }}

    		</div>
    	{% endif %}
	{% endblock %}
{% endblock %}

{% block package_basic_fields_license %}
{% endblock %}

{% block package_basic_fields_custom %}

	{{ super() }}

{% endblock %}

{% block package_basic_fields_tags %}
{% endblock %}

{% block package_metadata_fields_visibility %}
{% endblock %}

{% block package_basic_fields_org %}
{% endblock %}