{% import 'macros/form.html' as form %}

{% set current_state = data.edc_state or _('Draft') %}
{% set archived = current_state == "ARCHIVED" %}
{% set action = c.form_action or '' %}
{% set record_type = data.type or c.record_type %}
{% set form_style = c.form_style or c.action %}
{% set user = c.user %}
{% set userobj = c.userobj %}

{# This provides a full page that renders a form for adding a dataset. It can
then itself be extended to add/remove blocks of functionality. #}

<form id="form-edc_dataset" class="dataset-form {% if archived %} archived {% endif %}" method="post" action="{{ action }}" data-module="basic-form" enctype="multipart/form-data">

  {% block stages %}
    {{ h.snippet('package/snippets/stages.html', stages=stage) }}
  {% endblock %}

  <input type="hidden" name="_ckan_phase" value="dataset_new_1" />
  {# pkg_name used in 3 stage edit #}
  <input type="hidden" name="pkg_name" value="{{ data.id }}" />

{% block errors %}
{# showing the list of validation errors. #}
{% if errors %}
	<div class="error-explanation alert alert-error">
	<p>{{ _('The form contains invalid entries. Please fix the following errors :') }}</p>
      <ul>
        {% for key, error_list in errors.items() %}
        	{% for error in error_list %}
        	{# check if error is simply a list of validation errors or another level of key, error #}
        		{% if error is mapping %}
        			{% if not error == {} %}
        			<li date-field-label="{{ key }}"> {{ key }}[{{ loop.index }}]: </li>
        			<ul>
        				{# for each given filed(key) in the dictionary show the list of validation errors #}
        				{% for err_key, err_vals in error.items() %}
        					{% set len2 = err_vals|length %}
        					<li date-field-label="{{ err_key }}"> {{ err_key }} :
        						{# Add each validation error to the li tag #}
        						{% for err_val in err_vals %}
        							{{ err_val }}
        							{#We don't need extra "," for the last error in the list #}
        							{% if loop.index < len2 %}, {% endif %}
        						{% endfor %}
        					</li>
        				{% endfor %}
        			</ul>
        			{% endif %}
        		{% else %}
        			{% set len1 = error_list|length %}
        			<li date-field-label="{{ key }}"> {{ key }} :
        			{% for err_val in error_list %}
        				{{ err_val }}
        				{% if loop.index < len1 %}, {% endif %}
        			{% endfor %}
        			</li>
        		{% endif %}
        	{% endfor %}
        {% endfor %}
      </ul>
	</div>
{% endif %}

{% endblock %}


{% block basic_fields %}
{% resource 'edc_resource/edc_schema.css' %}
{% resource 'edc_resource/jquery-ui.css' %}
{% resource 'edc_resource/jquery-ui.js' %}

{% block package_header %}

  {% block dataset_type %}
    <div class="package-type">
        <strong>{{ _("Record Type") }}</strong> <em>{{ h.record_type_label(record_type) }}</em>
    </div>
  {% endblock %}

  {% block form_actions_header %}
    <div class="form-actions-header">
      <button class="btn btn-primary btn-sm" type="submit" name="save" id="save1" onclick="this.style.visibility = 'hidden';document.getElementById('save1').style.visibility='hidden';">{% block save_button_text_header %}{{ _('Next: Add Data') }}{% endblock %}</button>
    </div>
  {% endblock %}

	{% set state_options = h.edc_state_values(c.userobj, data) %}
	<div class="control-group form-horizontal">
		<label class="control-label" for="field-edc_state">State</label>
		<div class="controls">
        <select id="field-edc_state" name="edc_state" data-module="autocomplete" class="required">
      		{% for state in state_options %}
      			{% set selected_state = (current_state and current_state == state) %}
      			<option value="{{ state }}"
      				{% if selected_state %} selected="selected" {% endif %}>
      				{{ state }}
      			</option>
      		{% endfor %}
        </select>
		</div>

	</div>
{% endblock %}


{% snippet 'package/snippets/package_basic_fields.html', record_type=c.record_type, data=data, errors=errors, licenses=c.licenses, groups_available=c.groups_available, user=user, userobj=userobj %}

{% endblock %}

{% block metadata_fields %}
    {% snippet 'package/snippets/package_metadata_fields.html', record_type=record_type, data=data, errors=errors, user_id=user, userobj=userobj %}
{% endblock %}

  {% block form_actions %}
    <div class="form-actions">
      {# block disclaimer %}
        <p class="action-info small">
          {%- trans -%}
          Important: By submitting content, you
          agree to release your contributions under the Open Database
          License.
          {%- endtrans -%}
        </p>
      {% endblock #}
      {% block delete_button %}
        {% if current_state.startswith('DRAFT') %}
          {% if h.check_access('package_delete', {'id': data.id}) and not data.state == 'deleted' %}
            {% set locale = h.dump_json({'content': _('Are you sure you want to delete this dataset?')}) %}
            <a class="btn btn-danger pull-left" href="{% url_for controller='package', action='delete', id=data.id %}" data-module="confirm-action" data-module-i18n="{{ locale }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
          {% endif %}
        {% endif %}
      {% endblock %}
      <button class="btn btn-primary" type="submit" name="save" id="save2" onclick="this.style.visibility = 'hidden';document.getElementById('save2').style.visibility='hidden';">{% block save_button_text %}{{ _('Next: Add Data') }}{% endblock %}</button>
    </div>
  {% endblock %}

  <div id="state_confirm_dialog" class="modal-dialog">
	<p align="justify">
		If you are publishing this dataset as BC Open Data, clicking "Confirm" indicates you have completed the Open Data Checklist and the Open Data Approval has been signed.
		Please see Open Information and Open Data Policy V1.0 for the checklist and approval form.
	</p>
		<br/>
		<a href="http://www.cio.gov.bc.ca/local/cio/kis/pdfs/open_data.pdf">http://www.cio.gov.bc.ca/local/cio/kis/pdfs/open_data.pdf</a>
  </div>
</form>
