/* do not display the topics for the subtheme navigation at bottom of page */
#area-botsubthemenav .subtheme_navigation .topics {
	display:none;
}

.subthemes,
.subthemes menu {
	height: 46px;
}

.subthemes menu {
	width: 960px;
}

.subthemes li {
	display: table;		
	height: 46px;
	width: 120px;
	float: left;
	background: url(/assets/gov/images/subtheme_nav_spacer.png) no-repeat 0 0;
/*	*position:relative;	*/
}

.subthemes li:first-child {
	background: none;
}

.subthemes li a {
/*	*position:absolute;	*/
/*	*top: 50%;			*/
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 110px;
	padding: 0 5px;
	color: white;
	text-decoration: none;
	cursor: pointer;
	*float: left;
	*padding-top: 5px;
	*height: 41px;
}
	
.subthemes li a:hover {
	background: #636c7b;
	text-decoration: underline;
}

/* remove left spacer on next li element */
.subthemes li:hover+li {
	background: none;
}

/* remove left spacer on next li element */
.subthemes li.current+li {
	background: none;
}


.subthemes li.current a {
	background-color: #e1e3e6;
	color: #283649;
}

.subthemes li a span {
/*	*position:relative;	*/
/*	*top: -50%;			*/
}


.topics  {
	height: 19px;
	padding-top:5px;
}

.topics li {
	font-family: verdana, arial, sans-serif;
	min-width: 60px;
	padding: 0 5px;
	text-align:center;
	float:left;
	border-left: solid 1px #979FAF;
	font-size: 88%;
}

.topics li:first-child {
    border-left: none 0;
}

.topics li a {
	color: #151515;
	text-decoration: none;
}

.topics li a:hover {
	text-decoration: underline;
}

.topics li.current a {
	font-weight: bold;
}
