/* ---- Layout Overrides ---------------------------------------------------- */
/* Center content on page */
/*.ls-canvas { margin: 0 auto; }*/
/* Support collapsing of empty sidebars */
#area-contentleft { float: left !important; /*width: auto !important;*/ }
#area-contentright { float: right !important; /*width: auto !important;*/ }
#col-contentmain, #col-contentmain .ls-col-body, #col-contentmain .ls-fxr { float: none !important; width: auto !important; }
#area-contentmain, #area-contentfoot { float: none !important; width: auto !important; display: block; }

#area-contentmain .ls-area-body { width: auto !important; }

/* Prevent components with floating containers from collapsing in Edit mode (fix drag+drop) */
#page-edit-html .iw_component > .content > div > div { overflow: hidden; }
/* Fix the weird LiveSite spacing thing that misaligns floats */
.ls-canvas .ls-cmp-wrap { padding: 0 !important; }
.ls-canvas .iw_component { margin: 0 !important; }
/* Fix cascading of body background into TinyMCE */
body#tinymce { background: none; }


/* ---- Global Layout ------------------------------------------------------- */

.ls-canvas {width:auto!important;}
.ls-fxr {width:auto!important;}

#row-navtheme {background:#394559 url(/assets/gov/images/bg_navtheme.png) repeat-x left top;}
#row-navtheme #area-navtheme {margin:0 auto;}

#row-header {background-color:#394559;}
#row-header #area-header {margin:0 auto;}

#row-topsubthemenav {
	min-height:1px; /* needed to display background properly in IE7 */
}

#row-topsubthemenav #area-topsubthemenav {margin:0 auto;}

#row-subheader {width:960px; margin:10px auto 20px auto;}

#row-content {width:960px;margin:0 auto 80px auto;}
/*
#row-content #area-contentleft {width:195px !important;margin-right:15px;}
#row-content #area-contentright {width:275px !important;margin-left:15px;}
*/
#row-botsubthemenav {background-color:#535D6E;}
#row-botsubthemenav #area-botsubthemenav {margin:0 auto;}

#row-footer {background-color:#394559;}
#row-footer #area-footer {margin:0 auto;}

/* Navigation active border fixes */
.ls-canvas .ls-area-body,
.ls-canvas .ls-area,
#ls-gen13-ls-area-body.ls-area-body {
	overflow: visible
}
.topic_body {
	overflow: hidden;
}


