<?xml version="1.0" encoding="utf-8" ?>
<rss version="2.0">
<channel>
<title>
Province of British Columbia BC Data Catalogue RSS Feed
</title>
<link>{{ h.full_current_url() }}</link>
<description>
An RSS Feed of the contents of the Province of British Columbia's Data Catalogue
</description>

{% for result in results %}
    <item>
        <title>{{ result.title }}</title>
        <description>{{ result.notes }}</description>
        <link>{{ base_url }}{{ h.url_for(controller='package', action='read', id=result.name) }}</link>
        <guid>{{ base_url }}{{ h.url_for(controller='package', action='read', id=result.id) }}</guid>
        <pubDate>{{ result.publish_date }}</pubDate>
    </item>
{% endfor %}

</channel>
</rss>