{% ckan_extends %}

{% block custom_styles %}
{{ super() }}
{% resource 'idir/idir.css' %}
{% endblock %}

{% block primary_content %}
  <section class="module">
    <div class="module-content">
      <h1 class="page-heading"><a href="{{ h.get_eas_login_url() }}">Log In</a></h1>


      <fieldset>
        {% block form %}
          {% snippet "snippets/login_form.html", action=c.login_handler, error_summary=error_summary %}
        {% endblock %}
      </fieldset>
    </div>
  </section>
{% endblock %}

{% block secondary_content %}{% endblock %}