{% extends "page.html" %}

{% block subtitle %}
	Authorization error
{% endblock %}

{% block primary_content %}
<article class="module">
    {% resource 'edc_resource/edc_schema.css' %}
	<header class="module-content page-header auth-error">
		<div >
			<span>Authorization error</span>
		</div>
	</header>
	<div class="module-content auth-content">
	<p>
	You are not authorized to access this page.
	If you believe this is an error please contact <a href="mailto:data@gov.bc.ca">
	data@gov.bc.ca</a>.
	</p>
	</div>
</article>
{% endblock %}

{% block secondary %}
{% endblock %}