{% block facet_list %}
  {% set hide_empty = hide_empty or false %}
  {% set selected_items = selected_items or h.get_facets_selected(name) %}
  {% set unselected_items = unselected_items or h.get_facets_unselected(name) %}
  
  {% if selected_items or unselected_items or not hide_empty %}
  
      {% if within_tertiary %}
        {% set nav_class = 'nav nav-pills nav-stacked' %}
        {% set nav_item_class = ' ' %}
        {% set wrapper_class = 'nav-facet nav-facet-tertiary' %}
      {% endif %}
      
      {% block facet_list_item %}
        <section class="{{ wrapper_class or 'module module-narrow module-shallow' }}">
          {% block facet_list_heading %}
            <h2 class="module-heading">
              <i class="icon-medium icon-filter"></i>
              {% set title = title or h.get_facet_title(name) %}
              {{ title }}
            </h2>
          {% endblock %}
          {% block facet_list_items %}
  			{% set selected_items = selected_items or h.get_facets_selected(name) %}
  			{% set unselected_items = unselected_items or h.get_facets_unselected(name) %}
            unselected : {{ unselected_items }}
          	{% if selected_items or unselected_items %}
            	<nav>
                	<ul class="{{ nav_class or 'unstyled nav nav-simple nav-facet' }}">
                		{% for item in selected_items %}
                    		{% set href = h.remove_url_param(name, item.name, extras=extras, alternative_url=alternative_url) %}
                    		{% set label = label_function(item) if label_function else item.display_name %}
                    		{% set label_truncated = h.truncate(label, 22) if not label_function else label %}
                    		{% set count = count_label(item['count']) if count_label else ('(%d)' % item['count']) %}
                      		<li class="{{ nav_item_class or 'nav-item' }} active">
                        		<a href="{{ href }}" title="{{ label if label != label_truncated else '' }}">
                        		{% if title == 'Format' %}
                        			{% set label_truncated = label_truncated.lower() %}
                        		{% endif %}
                          			<span>{{ label_truncated }} {{ count }}</span>
                        		</a>
                      		</li>
                		{% endfor %}
                		{% for item in unselected_items %}
                			{% set overflow = (loop.index > 5) %}
                    		{% set href = h.add_url_param(new_params={name: item.name}, extras=extras, alternative_url=alternative_url) %}
                    		{% set label = label_function(item) if label_function else item.display_name %}
                    		{% set label_truncated = h.truncate(label, 22) if not label_function else label %}
                    		{% set count = count_label(item['count']) if count_label else ('(%d)' % item['count']) %}
                      		<li class="{{ nav_item_class or 'nav-item' }} {% if overflow %} more-{{ more_button }} {% endif %}" style="{% if overflow %} display:none; {% endif %}">
                        		<a href="{{ href }}" title="{{ label if label != label_truncated else '' }}">
                        		{% if title == 'Format' %}
                        			{% set label_truncated = label_truncated.lower() %}
                        		{% endif %}
                          			<span>{{ label_truncated }} {{ count }}</span>
                        		</a>
                      		</li>
                		{% endfor %}
                	</ul>
				</nav>          	
                	{% if unselected_items|length > 5 %}
                		<a id="{{ more_button }}" class="facet-expand-collapse" >
                			<div class="expander">
                				<i class="icon-angle-down"></i>&nbsp; Show more &nbsp;<i class="icon-angle-down"></i>
                			</div>
                			<div class="collapser">
                				<i class="icon-angle-up"></i>&nbsp; Show less &nbsp;<i class="icon-angle-up"></i>
                			</div>
                		</a>
                	{% endif %}
            {% else %}
            	<p class="module-content empty">{{ _('There are no {facet_type} that match this search').format(facet_type=title) }}</p>
          	{% endif %}          
          {% endblock %}
        </section>
      {% endblock %}  
  {% endif %}
{% endblock %}
