{#
This template shows the list of available organization in a searcable tree view.
#}

<div class="org-hierarchy no-search">
    {% set orgs = top_orgs %}
    {% for org in orgs recursive %}
    	{% set is_top_org = org['is_top_org'] %}
    <div class="organization {{ "top-org" if is_top_org }} collapsed">
        {% if org.children %}
            <button class="btn js-expand">
                <i class="icon icon-plus"></i>
            </button>
            <button class="btn js-collapse">
                <i class="icon icon-minus"></i>
            </button>
        {% endif %}
        <div class="org-row">
            {% link_for org.title + " (" + org.pkg_num + ")", controller='organization', action='read', id=org.name %}
        </div>
        
        {% if org.children %}
         {{ loop(org.children) }}   
        {% endif %}
    </div>
    {% endfor %}
</div>