<div id="edc-mow" class="modal hide fade" tabindex="-1" role="dialog"
  data-module="edc_mow"
  data-module-secure_call="{{ c.user or False }}"
  data-module-object_name="{{ pkg_obj_name or False }}"
  data-module-package_id="{{ pkg_id }}"
  data-module-mow_max_aoi_url="{{ h.url_for('ofi api', call_action='get_max_aoi') }}"
  data-module-aoi_create_order_url="{{ h.url_for('ofi api', call_action='ofi_create_order') }}"
  style="width: 800px; margin-left: -400px;"
>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="modal-title">
        Pan and zoom this map to select the geographic area of data to download. Then enter your email address.
        </h3>
    </div>

    <div class="modal-body" style="min-height: 50vh;">
        <div id="mow-content" height="450px">
          <div id="mow-err" class="alert alert-error" style="display: none">
            <strong>Error:</strong> Unable to determine the maximum downloadable area for this dataset.
          </div>

          <div id="mow-debug" class="alert alert-block" style="display: none">
          </div>

          <div id="mow-order" style="display: none">
          </div>

          <div id="mow-ready" style="display: none">
          <table width="100%">
          <tr>
          <td valign="top" width="385px" height="385px">
            <div class="col-md-6" id="map" style="height:385px; width:385px;"></div>
          </td>
          <td valign="top">

            <!-- TODO:
            If the area for object is beyond the provincial scope as measured by full extent display this text with the URL tied to the package UUID.
            -->
            <!--p>Due to its size, this dataset cannot be downloaded at the provincial extent from here.
              Please check the <a href="https://catalogue.data.gov.bc.ca/dataset/2ebb35d8-c82f-4a17-9c96-612ac3532d55">catalogue record</a> for an alternative provincial file / resource for download.
            </p-->
          
            <form id="aoi-order-form" style="padding-left: 10px;" class="form-horizontal">

              <div id="area-info">
                <p><strong>Due to the size of this dataset, please select an area of less than </strong> <span class="max-area-hectares"></span> hectares</p>

                <p><strong>Current area selected is:</strong> <span id="selected-area"></span> hectares</p>

                <div id="area-warning" class="alert alert-warning">
                  <span id="area-warning-text">Please select an area &lt; <span class="max-area-hectares"></span> hectares</span>
                </div>
              </div>

              <div id="map-proj" class="control-group">
                <label for="map_projection" class="control-label">Map projection:</label>
                <div class="controls">
                  <select name="EPSG" id="map_projection">
                    {% for proj in projections %}
                    <option value="{{ proj.crsTypeId }}">{{ proj.crsName }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div id="email" class="control-group">
                <label for="email1" class="control-label">Email address:</label>
                <div class="controls">
                  <input type="email" class="form-control" id="email1" autocomplete="on" data-content="An email will be received once order is placed and when data is ready for download." />
                </div>
              </div>

              <div id="consent" class="control-group">
                <label class="checkbox">
                  <input id="consent-check" type="checkbox" />
                  I consent to the collection of my email address as per the terms.
                </label>

                <p id="consent-terms">
                  <small>
                 The information on this form is collected under the authority of Sections 26(c) and 27(1)(c) of the Freedom of Information and Protection of Privacy Act [RSBC 1996 c.165], and will help us to assess and respond to your enquiry.
                 By consenting to submit this form you are confirming that you are authorized to provide information of individuals/organizations/businesses for the purpose of your enquiry.
                  </small>
                </p>
              </div>
            </form>

          </td>
          </tr>
          </table>
          </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button id="order-btn" class="btn btn-primary">Place order</button>
    </div>

    {# TODO: stop animation when not visible #}
    <div id="loading" class="overlay-wrap">
        <div class="add-data-loader">Loading...</div>
    </div>


</div>

{% resource 'ckanext-geoview/geojson' %}
{% resource 'edc_resource/leaflet-ext/leaflet.draw/0.4.0/dist/leaflet.draw.js' %}
{% resource 'edc_resource/edc_mow.js' %}
{% resource 'edc_resource/edc_mow_style.css' %}

