<div class="navigationRibbon">      
    <div class="level2Navigation">
        <div class="container">
          <div class="account-container">
              {% block header_account_container_content %}
                {% if userobj %}
                  <div class="account avatar authed" data-module="me" data-me="{{ userobj.id }}">
                      {% block header_account_logged %}
                      {% if userobj.sysadmin %}
                          <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
                            <i class="fa fa-legal icon-legal"></i>
                          </a>
                      {% endif %}
                        <a href="{{ h.url_for(controller='user', action='read', id=userobj.name) }}" class="image" title="{{ _('View profile') }}">
                          {{ h.gravatar((userobj.email_hash if c and userobj else ''), size=22) }}
                          <span class="username">{{ userobj.display_name }}</span>
                        </a>
                      {% set new_activities = h.new_activities() %}
                      {# <a class="notifications {% if new_activities > 0 %}notifications-important{% endif %}"> #}
                        {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities) %}
                        <a href="{{ h.url_for(controller='user', action='dashboard') }}" title="{{ notifications_tooltip }}">
                          <i class="fa fa-dashboard icon-dashboard"></i>
                          <span>{{ new_activities }}</span>
                        </a>
                      {# </a> #}
                      {# % block header_account_settings_link %}
                          <a href="{{ h.url_for(controller='user', action='edit', id=userobj.name) }}" title="{{ _('Edit settings') }}">
                            <i class="icon-cog"></i>
                          </a>
                      {% endblock % #}
                      {% block header_account_log_out_link %}
                          <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                            <i class="fa fa-sign-out icon-signout"></i>
                          </a>
                      {% endblock %}
                      {% endblock %}
                  </div>
                {% else %}
                  <nav class="account not-authed">
                    {% block header_account_notlogged %}
                      {% block header_account_notlogged_login %}
                        {% if h.get_eas_login_url() %}
                          <a href="{{ h.get_eas_login_url() }}">Log in</a>
                        {% else %}
                          <a href="{{ h.url_for('/user/login') }}">Log in</a>
                        {% endif %}
                      {% endblock %}
                    {% endblock %}
                  </nav>
                {% endif %}
              {% endblock %}
          </div>
          
          <a href="http://www2.gov.bc.ca/gov/content/governments/about-the-bc-government/databc">What is DataBC?</a>
          <a href="https://www2.gov.bc.ca/gov/content/data/bc-data-catalogue/bc-data-catalogue-about/bc-data-catalogue-user-guide">User Guide</a>
          <a href="{{ h.url_for(controller='ckanext.ga_report.controller:GaDatasetReport', action='read') }}">Dataset Usage</a>
          <a href="http://www2.gov.bc.ca/gov/content/governments/about-the-bc-government/databc/geographic-data-and-services">Geographic Services</a>
          <a href="https://engage.gov.bc.ca/data/">Blog</a>
          <a href="https://www.bcdevexchange.org/">Developers</a>
          <a href="https://forms.gov.bc.ca/databc-contact-us/">Contact</a>
        </div>
    </div>
</div>

<div class="navigationRibbon sub-navigation">   
  <div class="level3Navigation">
    <div class="container">
      <a href="{{ h.url('/dataset') }}">Datasets</a>
      <a href="{{ h.url('/organization') }}">Organizations</a>
      <a href="{{ h.url('/groups') }}">Groups</a>
      <div class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-rss icon-rss"></i> Stay Up To Date</a>
        <ul class="dropdown-menu">
          <li><a href="{{ h.url_for(controller='ckanext.edc_rss.controllers.rss:RSSController', action='recent') }}" title="Subscribe to New data"><span>Subscribe to New Data</span></a></li>
          {% if 'edc_disqus' in g.plugins %}
            <li><a href="http://{{ h.disqus_get_forum_name() }}.disqus.com/latest.rss">Subscribe to Catalogue Comments</a></li>
          {% endif %}
          <li><a href="https://engage.gov.bc.ca/data/feed/" target="_blank" rel="noopener noreferrer">Subscribe to Blog Posts</a></li>
        </ul>
      </div>
      <a href="{{ h.url('/about') }}">About</a>
    </div>
  </div>          
</div>
