{% set current_url = h.full_current_url() %}
<ul class="dropdown-menu">
<li><a href="https://plus.google.com/share?url={{ current_url }}" target="_blank" rel="noopener noreferrer" title="Share this page on Google+"><i class="fa fa-google-plus icon-google-plus-sign"></i> Google+</a></li>
<li><a href="https://twitter.com/share?url={{ current_url }}" target="_blank" rel="noopener noreferrer" title="Share this page on Twitter"><i class="fa fa-twitter icon-twitter-sign"></i> Twitter</a></li>
<li><a href="https://www.facebook.com/sharer.php?u={{ current_url }}" target="_blank" rel="noopener noreferrer" title="Share this page on Facebook"><i class="fa fa-facebook-square icon-facebook-sign"></i> Facebook</a></li>
<li><a href="http://www.linkedin.com/shareArticle?mini=true&url={{ current_url }}" target="_blank" rel="noopener noreferrer" title="Share this page on LinkedIn"><i class="fa fa-linkedin-square icon-linkedin-sign"></i> LinkedIn</a></li>
</ul>